{%  block bigpicture %}
{% set page = get(page.bigpicture_url) %}
<a href="{{ page.root_path }}{{page.permalink}}" class="mobile_link"><img src="{{ page.thumb.url }}" class="img-responsive col-xs-12 mobile_bigpicture"></a>
<div id="mobile-news-caption" class="cols-xs-12">
{% if page.tag %}<h3>#{{ page.tag }}</h3>{% endif %}
<h1><a href="{{ page.root_path }}{{page.permalink}}">{{ page.title }}</a></h1>
<p>
{% if page.description|striptags|length <= 90  %}
{% if page.description %}<b>{{ page.description }}</b>&nbsp;|&nbsp;{% endif %}{{ page.content|striptags|cutmethatshit(0,140) }}..
{% else %}
{{ page.description }}
{% endif %}
			{% if langue == "fr" %}
			<h4><a href="{{ page.root_path }}{{page.permalink}}">Lire la suite</a></h4>
			{% else %}
			<h4><a href="{{ page.root_path }}{{page.permalink}}">Read more</a></h4>
			{% endif %}

</p>
</div>

<div id="feature-news" data-background="{{ page.thumb.url }}" style="background-image: url(&quot;{{ page.thumb.url }}&quot;); background-position: 50% bottom;">
<div id="feature-news-caption">
{% if page.tag %}<h3>#{{ page.tag }}</h3>{% endif %}
<h1><a href="{{ page.root_path }}{{page.permalink}}">{{ page.title }}</a></h1>
<p>
{% if page.description|striptags|length <= 90  %}
{% if page.description %}<b>{{ page.description }}</b>&nbsp;|&nbsp;{% endif %}{{ page.content|striptags|cutmethatshit(0,140) }}..
{% else %}
{{ page.description }}
{% endif %}
			{% if langue == "fr" %}
			<h4><a href="{{ page.root_path }}{{page.permalink}}">Lire la suite</a></h4>
			{% else %}
			<h4><a href="{{ page.root_path }}{{page.permalink}}">Read more</a></h4>
			{% endif %}

</p>
</div>
</div>
{%  endblock %}