
<div class="wrapper_article_box"><!-- wrapper_article_box -->
<div class="article_boxlarge"><!-- article_boxlarge -->
<div class="row no-gutters"><!-- row -->
<div class="col-md-6 col-sm-6 col-xs-12"><!-- cell -->
{% if child.vimeo1 %}
	<div class="flex-video widescreen vimeo">
	<iframe src="https://player.vimeo.com/video/{{ child.vimeo1 }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	</div>
{% else %}

	{% if child.youtube1 %} 
	<div class="flex-video">
	    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ child.youtube1 }}" frameborder="0" allowfullscreen></iframe>
	</div>
	{% else %}
    <a href="{{ child.root_path }}{{child.permalink}}" class="image-holder">
      <img id="headar1" src="{{ child.thumb.url }}"  class="img-responsive col-xs-12" />
    </a>
	{% endif %} 
 
{% endif %}
</div><!-- #cell -->
<div class="col-md-6 col-sm-6 col-xs-12" style=""><!-- cell -->
<div class="sec"><!-- sec -->
			{% if child.tag %}<span class="hashtag"> #{{ child.tag }}</span>{% endif %}

	{% if child.content|striptags|length <= 700  %}<!-- box brève courte -->
	<h3><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h3>
	{% endif %} <!-- # brève courte -->
	{% if child.content|striptags|length >= 701 and child.content|striptags|length <= 1000  %}<!-- box brève longue -->
	<h3><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h3>
	{% endif %} <!-- # brève longue -->
	{% if child.content|striptags|length >= 1001  %}<!-- box article -->
	<h1><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h1>
	{% endif %} <!-- # article -->


		<span class="divblack"></span>
		
	    <p class="post-meta"> 

{% if child.description|striptags|length <= 90  %}
<span class="description">{% if child.description %}<b>{{ child.description }}</b>&nbsp;|&nbsp;{% endif %}{{ child.content|striptags|cutmethatshit(0,140) }}..</span>
{% else %}
<span class="description">{{ child.description }}</span>
{% endif %}
	    

	    </p>

	<span class="divblack"></span>
	<div id="briefbuttons">
	<a href="https://twitter.com/share?text={{ child.title|striptags }}&url=https://radicalcinema.org/{{child.permalink}}&via=radicalcinema" target="_blank" class="sTwitter"><i class="fa fa-twitter"></i>{% if langue == "en" %} Tweet!{% else %} Tweeter {% endif %}</a>
	<a href="https://www.facebook.com/sharer.php?u=https://radicalcinema.org/{{child.permalink}}" target="_blank" class="sFacebook"><i class="fa fa-facebook-square"></i>{% if langue == "en" %} Share{% else %} Partager{% endif %}</a>
	</div>

</div><!-- #sec -->    
</div><!-- #cell -->
</div><!-- #row -->
</div><!-- #article_boxlarge -->
</div><!-- #wrapper_article_box -->

