
<div class="wrapper_article_box"><!-- wrapper_article_boxlarge -->
<div class="article_boxlarge article_boxbrief"><!-- article_boxlarge -->
{% if child.tag %}<span class="hashtag"> #{{ child.tag }}</span>{% endif %}
	{% if child.content|striptags|length <= 700  %}<!-- box brève courte -->
	<h3><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h3>
	{% endif %} <!-- # brève courte -->
	{% if child.content|striptags|length >= 701 and child.content|striptags|length <= 1000  %}<!-- box brève longue -->
	<h3><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h3>
	{% endif %} <!-- # brève longue -->
	{% if child.content|striptags|length >= 1001  %}<!-- box article -->
	<h1><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h1>
	{% endif %}

<!-- auteur + description -->
{% if child.description %}<p class="post-meta">{{ child.description }}</p>{% endif %}
<!-- #auteur + description -->
<span class="divblack2"></span>

<div class="simplebrief">
{{ child.content }}
</div>

	<span class="divblack"></span>
	<div id="briefbuttons">
	<a href="https://twitter.com/share?text={{ child.title|striptags }}&url=https://radicalcinema.org/{{child.permalink}}&via=radicalcinema" target="_blank" class="sTwitter"><i class="fa fa-twitter"></i>{% if langue == "en" %} Tweet!{% else %} Tweeter {% endif %}</a>
	<a href="https://www.facebook.com/sharer.php?u=https://radicalcinema.org/{{child.permalink}}" target="_blank" class="sFacebook"><i class="fa fa-facebook-square"></i>{% if langue == "en" %} Share{% else %} Partager{% endif %}</a>
	</div>
	
</div><!-- #article_boxlarge -->
</div><!-- #wrapper_article_box -->
