
<div class="wrapper_article_box"><!-- wrapper_article_boxlarge -->
<div class="article_boxlarge article_boxbrief"><!-- article_boxlarge -->
{% if child.tag %}<span class="hashtag"> #{{ child.tag }}</span>{% endif %}
	{% if child.content|striptags|length <= 700  %}<!-- box brève courte -->
	<h3><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h3>
	{% endif %} <!-- # brève courte -->
	{% if child.content|striptags|length >= 701 and child.content|striptags|length <= 1000  %}<!-- box brève longue -->
	<h3><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h3>
	{% endif %} <!-- # brève longue -->
	{% if child.content|striptags|length >= 1001  %}<!-- box article -->
	<h1><a href="{{ child.root_path }}{{child.permalink}}">{{ child.title }}</a></h1>
	{% endif %} <!-- # article -->

<!-- auteur + description -->
{% if child.description %}<p class="post-meta">{{ child.description }}</p><span class="divblack2"></span>{% endif %}
<!-- #auteur + description -->


	    


{% if child.vimeo1 != "" and  child.vimeo2 != "" %}
<section class="article-media">
<div class="container-fluid"><!-- container-fluid -->
	<div class="row no-gutters"><!-- row -->
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="flex-video widescreen vimeo">
			<iframe src="https://player.vimeo.com/video/{{ child.vimeo1 }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="flex-video widescreen vimeo">
			<iframe src="https://player.vimeo.com/video/{{ child.vimeo2 }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>
	</div><!-- #row -->
</div><!-- #container-fluid --> 
</section>
{% if child.vimeo3 != "" and child.vimeo4 == "" %}
<p class="txtcenter"><a href="{{ child.root_path }}{{child.permalink}}" class="btn-dark-small">+ 1 video</a></p>
{% elseif child.vimeo3 != "" and child.vimeo4 != "" %}
<p class="txtcenter"><a href="{{ child.root_path }}{{child.permalink}}" class="btn-dark-small">+ 2 videos</a></p>
{% endif %}
<span class="divblack"></span>
{% elseif child.vimeo1 == "" and  child.youtube1 != "" and  child.youtube2 != "" %}
<section class="article-media">
<div class="container-fluid"><!-- container-fluid -->
	<div class="row no-gutters"><!-- row -->
		<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ child.youtube1 }}" wmode="opaque" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ child.youtube2 }}" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
	</div><!-- #row -->
</div><!-- #container-fluid --> 
</section>
	{% if child.youtube3 != "" and child.youtube4 == "" %}
	<p class="txtcenter"><a href="{{ child.root_path }}{{child.permalink}}" class="btn-dark-small">+ 1 video</a></p>
	{% elseif child.youtube3 != "" and child.youtube4 != "" %}
	<p class="txtcenter"><a href="{{ child.root_path }}{{child.permalink}}" class="btn-dark-small">+ 2 videos</a></p>
	{% endif %}
{% endif %}



{% if child.youtube1 != "" or child.vimeo1 != "" %}<span class="divblack2"></span>{% endif %}






<div class="simplebrief">

{% if child.content|striptags|length >= 1000  %}
{{ child.content|cutmethatshit(0,1000) }}</a></b></i>...
	{% if langue == "fr" %}
	... <a href="{{ child.root_path }}{{child.permalink}}">Lire la suite</a>
	{% else %}
	... <a href="{{ child.root_path }}{{child.permalink}}">Read more</a>
	{% endif %}
{% else %}
{{ child.content }}
{% endif %}
</div>

	<span class="divblack"></span>
	<div id="briefbuttons">   
	<a href="https://twitter.com/share?text={{ child.title|striptags }}&url=https://radicalcinema.org/{{child.permalink}}&via=radicalcinema" target="_blank" class="sTwitter"><i class="fa fa-twitter"></i>{% if langue == "en" %} Tweet!{% else %} Tweeter {% endif %}</a>
	<a href="https://www.facebook.com/sharer.php?u=https://radicalcinema.org/{{child.permalink}}" target="_blank" class="sFacebook"><i class="fa fa-facebook-square"></i>{% if langue == "en" %} Share{% else %} Partager{% endif %}</a>
	</div>
	
</div><!-- #article_boxlarge -->
</div><!-- #wrapper_article_box -->
