

<div class="editionHeader editionmenu">
    <ul class="contentedition">
{% if langue == "fr" %}
        <li><a href="{{ page.root_path }}fr/" class="tabNav active"><span>Edition française</span></a></li>
        <li><a href="{{ page.root_path }}en/" class="tabNav"><span>English edition</span></a></li>
{% else %}
        <li><a href="{{ page.root_path }}fr/" class="tabNav"><span>Edition française</span></a></li>
        <li><a href="{{ page.root_path }}en/" class="tabNav active"><span>English edition</span></a></li>
{% endif %}

    </ul>
   
</div>
 <div class="line"></div>