{%  block headarticle1 %}
{% set page = get(page.headarticle) %}
<div class="wrapper_article_box" style="padding-top:60px;"><!-- wrapper_article_box -->
<div class="article_boxlarge"><!-- article_boxlarge -->
<div class="row no-gutters"><!-- row -->
<div class="col-md-5 col-sm-6 col-xs-12" style="padding-top:20px;"><!-- cell -->

			{% if page.contexte == "tribune" %}<span class="hashtag tagtribune">
			{% elseif page.contexte == "analyse" %}<span class="hashtag taganalyse">
			{% elseif page.contexte == "alert" %}<span class="hashtag tagalert">
			{% elseif page.contexte == "planet" %}<span class="hashtag tagplanet">
			{% elseif page.contexte == "actu" %}<span class="hashtag tagactu">
			{% elseif page.contexte == "papillon" %}<span class="hashtag tagpapillon">
			{% elseif page.contexte == "action" %}<span class="hashtag">
			{% elseif page.contexte == "attentat" %}<span class="hashtag tagattentat">
			{% else %}<span class="hashtag">{% endif %} #{{ page.tag }}</span>
		<h1><a href="{{ page.root_path }}{{page.permalink}}">{{ page.title }}</a></h1>
 <p class="post-meta"> 
	    {% if page.twauteur %}<a href="https://twitter.com/{{ page.twauteur }}"><i class="fa fa-twitter"></i>{% else %}<span class="auteur">{% endif %}
	    {% if page.auteur == "anonyme" %}Anonyme{% elseif page.auteur != "" %}{{ page.auteur }}{% endif %}
	    {% if page.twauteur %}</a>{% else %}</span>{% endif %}
	    {% if page.auteur %} | {% endif %}
		{% if page.slug|cutmethatshit(0, 4) == "2015" or page.slug|cutmethatshit(0, 4) == "2016" or page.slug|cutmethatshit(0, 4) == "2017" %}
		<span class="date"><i class="fa fa-calendar"></i>  {% if langue == "fr" %}Il y a {% endif %}<time datetime="{{ page.slug|cutmethatshit(0, 4) }}-{{ page.slug|cutmethatshit(4, 2) }}-{{ page.slug|cutmethatshit(6, 2) }}T{{ page.slug|cutmethatshit(8, 2) }}:{{ page.slug|cutmethatshit(10, 2) }}:{{ page.slug|cutmethatshit(12, 2) }}+02:00" class="age">{{ page.slug|cutmethatshit(6, 2) }}/{{ page.slug|cutmethatshit(4, 2) }}/{{ page.slug|cutmethatshit(0, 4) }} - {{ page.slug|cutmethatshit(8, 2) }}:{{ page.slug|cutmethatshit(10, 2) }}:{{ page.slug|cutmethatshit(12, 2) }}</time></span>
		{% else %}
		<span class="date"><i class="fa fa-calendar"></i> {{ page.date }}</span>
		{% endif %}
 </p>
		<span class="divblack"></span>
		
	    <p class="post-meta"> 
	    {% if page.description %}{{ page.description }}{% else %}

				{% if page.title|length <= 32 and page.description|length <= 50 %}
				{{ page.content|striptags|cutmethatshit(0,250) }}...
				{% else %}
				{{ page.content|striptags|cutmethatshit(0,150) }}...
				{% endif %}
	    
	    {% endif %}
	    </p>

	<span class="divblack"></span>
	<div id="briefbuttons">
	<a href="https://twitter.com/share?text={{ page.title|striptags }}&url=https://radicalcinema.org/{{page.permalink}}&via=radicalcinema" target="_blank" class="sTwitter"><i class="fa fa-twitter"></i>{% if langue == "en" %} Tweet!{% else %} Tweeter {% endif %}</a>
	<a href="https://www.facebook.com/sharer.php?u=https://radicalcinema.org/{{page.permalink}}" target="_blank" class="sFacebook"><i class="fa fa-facebook-square"></i>{% if langue == "en" %} Share{% else %} Partager{% endif %}</a>
	</div>
	    
</div><!-- #cell -->
<div class="col-md-7 col-sm-6 col-xs-12"><!-- cell -->
    <a href="{{ page.root_path }}{{page.permalink}}" class="image-holder">
      <img id="headar1" src="{{ page.thumb.url }}"  class="img-responsive col-xs-12" />
    </a>
    
</div><!-- #cell -->
</div><!-- #row -->
</div><!-- #article_boxlarge -->
</div><!-- #wrapper_article_box -->
{%  endblock %}
