{%  block featurednews %}
{% set page = get(page.bigpicture_url) %}

<div id="feature-news" data-background="{{ page.thumb.url }}" style="background-image: url(&quot;{{ page.thumb.url }}&quot;); background-position: 50% 50%;">
&nbsp;
</div>
<div id="feature-news-caption">
{% if page.tag %}<h3>#{{ page.tag }}</h3>{% endif %}
<h1><a href="{{ page.root_path }}{{page.permalink}}">{{ page.title }}</a></h1>
<p>
{% if page.description|striptags|length <= 90  %}
<b>{{ page.description }}</b>&nbsp;|&nbsp;{{ page.content|striptags|cutmethatshit(0,140) }}..
{% else %}
{{ page.description }}
{% endif %}
			{% if langue == "fr" %}
			<h4><a href="{{ page.root_path }}{{page.permalink}}">Lire la suite</a></h4>
			{% else %}
			<h4><a href="{{ page.root_path }}{{page.permalink}}">Read more</a></h4>
			{% endif %}

</p>
</div>
<div class="clear"></div>
{%  endblock %}