
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ page.root_path }}public/js/ie10-viewport-bug-workaround.js"></script>

		<script src="{{ page.root_path }}public/js/jquery.sticky.js"></script>
{% if langue == "fr" %}
		<script src="{{ page.root_path }}public/js/jquery.ageFR.js"></script>
{% else %}
		<script src="{{ page.root_path }}public/js/jquery.age.js"></script>
{% endif %}
		<script src="{{ page.root_path }}public/js/custom.js"></script>

<script type="text/javascript">
  $('.age').age();
</script> 


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-38971845-1', 'auto');
  ga('send', 'pageview');

</script>

