

	
{% for child in page.root %}
	{% if child.title == arlang %}<!-- if Articles -->
		{% if child.children %}
		

			{% for child in slice(child.children|reverse, 0, 10) %}
			{% if child.permalink not in antiDoublons %}



<div class="row no-gutters"><!-- row -->

    <div class="col-sm-2 col-xs-12"><!-- col date & auteur -->

<div class="dateleft">
		{% if child.slug|cutmethatshit(0, 4) == "2015" or child.slug|cutmethatshit(0, 4) == "2016" or child.slug|cutmethatshit(0, 4) == "2017" %}<a href="{{ child.root_path }}{{child.permalink}}" class="sLink"><time datetime="{{ child.slug|cutmethatshit(0, 4) }}-{{ child.slug|cutmethatshit(4, 2) }}-{{ child.slug|cutmethatshit(6, 2) }}T{{ child.slug|cutmethatshit(8, 2) }}:{{ child.slug|cutmethatshit(10, 2) }}:{{ child.slug|cutmethatshit(12, 2) }}+02:00" class="age">{{ child.slug|cutmethatshit(6, 2) }}/{{ child.slug|cutmethatshit(4, 2) }}/{{ child.slug|cutmethatshit(0, 4) }} - {{ child.slug|cutmethatshit(8, 2) }}:{{ child.slug|cutmethatshit(10, 2) }}:{{ child.slug|cutmethatshit(12, 2) }}</time></a>
		{% else %}
		{% if child.date %}{{ child.date }}{% else %}{% if langue == "en" %}Display{% else %}Afficher{% endif %}{% endif %}
		{% endif %}

	    {% if child.twauteur %}<br class="hidden-xs" /><span class="visible-xs-only">&nbsp;|&nbsp;</span><a href="https://twitter.com/{{ child.twauteur }}" target="_blank" class="auteur"><i class="fa fa-twitter"></i>{% else %}<br class="hidden-xs" /><span class="visible-xs-only">&nbsp;|&nbsp;</span><span class="auteur">{% endif %}
			{% if child.auteur == "Anonymous" %}{% if langue == "fr" %}Anonyme{% else %}Anonymous{% endif %}{% elseif child.auteur != "" %}{{ child.auteur }}{% endif %}
	    {% if child.twauteur %}</a>{% else %}</span>{% endif %}

</div>

    </div><!-- #col date & auteur -->


    <div class="col-sm-10 col-xs-12"><!-- col content -->


				{% if child.thumb and child.thumblegende  %}<!-- pas d'image légendée -->
				
					{% if child.vimeo1 != "" and child.vimeo2 == "" %}<!-- une vimeo -->
					{% include 'partials/box-article.html'%}
					{% endif %}<!-- fin une vimeo -->
					{% if child.vimeo1 != "" and child.vimeo2 != "" %}<!-- deux vimeos -->
					{% include 'partials/box-article-simple.html'%}
					{% endif %}<!-- fin deux vimeos -->
					{% if child.vimeo1 == "" and child.vimeo2 == "" %}<!-- pas de vimeo -->
						{% include 'partials/box-article.html'%}
					{% endif %}<!-- fin pas de vimeo -->
				
				{% else %}<!-- image légendée -->



					{% if child.vimeo1 != "" and child.vimeo2 == "" %}<!-- une vimeo -->
					{% include 'partials/box-article.html'%}
					{% endif %}<!-- fin une vimeo -->
					{% if child.vimeo1 != "" and child.vimeo2 != "" %}<!-- deux vimeos -->
					{% include 'partials/box-article-simple.html'%}
					{% endif %}<!-- fin deux vimeos -->
					{% if child.vimeo1 == "" and child.vimeo2 == "" %}<!-- pas de vimeo -->
						{% if child.youtube1 != "" and child.youtube2 == "" %}<!-- un youtube -->
						{% include 'partials/box-article.html'%}
						{% endif %}<!-- fin un youtube -->
						{% if child.youtube1 != "" and child.youtube2 != "" %}<!-- deux youtubes -->
						{% include 'partials/box-article-simple.html'%}
						{% endif %}<!-- fin deux youtubes -->
						{% if child.youtube1 == "" and child.youtube1 == "" %}<!-- pas de youtube -->	
							{% if child.content|striptags|length <= 700  %}<!-- box brève courte -->
							{% include 'partials/box-brief.html'%}
							{% endif %} <!-- #box brève courte -->
							{% if child.content|striptags|length >= 701 %}<!-- box article simple -->
							{% include 'partials/box-article-simple.html'%}
							{% endif %} <!-- #box article simple -->
	
						{% endif %}<!-- fin pas de youtube -->
					{% endif %}<!-- fin pas de vimeo -->




				{% endif %}<!-- fin image légendée -->

    </div><!-- #col content -->




</div><!-- #row -->
				
			{% endif %}  
			{% endfor %}

		
		{% endif %}
	{% endif %}<!-- #if Articles -->
{% endfor %}




    