


	{% set onglet = "journal" %}




	{% if page.slug == "join" %}<!-- bigIF -->
		{% set onglet = "join" %}

	{% elseif page.slug == "login" %}
		{% set onglet = "login" %}

	{% elseif page.slug == "legal" %}
		{% set onglet = "legal" %}

	{% elseif page.slug == "publish" %}
		{% set onglet = "publish" %}

	{% elseif page.slug == "about" %}
		{% set onglet = "about" %}

	{% elseif page.slug == "archives" %}
		{% set onglet = "archives" %}

	{% elseif page.slug == "prod" %}
		{% set onglet = "prod" %}

	{% elseif page.slug == "fr" %} <!-- FR -->
	
		{% for child in page.parent %}

			{% if child.slug == "join" %}
				{% set onglet = "join" %}
			{% elseif child.slug == "prod" %}
				{% set onglet = "prod" %}
			{% elseif child.slug == "about" %}
				{% set onglet = "about" %}
			{% elseif child.slug == "legal" %}
				{% set onglet = "legal" %}
			{% elseif child.slug == "archives" %}
				{% set onglet = "archives" %}
			{% elseif child.slug == "login" %}
				{% set onglet = "login" %}
			{% elseif child.slug == "publish" %}
				{% set onglet = "publish" %}
			{% endif %}		

		{% endfor %}			

	<!-- #FR -->
	{% else %} <!-- autre slug -->


		{% for child in page.parent %}

			{% if child.slug == "fr" %}

				{% for child in child.parent %}
					{% if child.slug == "join" %}
						{% set onglet = "join" %}
					{% endif %}		
					{% if child.slug == "about" %}
						{% set onglet = "about" %}
					{% endif %}	
					{% if child.slug == "legal" %}
						{% set onglet = "legal" %}
					{% endif %}	
					{% if child.slug == "archives" %}
						{% set onglet = "archives" %}
					{% endif %}	
					{% if child.slug == "login" %}
						{% set onglet = "login" %}
					{% endif %}	
					{% if child.slug == "publish" %}
						{% set onglet = "publish" %}
					{% endif %}	
					{% if child.slug == "prod" %}
						{% set onglet = "prod" %}
					{% endif %}	
				{% endfor %}
				
			{% elseif child.slug == "join" %}
				{% set onglet = "join" %}
			{% elseif child.slug == "prod" %}
				{% set onglet = "prod" %}			
			{% elseif child.slug == "about" %}
				{% set onglet = "about" %}		
			{% elseif child.slug == "legal" %}
				{% set onglet = "legal" %}		
			{% elseif child.slug == "archives" %}
				{% set onglet = "archives" %}	
			{% elseif child.slug == "login" %}
				{% set onglet = "login" %}		
			{% elseif child.slug == "publish" %}
				{% set onglet = "publish" %}		
			{% endif %}	
		{% endfor %}

		
		
		
		 <!-- #autre slug -->
	{% endif %}<!-- #bigIF -->



<div id="menuzone">

			{% if langue == "en" %}
			<div class="logo"><a href="{{ page.root_path }}en/"><span>Radical Cinema</span></a></div>
			{% else %}
			<div class="logo"><a href="{{ page.root_path }}fr/"><span>Radical Cinema</span></a></div>
			{% endif %} 

 {% if langue == "en" %}                      
<ul id="actions">
    <li>
        <a href="{{ page.root_path }}publish/">
            <i class="fa fa-pencil"></i>
        </a>
    </li>
    <li>
        <a href="{{ page.root_path }}about/">
            <i class="fa fa-info"></i>
        </a>
    </li>
    <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="{{ page.root_path }}kitchen/?lang=en"><i class="fa fa-users"></i> General Assembly</a>
            </li>
            <li>
                <a href="{{ page.root_path }}join/"><i class="fa fa-star"></i>  Join</a>
            </li>
            <li>
                <a href="{{ page.root_path }}prod/"><i class="fa fa-industry"></i> Productions</a>
            </li>
             <li>
                <a href="{{ page.root_path }}archives/"><i class="fa fa-archive"></i> Archives</a>
            </li>
            <li role="separator" class="divider"></li>
			<li>
				<form action="{{ page.root_path }}archives/" name="search">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search for..." name="q" id="search-field" autocomplete="off" spellcheck="false">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" onclick="document.search.submit()"><i class="fa fa-search" aria-hidden="true"></i></button>
			      </span>
			    </div><!-- /input-group -->
				</form>
			</li>
            <li role="separator" class="divider"></li>
            <li class="social">
				<div id="socialmenu"><a href="https://twitter.com/radicalcinema" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/radicalcinema" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a><a href="https://soundcloud.com/radicalcinema/" target="_blank" title="Soundcloud"><i class="fa fa-soundcloud"></i></a><a href="https://vimeo.com/josephparis" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a><a href="https://www.youtube.com/channel/UCw7l-uBgDsVdHywlALNFZhw" target="_blank" title="Youtube"><i class="fa fa-youtube"></i></a></div> 
            </li> 
        </ul>
    </li>
    <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-exchange"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="{{ page.root_path }}fr/"><i class="fa fa-exchange"></i> Français</a>
            </li>
        </ul>
    </li>
</ul>
{% else %}
<ul id="actions">
    <li>
        <a href="{{ page.root_path }}publish/fr/" title="Publiez" class="tooltipp">
            <i class="fa fa-pencil"></i>
        </a>
    </li>
    <li>
        <a href="{{ page.root_path }}about/fr/">
            <i class="fa fa-info"></i>
        </a>
    </li>
    <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-ellipsis-v"></i>
        </a>
        
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="{{ page.root_path }}kitchen/?lang=fr"><i class="fa fa-users"></i> Assemblée Générale</a>
            </li>
            <li>
                <a href="{{ page.root_path }}join/fr/"><i class="fa fa-star"></i>  Adhérer</a>
            </li>
            <li>
                <a href="{{ page.root_path }}prod/fr/"><i class="fa fa-industry"></i> Productions</a>
            </li>
             <li>
                <a href="{{ page.root_path }}archives/fr/"><i class="fa fa-archive"></i> Archives</a>
            </li>
            <li role="separator" class="divider"></li>
			<li>
				<form action="{{ page.root_path }}archives/fr/" name="search">
			    <div class="input-group">
			      <input type="text" class="form-control" placeholder="Rechercher..." name="q" id="search-field" autocomplete="off" spellcheck="false">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button" onclick="document.search.submit()"><i class="fa fa-search" aria-hidden="true"></i></button>
			      </span>
			    </div><!-- /input-group -->
				</form>
			</li>
            <li role="separator" class="divider"></li>
            <li class="social">
				<div id="socialmenu"><a href="https://twitter.com/radicalcinema" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a><a href="https://www.facebook.com/radicalcinema" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a><a href="https://soundcloud.com/radicalcinema/" target="_blank" title="Soundcloud"><i class="fa fa-soundcloud"></i></a><a href="https://vimeo.com/josephparis" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a><a href="https://www.youtube.com/channel/UCw7l-uBgDsVdHywlALNFZhw" target="_blank" title="Youtube"><i class="fa fa-youtube"></i></a></div> 
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a href="" data-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-exchange"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li>
                <a href="{{ page.root_path }}en/"><i class="fa fa-exchange"></i> English</a>
            </li>
        </ul>
    </li>
</ul>
{% endif %}

</div><!-- #menuzone -->



 
