

<div id="pricing" class="containerPricing">

<a id="subscribenow">&nbsp;</a>
<div class="row no-gutters">


	<div class="col-md-6 col-sm-6 no-gutters">
      <div class="col span-6 sqs-col-6 no-gutters">
        <div class="price-plan price-plan-unlimited">
          <div class="price-plan-intrinsic">
            <a class="price-plan-link" href="https://radicalcinema.org/kitchen/register.php{% if langue == "fr" %}?lang=fr{% endif %}">
              <h2>{% if langue == "en" %}Active Member{% else %}Membre Actif{% endif %}</h2>
              <div class="price">
                <div class="inside">
                  <span class="super">&euro;</span><span class="amt annual">50</span> <span class="sub">/{% if langue == "en" %}year{% else %}an{% endif %}</span>
                </div>
                <p class="price-breakdown">
                  <span class="cwhite">20 €</span>  {% if langue == "en" %}if you do not have a good salary{% else %}si vous n'avez pas un bon salaire{% endif %},<br /><span class="cwhite">100 €</span> {% if langue == "en" %}for an organization{% else %}pour une structure{% endif %}.
                </p>
              </div>
              <div class="price-plan-arrow"><span class="icon"></span></div>
            </a>
          </div>
          <div class="info">
            <div class="info-features-wrapper">
              <ul>
                <li>{% if langue == "en" %}Access to the Permanent General Assembly{% else %}Accès à l'Assemblée Générale Permanente{% endif %}.</li>
                <li>{% if langue == "en" %}Vote on proposed publications{% else %}Voter sur les propositions de publications{% endif %}.</li>
                <li>{% if langue == "en" %}Participate into debates{% else %}Participer aux débats{% endif %}.</li>
                <li>{% if langue == "en" %}Invitation to events{% else %}Invitation aux événements{% endif %}.</li>
              </ul>
            </div>
          </div><!-- end .info -->
          <div class="disclaimer"><i class="fa fa-credit-card"></i> {% if langue == "en" %}Payment by credit card, check or transfer.{% else %}Paiement par carte bancaire, chèque ou virement.{% endif %}.</div>
        </div><!-- end .price-plan -->
      </div><!-- end .col.span-4 -->
    </div>
	<div class="col-md-6 col-sm-6 no-gutters">
      <div class="col span-6 sqs-col-6 no-gutters">
        <div class="price-plan price-plan-business">
          <div class="price-plan-intrinsic">
            <a class="price-plan-link" href="https://radicalcinema.org/kitchen/register.php?id=4{% if langue == "fr" %}&lang=fr{% endif %}">
              <h2>{% if langue == "en" %}Sponsor{% else %}Mécène{% endif %}</h2>
              <div class="price">
                <div class="inside">
                  <span class="super">&euro;</span><span class="amt annual">200</span> <span class="sub">/{% if langue == "en" %}year{% else %}an{% endif %}</span>
                </div>
                <p class="price-breakdown">
                  <span class="cwhite">300 €</span> {% if langue == "en" %}for an organization{% else %}pour une structure{% endif %}..
                </p>
              </div>
              <div class="price-plan-arrow"><span class="icon"></span></div>
            </a>
          </div>
          <div class="info">
            <div class="info-features-wrapper">
              <ul>
                <li>{% if langue == "en" %}Access to the Permanent General Assembly{% else %}Accès à l'Assemblée Générale Permanente{% endif %}.</li>
                <li>{% if langue == "en" %}Vote on proposed publications{% else %}Voter sur les propositions de publications{% endif %}.</li>
                <li>{% if langue == "en" %}Participate into debates{% else %}Participer aux débats{% endif %}.</li>
                <li>{% if langue == "en" %}Invitation to events{% else %}Invitation aux événements{% endif %}.</li>
                <li>{% if langue == "en" %}Annual dinner with the founding members{% else %}Diner annuel avec les membres fondateurs{% endif %}.</li>
              </ul>
            </div>
          </div><!-- end .info -->
          <div class="disclaimer"><i class="fa fa-credit-card"></i> {% if langue == "en" %}Payment by credit card, check or transfer.{% else %}Paiement par carte bancaire, chèque ou virement.{% endif %}.</div>
        </div><!-- end .price-plan -->
      </div><!-- end .col.span-4 -->
    </div>
</div>
</div><!-- end #pricing -->

