/* ------------------------------------------------------------------
DATELEFT
------------------------------------------------------------------- */

.dateleft{
padding: 50px 10px 0px 10px;
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 12px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     text-align: right;
     position: relative;
}
.dateleft a {
    color: #8d8d8d!important;
}
.dateleft a:hover {
    color: #1e1e1e!important;
}
.dateleft span.auteur {
    color: #8d8d8d!important;
    font-size: 12px;
}
.dateleft a.auteur {
    color: #6a6a6a!important;
    font-size: 12px;
}
.dateleft a.auteur:hover {
    color: #428bca!important;
}

article{
padding: 25px 20px 45px 20px;
border-bottom:1px solid #f1f1f1;
}
span.hashtag {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    color: #333333;
    background: transparent!important;
    padding: 0;
    margin: 0;
}
article h1, article h1 a {
    font-size: 22px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    line-height: 28px;
  color: #181818;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 0px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
article h1 a:hover { color: #7866ff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
article h3 {
    font-size: 19px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}
article h3 a {
    color: #181818!important;
}
article h3 a:hover {
    color: #7866ff!important;
}
article h4 {
    font-size: 17px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}
article h4 a {
    color: #181818!important;
}
article h4 a:hover {
    color: #7866ff!important;
}
article .post-meta {
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     padding-right: 20px;
}
article .post-meta .post-description {
    font-family: 'Droid Serif', serif;
    font-size: 14px!important;
    font-weight: 400;
    color: #424242;
    line-height: 20px!important;
    padding: 0px;
    margin: 0px;
}
article .post-meta span.date {  font-size: 12px!important; color: #909090; }
article .post-meta span.auteur {  font-size: 12px!important; color: #5d5d5d; }

article .post-meta a {   color: #5d5d5d; font-size: 12px!important;  }
article .post-meta a:hover { color: #7866ff; }

span.divblack {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 14px 0!important;
}
span.divblack2 {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 4px 0!important;
}
span.divblack3 {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    margin: 4px 0!important;
}
/* ------------------------------------------------------------------
BOX BRIEF LONG
------------------------------------------------------------------- */


.brieflong {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    text-align: justify;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 27px;
     background: transparent!important;
}
.brieflong p {
    text-align: justify;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 27px;
     background: transparent!important;
}
.brieflong::first-letter { 
	font-size: 60px!important;
    font-weight: 700!important;
    margin-right: 10px!important;
    padding-top: 15px!important;
    float: left;
}
.brieflong a {
    color: #616161!important;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    line-height: 30px;
    padding: 0!important;
    margin: 0!important;
    text-align: justify;
     background: transparent!important;
border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.brieflong a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}
/* ------------------------------------------------------------------
BOX BRIEF SHORT
------------------------------------------------------------------- */
.article_boxbrief{

}
.simplebrief, .simplebrief p{
    font-family: 'Droid Serif', serif;
    color: #424242!important;
    font-size: 1.1em!important;
    font-weight: 400!important;
    line-height: 30px!important;
    text-align: justify;
     background: transparent!important;
     
}
.simplebrief::first-letter { 
	font-size: 60px!important;
    font-weight: 700!important;
    margin-right: 10px!important;
    padding-top: 15px!important;
    float: left;
}
.simplebrief a {
    color: #424242!important;
    font-size: 1em!important;
    font-weight: 400!important;
    line-height: 30px!important;
    padding: 0!important;
    margin: 0!important;
     background: transparent!important;
	 border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.simplebrief a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}
/* ------------------------------------------------------------------
ARTICLE SIMPLE
------------------------------------------------------------------- */
.articlesimple{
     background: transparent!important;
    font-family: 'Droid Serif', serif;
    font-size: 16px!important;
    font-weight: 400;
    color: #424242;
    line-height: 30px!important;
    text-align: justify;
}
.articlesimple p{
    font-size: 16px!important;
    line-height: 30px!important;
}
.articlesimple::first-letter { 
	font-size: 55px!important;
    font-weight: 700!important;
    padding: 10px 10px 10px 10px!important;
    line-height: 30px!important;
    margin: 0px!important;
    float: left;
}

.articlesimple a {
    color: #424242!important;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    line-height: 30px;
    padding: 0!important;
    margin: 0!important;
    text-align: justify;
     background: transparent!important;
border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.articlesimple a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}
p.legendethumb {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #474747;
    text-align: left;
    margin: 0;
    margin-top: 100px;
    padding: 10px;
}
p.legendethumb a {
    color: #9c9c9c;
}
p.legendethumb a:hover {
    color: #6653ff;
}
.edito{
     border-top: 2px solid #bcbcbc;
     border-bottom: 2px solid #bcbcbc;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.editotxt{
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 36px;
    text-align: justify;
}
.editotxt::first-letter { 
	font-size: 60px!important;
    font-weight: 700!important;
    margin-right: 10px!important;
    padding-top: 15px!important;
    float: left;
}
.editotxt a {
    color: #616161!important;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    line-height: 36px;
    padding: 0!important;
    margin: 0!important;
    text-align: justify;
     background: transparent!important;
     border-bottom: 1px solid #bbbbbb;
}
.editotxt a:hover {
    color: #6653ff!important;
     border-bottom: 1px solid #6653ff;
}
.article-media {
    background: #232323;
    color: #dfdfdf;
    padding: 0!important;
    margin: 0px 0px 0px 0px!important;
    text-align: center;
    display: block;
}
.small {
    font-size: 14px!important;
}
.titlevideo{
font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px!important;
}
parole {
    display: block;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic!important;
}
parole:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
parole p {
  display: inline;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 30px;
    text-align: justify;
    font-style: italic!important;
}




.infobox{
width: 100%;
padding: 10px;
margin: 10px 0px;
background: #fff;
border:1px solid #eeeeee;
}
.infobox_transparent{
width: 100%;
padding: 10px;
margin: 10px 0px;
background: transparent;
text-align: center;
}
.infobox_transparent p{
font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 14px!important;
    line-height: 20px!important;
    color: #454545!important;
    padding: 10px 0px;
    text-align: center;
 }
.infobox_transparent h4{ 
 font-family: 'alte_haas_groteskregular', Arial, serif!important;
 font-weight: bold!important;
  font-size: 14px!important;
 } 
p.infoarticle{
font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 14px!important;
    line-height: 20px!important;
    color: #454545!important;
    padding: 10px 0px;
    text-align: center;
    font-weight: bold;
}
p.infoauteur{
font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 13px!important;
    line-height: 20px!important;
    color: #454545!important;
    padding: 0px 0px;
    text-align: center;
    font-weight: none;
}

.clock {
font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #503c77;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 5px 0px 0px 0px;
    margin: 0;
    text-align: center;
}


#clock1 {
font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 12px;
    letter-spacing: 3px;
    color: #6653ff;
    text-decoration: none;
    font-weight: 100;
	text-transform: none!important;
    border: 0!important;
    padding: 0px 0px 0px 0px;
    margin: 0;
    text-align: center;
}
#clock1 span {
    font-weight: bold!important;
    text-transform: uppercase!important;
    font-size: 14px;
}

#output{
color: #7a7a7a!important;
font-size: 12px;
padding: 5px;
}
#blah{
padding: 5px;
margin: 0px 0px 3px 0px;
max-width: 300px;
border: 4px solid #6653ff;
display: none;
}
#imageInputWrap{
text-align: left!important;
height: 20px;
}

#imageInputWrap #imageInput{
float: left;
}




/* ------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------- */
@media (min-width: 992px) {/* =============== Laptops ================= */
.dateleft{ padding: 50px 10px 0px 10px; text-align: right; }
article{ padding: 25px 20px 45px 20px;}
}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.dateleft{ padding: 50px 10px 0px 10px; text-align: right; }
article{padding: 25px 20px 45px 20px;}
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
.dateleft{ padding: 30px 10px 0px 10px; text-align: left; }
article{ padding: 20px 0px 40px; }
}/* fin max-width: 768px */










/* ==========================================================================
   SMARTPHONES & TABLETS
   ========================================================================== */
.only_smartphones{ display: none; }

@media (min-width: 992px) {/* =============== Laptops ================= */


}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */


}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
p.legendethumb { margin: 0; }

}/* fin max-width: 768px */

