.full {
background-color: black;
  background: url("https://placehold.it/1920x1080") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
   padding: 0!important;
   margin: 0!important;
   position: relative;
   display: block;

}


.caption-bigpicture {
	display: block;
	width: 100%;
	height: 300px;
	padding-top: 120px;
	position: absolute;
	bottom: 0px;
	z-index: 2;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
.caption-bigpicture h1, .caption-bigpicture h1 a {
	position: relative;
    font-size: 42px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    line-height: 42px;
  color: #f8f8f8;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 0px 10px 5px 5px!important;
                margin: 0!important;
                text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.caption-bigpicture h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.caption-bigpicture h1 a:hover { color: #ffffff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
.caption-bigpicture h1 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.caption-bigpicture p {
    font-size: 20px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    line-height: 28px;
  color: #939393;
-webkit-font-smoothing: antialiased;
text-align: left;
padding: 0px 10px 5px 15px!important;
margin: 0!important; 
}








/* ==========================================================================
   SMARTPHONES & TABLETS
   ========================================================================== */
.only_smartphones{ display: none; }

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */


}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */

.full {
	height:100%;
  	-webkit-height: cover; /** older browsers **/ 
	height: calc(100% - 50px); /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/

}

}/* fin max-width: 768px */













