


/* ------------------------------------------------------------------
FEATURED NEW
------------------------------------------------------------------- */

#feature-news {
position: relative;
display: block;
margin: 0px;
padding: 0px;
margin-top: 0px;
margin-bottom: 30px;
width: 100%;
height:100%;
border-bottom: 0px solid #e7e7e7;
}

#feature-news-caption {
background: #f8f8f8;
    position: absolute;
    z-index: 4;
    bottom:0px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
width: 970px;
min-height: 200px;
height: auto;
margin: 0 auto;
padding: 20px 20px 20px 20px;
text-align: center;
}
#mobile-news-caption{
background: #f8f8f8;
width: 100%;
height: auto;
margin: 0 auto;
padding: 20px 20px 20px 20px;
text-align: center;
display: none;
}
#feature-news-caption h3, #mobile-news-caption h3 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    color: #333333;
    background: transparent!important;
    padding: 0;
    padding-top: 20px;
    margin: 0;
}
#feature-news-caption h1, #feature-news-caption h1 a, #mobile-news-caption h1, #mobile-news-caption h1 a {
	position: relative;
    font-size: 40px!important;
    font-family: 'Bentham', serif;
    font-weight: bold!important;
    line-height: 40px;
  color: #181818;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 5px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
	display: inline-block;
	text-align: center;
}
#feature-news-caption h1 > a:before, #mobile-news-caption h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#feature-news-caption h1 a:hover, #mobile-news-caption h1 a:hover { color: #181818;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
#feature-news-caption h1 > a:hover:before, #mobile-news-caption h1 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#feature-news-caption p, #mobile-news-caption p {
    font-family: 'Work Sans', sans-serif;
    color: #696969!important;
    font-size: 15px!important;
    font-weight: 400!important;
    line-height: 30px!important;
    text-align: justify;
    background: transparent!important;
    text-align: center;
    padding: 0px 60px;
}
#feature-news-caption h4, #mobile-news-caption h4 {
text-align: center;
}
#feature-news-caption h4 a, #mobile-news-caption h4 a {
 font-family: 'Work Sans', sans-serif;
 letter-spacing: 1px;
display: inline-block;
background: #2d2d2d;
color: #f1f1f1;
font-size: 14px;
padding: 10px 20px;
border-radius: 21px; 
-moz-border-radius: 21px; 
-webkit-border-radius: 21px; 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#feature-news-caption h4 a:hover, #mobile-news-caption h4 a:hover {
background: #050505;
color: #fff;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.img-responsive { width: 100%; height: auto; padding: 0; margin: 0;  }

.mobile_bigpicture { display: none; margin-top: 0px; margin-bottom: 20px;  }
.mobile_link { display: none;  }

@media (min-width: 970px) {/* =============== Laptops ================= */
#feature-news { display: block; }
#feature-news-caption { width: 970px; }
.mobile_bigpicture { display: none;  }
#mobile-news-caption { display: none; }
.mobile_link { display: none;  }
}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 970px) {/* =============== Tablets ================= */
#feature-news { display: block; }
#feature-news-caption { width: 100%; }
.mobile_bigpicture { display: none;  }
#mobile-news-caption { display: none; }
.mobile_link { display: none;  }
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */

#feature-news { display: none; }
.mobile_bigpicture { display: block;  }
#mobile-news-caption { display: block; }
.mobile_link { display: block;  }

#mobile-news-caption h1 { padding: 5px!important; font-size: 30px!important; }
#mobile-news-caption h1 a { padding: 0px!important; font-size: 30px!important; line-height: 35px; }
#mobile-news-caption h3 { padding: 0px!important; }
#mobile-news-caption h4 { padding: 10px;  }
#mobile-news-caption p { padding: 10px;  }

}/* fin max-width: 768px */



/* ------------------------------------------------------------------
EDITION
------------------------------------------------------------------- */

.editionHeader
{
	height:50px;
	display: table;   /* Allow the centering to work */
	margin: 60px auto;
}
.line
{
	border-bottom:1px solid #cfcfcf;
	margin:-86px auto 20px auto;
	width:70%
}
.editionmenu .contentedition
{
	padding:0;
	text-align:center!important;
	list-style-type: none;
	display: inline-block;
	margin: 0 auto;
}
.contentedition li {
    display: inline;
    margin-left: 2em;
    font-size: .8em;
    font-family: 'Darby Sans Text Web',helvetica,arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 auto;
}
.contentedition li a{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.editionmenu .contentedition li .tabNav
{
	width:170px;
	margin:0 -5px 0 0;
	border:1px solid #f8f8f8;
	background-color:#f8f8f8;
	display:inline-block;
	padding:1.2em 0;
	font-family:'Darby Sans Text Web',helvetica,arial,sans-serif;
	font-weight:600;
	font-style:normal;
	font-stretch:normal;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:.85em;
	text-decoration:none;
	color:#444444;

}
.editionmenu .contentedition li
{
	margin-left:0
}
.editionmenu .contentedition ul
{
	clear:both;
	margin:0 auto
}
.editionmenu .contentedition li .tabNav.active,.editionmenu .contentedition li .tabNav.active:hover
{
	background-color:#303030;
	border:1px solid #303030;
	color:white;
	text-decoration:none
}
.editionmenu .contentedition li a:hover
{
	background-color:#e5e5e5;
	border:1px solid #e5e5e5;
	color: #030303;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}


/* ------------------------------------------------------------------
DATELEFT
------------------------------------------------------------------- */

.dateleft{
padding: 50px 10px 0px 10px;
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 12px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     text-align: right;
}
.dateleft a {
    color: #8d8d8d!important;
}
.dateleft a:hover {
    color: #1e1e1e!important;
}
.dateleft span.auteur {
    color: #8d8d8d!important;
    font-size: 12px;
}
.dateleft a.auteur {
    color: #6a6a6a!important;
    font-size: 12px;
}
.dateleft a.auteur:hover {
    color: #428bca!important;
}
/* ------------------------------------------------------------------
BOX ARTICLE LARGE
------------------------------------------------------------------- */

.wrapper_article_box{
padding: 40px 20px;
border-bottom:1px solid #f1f1f1;
}
.article_boxlarge{
background: transparent;
width:100%; 
display: block;
	padding: 10px 0px;
	margin: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
border:0px solid #ededed;

}
span.divblack {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 14px 0!important;
}
span.divblack2 {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 4px 0!important;
}
span.hashtag {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    color: #999999;
    background: transparent!important;
    padding: 0;
    margin: 0;
}
.article_boxlarge h1, .article_boxlarge h1 a {
	position: relative;
    font-size: 22px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    line-height: 28px;
  color: #181818;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 0px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
	display: inline-block;
}
.article_boxlarge h1 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.article_boxlarge h1 a:hover { color: #181818;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
.article_boxlarge h1 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.article_boxlarge h3 {
	position: relative;
    font-size: 19px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
    display: inline-block;
}
.article_boxlarge h3 a {
    color: #181818!important;
}
.article_boxlarge h3 > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2b2b2b;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.article_boxlarge h3 a:hover {
    color: #181818!important;
}
.article_boxlarge h3 > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.article_boxlarge h4 {
    font-size: 17px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}
.article_boxlarge h4 a {
    color: #181818!important;
}
.article_boxlarge h4 a:hover {
    color: #7866ff!important;
}
.article_boxlarge .post-meta {
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     padding-right: 20px;
}
.article_boxlarge .post-meta span.date {  font-size: 12px!important; color: #909090; }
.article_boxlarge .post-meta span.auteur {  font-size: 12px!important; color: #5d5d5d; }
.article_boxlarge .post-meta span.description {  font-size: 14px!important; color: #313131; }


.article_boxlarge .post-meta a {   color: #5d5d5d; font-size: 12px!important;  }
.article_boxlarge .post-meta a:hover { color: #7866ff; }

.image-holder {
    display:inline-block;
    position: relative;
-webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(grayscale.svg); /* Firefox 4+ */
  filter: gray; /* IE 6-9 */
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		 -o-transition: all 1s ease-out;
			transition: all 1s ease-out; 
}

.image-holder:hover {
-webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		 -o-transition: all 1s ease-out;
			transition: all 1s ease-out; 
}
  
.tagtribune{  background: #dfdfdf; color: #535353;  } .tagtribune i { color: #a2a2a2;   }
.taganalyse{  background: #d2d6d5; color: #515151; }
.tagalert{  background: #df4b59; }
.tagplanet{  background: #1eab8f; }
.tagactu{  background: #3b5998; }
.tagpapillon{  background: #95907f; }
.tagaction{  background: #313131; }
.tagattentat{  background: #373737; }

.article_boxlarge div.sec { padding: 0px 0px 0px 20px!important; }




/* ------------------------------------------------------------------
BOX BRIEF LONG
------------------------------------------------------------------- */


.brieflong {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    text-align: justify;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 27px;
     background: transparent!important;
}
.brieflong p {
    text-align: justify;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 27px;
     background: transparent!important;
}
.brieflong::first-letter { 
	font-size: 60px;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 15px;
    float: left;
}
.brieflong a {
    color: #616161!important;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    line-height: 30px;
    padding: 0!important;
    margin: 0!important;
    text-align: justify;
     background: transparent!important;
border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.brieflong a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}
/* ------------------------------------------------------------------
BOX BRIEF SHORT
------------------------------------------------------------------- */
.article_boxbrief{

}
.simplebrief, .simplebrief p{
    font-family: 'Droid Serif', serif;
    color: #424242!important;
    font-size: 1.1em!important;
    font-weight: 400!important;
    line-height: 30px!important;
    text-align: justify;
     background: transparent!important;
     
}
.simplebrief::first-letter { 
	font-size: 60px;
    font-weight: 700;
    margin-right: 10px;
    padding-top: 15px;
    float: left;
}
.simplebrief a {
    color: #424242!important;
    font-size: 1em!important;
    font-weight: 400!important;
    padding: 0!important;
    margin: 0!important;
     background: transparent!important;
	 border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.simplebrief a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}






/* ------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------- */
@media (min-width: 992px) {/* =============== Laptops ================= */
.dateleft{ padding: 50px 10px 0px 10px; text-align: right; }
.wrapper_article_box{ padding: 40px 20px; }
}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.dateleft{ padding: 50px 10px 0px 10px; text-align: right; }
.wrapper_article_box{ padding: 40px 20px; }
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
.dateleft{ padding: 30px 10px 0px 10px; text-align: left; }
.wrapper_article_box{ padding: 0px 10px 40px; }
}/* fin max-width: 768px */

