/* ------------------------------------------------------------------
BUTTONS
------------------------------------------------------------------- */


.btn-clean {
  display: inline-block;
  padding: 10px 15px!important;
  margin: 0px auto;
  background: transparent;
  border: 0px solid #f8f8f8!important;
  border-radius: 0px;
  text-decoration: none;
  color: #f8f8f8!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 1s linear!important;
  -moz-transition: all 1s linear!important;
  -ms-transition: all 1s linear!important;
  -o-transition: all 1s linear!important;
  transition: all 1s linear!important;
}

.btn-clean i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #f8f8f8;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-clean:hover,
.btn-clean:focus,
.btn-clean:active,
.clean.button-group.open .button {
  border-color: #ffffff!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #1d1d1d;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-clean:hover i,
.btn-clean:focus i,
.btn-clean:active i {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-clean:hover span,
.btn-clean:focus span,
.btn-clean:active span {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}











.btn-publish {
  display: inline-block;
  padding: 5px 10px!important;
  margin: 0px auto;
background: #1d1d1d!important;
border: 2px solid #1d1d1d!important;
color: #eeeeee!important;
text-decoration:none!important;
  border-radius: 0px;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 1s linear!important;
  -moz-transition: all 1s linear!important;
  -ms-transition: all 1s linear!important;
  -o-transition: all 1s linear!important;
  transition: all 1s linear!important;
}


.btn-publish i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #4d4d4d;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-publish:hover,
.btn-publish:focus,
.btn-publish:active,
.clean.button-group.open .button {
  border-color: #1eac90!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #1eac90!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-publish:hover i,
.btn-publish:focus i,
.btn-publish:active i {
  color: #4d4d4d!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-publish:disabled {
background: #f8f8f8!important;
border: 2px solid #f8f8f8!important;
color: #969696!important;
text-decoration:line-through!important;
}
.btn-publish:disabled i {
color: #c3c3c3!important;
}


.btn-primary {
    color: #ffffff;
    background-color: #1abc9c;
    border-color: #1abc9c;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-info {
    color: #ffffff;
    background-color: #3498db;
    border-color: #3498db;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-warning {
    color: #ffffff;
    background-color: #f1c40f;
    border-color: #f1c40f;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-danger {
    color: #ffffff;
    background-color: #fd0080;
    border-color: #fd0080;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #25ddb8;
    border-color: #25ddb8;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-info:hover {
    color: #ffffff;
    background-color: #42abf2;
    border-color: #42abf2;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-warning:hover {
    color: #ffffff;
    background-color: #fcd537;
    border-color: #fcd537;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-danger:hover {
    color: #ffffff;
    background-color: #ff3553;
    border-color: #ff3553;
      -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.btn-article {
  display: inline-block;
  padding: 10px 10px!important;
  margin: 0px auto;
  background: #6653ff!important;
  border: 0px solid #787878!important;
  border-radius: 0px;
  text-decoration: none;
  color: #f8f8f8!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px!important;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 1s linear!important;
  -moz-transition: all 1s linear!important;
  -ms-transition: all 1s linear!important;
  -o-transition: all 1s linear!important;
  transition: all 1s linear!important;
}

.btn-article i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #f4f4f4;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-article:hover,
.btn-article:focus,
.btn-article:active {
  border-color: #5d76ea!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #5d76ea!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-article:hover i,
.btn-article:focus i,
.btn-article:active i {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-article:hover span,
.btn-article:focus span,
.btn-article:active span {
  color: #d1e751!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}




.btn-article-small {
  display: inline-block;
  padding: 5px 10px!important;
  margin: 10px auto;
  background: #6653ff!important;
  border: 0px solid #787878!important;
  border-radius: 0px;
  text-decoration: none;
  color: #f8f8f8!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px!important;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 1s linear!important;
  -moz-transition: all 1s linear!important;
  -ms-transition: all 1s linear!important;
  -o-transition: all 1s linear!important;
  transition: all 1s linear!important;
}

.btn-article-small i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #f4f4f4;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-article-small:hover,
.btn-article-small:focus,
.btn-article-small:active {
  border-color: #5d76ea!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #5d76ea!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-article-small:hover i,
.btn-article-small:focus i,
.btn-article-small:active i {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-article-small:hover span,
.btn-article-small:focus span,
.btn-article-small:active span {
  color: #d1e751!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-delete-small {
  display: inline-block;
  padding: 5px 10px!important;
  margin: 0px auto;
  background: #fd0080!important;
  border: 0px solid #787878!important;
  border-radius: 0px;
  text-decoration: none;
  color: #f8f8f8!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px!important;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 1s linear!important;
  -moz-transition: all 1s linear!important;
  -ms-transition: all 1s linear!important;
  -o-transition: all 1s linear!important;
  transition: all 1s linear!important;
}

.btn-delete-small i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #f4f4f4;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-delete-small:hover,
.btn-delete-small:focus,
.btn-delete-small:active {
  border-color: #5d76ea!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #ff5980!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-delete-small:hover i,
.btn-delete-small:focus i,
.btn-delete-small:active i {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-delete-small:hover span,
.btn-delete-small:focus span,
.btn-delete-small:active span {
  color: #d1e751!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-dark-small {
  display: inline-block;
  padding: 5px 10px!important;
  margin: 0px auto;
  background: #232323!important;
  border: 0px solid #787878!important;
  border-radius: 0px;
  text-decoration: none;
  color: #e8e8e8!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px!important;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.btn-dark-small i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #e8e8e8;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-dark-small:hover,
.btn-dark-small:focus,
.btn-dark-small:active {
  border-color: #000000!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #000000!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-dark-small:hover i,
.btn-dark-small:focus i,
.btn-dark-small:active i {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-dark-small:disabled, .btn-dark-small:disabled i {
  border-color: #f8f8f8!important;
  color: #f8f8f8!important;
  text-decoration: none;
  background: #f8f8f8!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}





.btn-grey-small {
  display: inline-block;
  padding: 5px 10px!important;
  margin: 0px auto;
  background: #ddd!important;
  border: 0px solid #787878!important;
  border-radius: 0px;
  text-decoration: none;
  color: #707070!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px!important;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.btn-grey-small i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #707070;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-grey-small:hover,
.btn-grey-small:focus,
.btn-grey-small:active {
  border-color: #000000!important;
  color: #ffffff!important;
  text-decoration: none;
  background: #6653ff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.btn-grey-small:hover i,
.btn-grey-small:focus i,
.btn-grey-small:active i {
  color: #ffffff!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}


.btn-grey-small:disabled, .btn-grey-small:disabled i {
  border-color: #f8f8f8!important;
  color: #f8f8f8!important;
  text-decoration: none;
  background: #f8f8f8!important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}





.btn-transparent-small {
  display: inline-block;
  padding: 5px 10px!important;
  margin: 0px auto;
  background: transparent!important;
  border: 0px solid transparent!important;
  border-radius: 0px;
  text-decoration: none;
  color: #555555!important;
  font-family: 'alte_haas_groteskregular', Arial, serif;
  font-size: 12px!important;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn-transparent-small i {
  position: relative;
  top: 1px;
  margin-left: 5px;
  font-size: 1.15em;
  color: #6653ff;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}


.btn-transparent-small:hover,
.btn-transparent-small:focus,
.btn-transparent-small:active {
  border-color: transparent!important;
  color: #6653ff!important;
  text-decoration: none;
  background: transparent!important;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.btn-transparent-small:hover i,
.btn-transparent-small:focus i,
.btn-transparent-small:active i {
  color: #6653ff!important;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}










/* ------------------------------------------------------------------
BRIEF BUTTONS
------------------------------------------------------------------- */
#briefbuttons {
font-family: "Open Sans",sans-serif!important;
    font-size: 12px!important;
    color: #bbb;
    letter-spacing: 0.5px!important;
margin: 0 auto;
width:100%;
padding:0px 0px 0px 0px;
margin-bottom: 10px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#briefbuttons a, #briefbuttons span {
margin:0px 10px 0px 0px;
font-size: 12px;
color: #8d8d8d!important;
border: 0!important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#briefbuttons a i, #briefbuttons span i { 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
 }
#briefbuttons a:hover i { 
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
 }
#briefbuttons span.sLink i { color: #aaaaaa; opacity: 0.4; }
#briefbuttons a.sLink i { color: #aaaaaa; opacity: 0.4; }
#briefbuttons a.sTwitter i { color: #428bca; opacity: 0.4; }
#briefbuttons a.sFacebook i { color: #3b5998; opacity: 0.4; }


#briefbuttons a.sLink:hover { color: #000000!important; }
#briefbuttons a.sTwitter:hover { color: #428bca!important; }
#briefbuttons a.sFacebook:hover { color: #3b5998!important; }
#briefbuttons a.sLink:hover i { color: #000000!important; opacity: 1; }
#briefbuttons a.sTwitter:hover i { color: #428bca!important; opacity: 1; }
#briefbuttons a.sFacebook:hover i { color: #3b5998!important; opacity: 1; }







.nav-tabs li a{ color: #717171; font-weight: bold; }
.nav-tabs li a:hover{ color: #101010; }









/* ==========================================================================
   SEARCH
   ========================================================================== */
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
width: 348px;
margin: 45px auto 50px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Form text input */
 
.search-wrapper input {
width: 248px;
height: 40px;
padding: 10px 5px!important;
margin: 0px!important;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #cacaca;
border-radius: 3px 0 0 3px;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.search-wrapper input[type="text"] {
margin: 0px!important;
} 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 100px;
font: bold 14px/40px 'Source Sans Pro';
color: white;
text-transform: none;
letter-spacing: 0.7px;
background: #6653ff;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
   
.search-wrapper button:hover{     
    background: #8271ff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #8271ff;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #6653ff transparent;
    top: 12px;
    left: -6px;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper button:hover:before{
    border-right-color: #8271ff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #8271ff;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    
/* ######## ARCHIVES ######## */
h4.petit_titre{
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 0!important;
    
}

p.lignearchive{ padding: 20px 5px!important; border: 0!important; }
.toutpeti {font-size:11px; display: block;  }
.toutpeti i { margin-right: 7px;  }
.toutpeti a, .toutpeti a:active, .toutpeti a:link { color: #515151!important; text-decoration: none;}
.toutpeti a:hover { color: #141414!important; cursor: pointer; text-transform: none; text-decoration: none; }
.menulien {line-height: 1;font-size:18px!important; line-height: 25px; font-family: 'Source Sans Pro', sans-serif; font-weight: bold; text-transform: none; }
.menulien a:link {color:#434343!important;text-decoration:none;border-bottom: 0px; display: inline-block;}
.menulien a:visited {color:#434343!important;text-decoration:none;border-bottom: 0px;} /* visited link */
.menulien a:hover {color:#6653ff!important;text-decoration:none; border: 0!important;}   /* mouse over link */
.menulien a:active {color:#434343!important;text-decoration:none;border-bottom: 0px;}  /* selected link */
p.lignearchive span.texte{ font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #5d5d5d; display: block; }
p.lignearchive span.texte mark{ background: #6653ff; padding: 0px 2px; color: #fcfcfc; }


div.lignearchive{ padding: 0px 60px 30px 60px!important; border: 0!important; }
div.lignearchive span.toutpeti { padding-top: 10px; }
div.lignearchive a span.menulien { 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }
div.lignearchive a:hover span.menulien { 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }
div.lignearchive a:link span.menulien { color:#434343!important; }
div.lignearchive a:visited span.menulien { color:#434343!important; }
div.lignearchive a:hover span.menulien { color:#f47264!important; }
div.lignearchive a:active span.menulien { color:#434343!important; }


