.custom-theme.froala-box.fr-disabled .froala-element {
  color: #999999;
}
.custom-theme.froala-box.fr-disabled button.fr-bttn,
.custom-theme.froala-box.fr-disabled button.fr-trigger {
  color: #999999 !important;
}
.custom-theme.froala-box.fr-disabled button.fr-bttn:after,
.custom-theme.froala-box.fr-disabled button.fr-trigger:after {
  border-top-color: #999999 !important;
}
.custom-theme.froala-box .html-switch {
  border-color: #999999;
}
.custom-theme.froala-box .froala-wrapper.f-basic {
  border: solid 0px #252525;
  background: #ffffff;
}
.custom-theme.froala-box .froala-wrapper.f-basic.f-placeholder + span.fr-placeholder {
  margin: 10px;
}
.custom-theme.froala-box .froala-element hr {
  border-top-color: #cccccc;
}
.custom-theme.froala-box .froala-element.f-placeholder:before {
  color: #cccccc;
}
.custom-theme.froala-box .froala-element pre {
  border: solid 1px #cccccc;
  background: #fcfcfc;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.custom-theme.froala-box .froala-element blockquote {
  border-left: solid 5px #cccccc;
}
.custom-theme.froala-box .froala-element img {
  min-width: 32px !important;
  min-height: 32px !important;
}
.custom-theme.froala-box .froala-element img.fr-fil {
  padding: 10px 10px 10px 3px;
}
.custom-theme.froala-box .froala-element img.fr-fir {
  padding: 10px 3px 10px 10px;
}
.custom-theme.froala-box .froala-element img.fr-fin {
  padding: 10px 0;
}
.custom-theme.froala-box .froala-element img::selection {
  color: #ffffff;
}
.custom-theme.froala-box .froala-element img::-moz-selection {
  color: #ffffff;
}
.custom-theme.froala-box .froala-element span.f-img-editor:before {
  border: none !important;
  outline: solid 1px #2c82c9 !important;
}
.custom-theme.froala-box .froala-element span.f-img-editor.fr-fil {
  margin: 10px 10px 10px 3px;
}
.custom-theme.froala-box .froala-element span.f-img-editor.fr-fir {
  margin: 10px 3px 10px 10px;
}
.custom-theme.froala-box .froala-element span.f-img-editor.fr-fin {
  margin: 10px 0;
}
.custom-theme.froala-box .froala-element span.f-img-handle {
  height: 8px;
  width: 8px;
  border: solid 1px #ffffff !important;
  background: #2c82c9;
}
.custom-theme.froala-box .froala-element span.f-video-editor.active:after {
  border: solid 1px #252525;
}
.custom-theme.froala-box .froala-element.f-basic {
  color: #444444;
  padding: 10px;
}
.custom-theme.froala-box .froala-element.f-basic a {
  color: inherit;
}
.custom-theme.froala-box .froala-element table td {
  border: solid 1px #cccccc;
}
.custom-theme.froala-box.f-html .froala-element {
  background: #202020;
  color: #ffffff;
  font-family: 'Courier New', Monospace;
  font-size: 13px;
}
.custom-theme.froala-editor {
  background: #444444;
  border: solid 0px #252525;
  border-top: solid 0px #252525;
}
.custom-theme.froala-editor hr {
  border-top-color: #cccccc;
}
.custom-theme.froala-editor span.f-sep {
  border-right: solid 1px #cccccc;
  height: 35px;
}
.custom-theme.froala-editor button.fr-bttn,
.custom-theme.froala-editor button.fr-trigger {
  background: transparent;
  color: #ffffff;
  font-size: 14px;
  line-height: 35px;
  width: 40px;
}
.custom-theme.froala-editor button.fr-bttn img,
.custom-theme.froala-editor button.fr-trigger img {
  max-width: 40px;
  max-height: 35px;
}
.custom-theme.froala-editor button.fr-bttn:disabled,
.custom-theme.froala-editor button.fr-trigger:disabled {
  color: #999999 !important;
}
.custom-theme.froala-editor button.fr-bttn:disabled:after,
.custom-theme.froala-editor button.fr-trigger:disabled:after {
  border-top-color: #999999 !important;
}
.custom-theme.froala-editor.ie8 button.fr-bttn:hover,
.custom-theme.froala-editor.ie8 button.fr-trigger:hover {
  background: #ffe87e;
  color: #000000;
}
.custom-theme.froala-editor.ie8 button.fr-bttn:hover:after,
.custom-theme.froala-editor.ie8 button.fr-trigger:hover:after {
  border-top-color: #000000;
}
.custom-theme.froala-editor .bttn-wrapper:not(.touch) button.fr-bttn:hover,
.custom-theme.froala-editor .froala-popup button.fr-bttn:hover,
.custom-theme.froala-editor .bttn-wrapper:not(.touch) button.fr-trigger:hover,
.custom-theme.froala-editor .froala-popup button.fr-trigger:hover {
  background: #ffe87e;
  color: #000000;
}
.custom-theme.froala-editor .bttn-wrapper:not(.touch) button.fr-bttn:hover:after,
.custom-theme.froala-editor .froala-popup button.fr-bttn:hover:after,
.custom-theme.froala-editor .bttn-wrapper:not(.touch) button.fr-trigger:hover:after,
.custom-theme.froala-editor .froala-popup button.fr-trigger:hover:after {
  border-top-color: #000000;
}
.custom-theme.froala-editor .fr-bttn.active {
  color: #ffe87e;
  background: transparent;
}
.custom-theme.froala-editor .fr-trigger:after {
  border-top-color: #ffffff;
}
.custom-theme.froala-editor .fr-trigger.active {
  color: #000000;
  background: #ffe87e;
}
.custom-theme.froala-editor .fr-trigger.active:after {
  border-top-color: #000000 !important;
}
.custom-theme.froala-editor .fr-dropdown .fr-trigger {
  width: calc(38px);
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu {
  background: #ffffff;
  border: solid 1px #252525;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu li.active a {
  background: #444444 !important;
  color: #ffffff !important;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu li a {
  color: #444444;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu li a:hover {
  background: #444444 !important;
  color: #ffffff !important;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li:hover > a,
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li.hover > a {
  background: #444444;
  color: #ffffff;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li > ul {
  background: #ffffff;
  color: #444444;
  border: solid 1px #252525;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li > div {
  background: #ffffff;
  color: #444444;
  border: solid 1px #252525;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li > div > span > span {
  border: solid 1px #cccccc;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li > div > span:hover > span,
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > li > div > span.hover > span {
  background: rgba(61, 142, 185, 0.3);
  border: solid 1px #3d8eb9;
}
.custom-theme.froala-editor .fr-dropdown .fr-dropdown-menu.fr-table > hr {
  border-top: solid 1px #252525;
}
.custom-theme.froala-editor .fr-dropdown.fr-color-picker .fr-dropdown-menu p {
  color: #444444;
}
.custom-theme.froala-editor .fr-dropdown.fr-color-picker .fr-dropdown-menu p a.fr-bttn {
  color: #444444;
}
.custom-theme.froala-editor .fr-dropdown.fr-color-picker .fr-dropdown-menu p a.fr-bttn:hover {
  color: #ffe87e;
}
.custom-theme.froala-editor .fr-dropdown.fr-color-picker .fr-dropdown-menu .fr-color-bttn.active {
  outline: solid 1px #252525;
}
.custom-theme.froala-editor .fr-dropdown.fr-color-picker .fr-dropdown-menu .fr-color-bttn.active:after {
  color: #ffffff;
}
.custom-theme.froala-editor .fr-dropdown.fr-color-picker .fr-dropdown-menu .fr-color-bttn:hover:not(:focus):not(:active) {
  outline: solid 1px #252525;
}
.custom-theme.froala-editor .froala-popup {
  background: #ffffff;
}
.custom-theme.froala-editor .froala-popup h4 {
  color: #444444;
}
.custom-theme.froala-editor .froala-popup h4 i {
  color: #cccccc;
}
.custom-theme.froala-editor .froala-popup h4 i.fa-external-link {
  color: #444444;
}
.custom-theme.froala-editor .froala-popup h4 i.fa-external-link:hover {
  color: #ffe87e;
}
.custom-theme.froala-editor .froala-popup h4 i:hover {
  color: #444444;
}
.custom-theme.froala-editor .froala-popup button.fr-p-bttn {
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup button.fr-p-bttn.f-ok {
  background: #2c82c9;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup button.fr-p-bttn.f-unlink {
  background: #333333;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup button.fr-p-bttn.f-unlink:hover {
  background: #353535;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup button.fr-p-bttn:hover,
.custom-theme.froala-editor .froala-popup button.fr-p-bttn:focus {
  background: #353535;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line.f-popup-toolbar {
  background: #444444;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line label {
  color: #444444;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line input[type="text"] {
  border: solid 1px #cccccc;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line input[type="text"]:focus {
  border: solid 1px #54acd2;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line input[type="text"]:disabled {
  background: #ffffff;
  color: #999999;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line textarea {
  border: solid 1px #cccccc;
}
.custom-theme.froala-editor .froala-popup div.f-popup-line textarea:focus {
  border: solid 1px #54acd2;
}
.custom-theme.froala-editor .froala-popup.froala-image-editor-popup div.f-popup-line + div.f-popup-line {
  border-top: solid 1px #cccccc;
}
.custom-theme.froala-editor .froala-popup.froala-video-popup p.or {
  color: #444444;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup div.f-popup-line.drop-upload div.f-upload {
  color: #444444;
  border: dashed 2px #cccccc;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup div.f-popup-line.drop-upload div.f-upload:hover {
  border: dashed 2px #353535;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup div.f-popup-line.drop-upload div.f-upload.f-hover {
  border: dashed 2px #61bd6d;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup div.f-popup-line button.f-browse {
  background: #475577;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup div.f-popup-line button.f-browse:hover {
  background: #353535;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup div.f-popup-line + div.f-popup-line {
  border-top: solid 1px #cccccc;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup p.f-progress {
  background-color: #61bd6d;
}
.custom-theme.froala-editor .froala-popup.froala-image-popup p.f-progress span {
  background-color: #61bd6d;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup.froala-link-popup div.f-popup-line .f-browse-links {
  background: #475577;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup.froala-link-popup div.f-popup-line .f-browse-links:hover {
  background: #353535;
  color: #ffffff;
}
.custom-theme.froala-editor .froala-popup.froala-link-popup div.f-popup-line ul {
  background: #ffffff;
  border: solid 1px #252525;
}
.custom-theme.froala-editor .froala-popup.froala-link-popup div.f-popup-line ul li {
  color: #444444;
}
.custom-theme.froala-editor .froala-popup.froala-link-popup div.f-popup-line ul li + li {
  border-top: solid 1px #252525;
}
.custom-theme.froala-editor .froala-popup.froala-link-popup div.f-popup-line ul li:hover {
  background: #444444;
  color: #ffffff;
}
.custom-theme.froala-modal .f-modal-wrapper {
  background: #ffffff;
  border: solid 0px #252525;
  border-top: solid 0px #252525;
}
.custom-theme.froala-modal .f-modal-wrapper h4 {
  color: #444444;
}
.custom-theme.froala-modal .f-modal-wrapper h4 i {
  color: #cccccc;
}
.custom-theme.froala-modal .f-modal-wrapper h4 i:hover {
  color: #444444;
}
.custom-theme.froala-modal .f-modal-wrapper div.f-image-list div.f-empty {
  background: #cccccc;
}
.custom-theme.froala-modal .f-modal-wrapper div.f-image-list div .f-delete-img {
  background: #333333;
  color: #ffffff;
}
.custom-theme.froala-modal .f-modal-wrapper div.f-image-list div .f-delete-img:hover {
  background: #353535;
  color: #ffffff;
}
.custom-theme.froala-modal .f-modal-wrapper div.f-image-list:not(.f-touch) div:hover .f-delete-img:hover {
  background: #353535;
  color: #ffffff;
}
.froala-overlay {
  background: #000000;
}
