/*!
 * Start Bootstrap - The Big Picture HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

html, body, .container-table {
    height: 100%;
}

body {
	background: #222222;
 background: url('../images/v.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



@media (max-width: 768px) { /* =============== Smartphones ================= */

body {
	background: #222222;
  background: url('../images/v_small.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


}/* fin max-width: 768px */




.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.sidebarLogo2
{
  margin: 0!important;
  padding: 0!important;
}
.logo2 {
display:inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0!important;
  padding: 0!important;
line-height: 20px!important;
}
.logo2 span {
	color:#fbfbfb;
	background: transparent;
	text-decoration:none;
	position:relative;
	white-space:nowrap;
	letter-spacing: 1px;
	font-size: 13px;
	float: left;
	display: inline-block;

	padding: 7px 10px;
	margin: 0!important;
	border: 2px solid #fbfbfb!important;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
.logo2 span:hover {
	color:#ffffff;
	border: 2px solid #ffffff;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}