.inbox-body {
    padding: 0px;
}
ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}
ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}
ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}
ul.inbox-nav li a:hover, ul.inbox-nav li.active a, ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}
ul.inbox-nav li a span.label {
    margin-top: 13px;
}
ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}
ul.labels-info li {
    margin: 0;
}
ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}
ul.labels-info li a:hover, ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}
ul.labels-info li a i {
    padding-right: 10px;
}
.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}
.inbox-head {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}
.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}
.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}
.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}
.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}
.table-inbox tr td {
    padding: 12px !important;
    background: none repeat scroll 0 0 #f4f4f4;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; 
}
.table-inbox tr td a{
   color: #313131;
}
.table-inbox tr:hover td {
    background: #fff!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; 
}
.table-inbox tr td:hover {
    cursor: pointer;
}
.table-inbox tr td.inbox-small-cells{
    font-size: 11px;
    color: #373737;
}
.table-inbox tr td.inbox-small-cells i{
    font-size: 10px;
    color: #777777;
}
.table-inbox tr td .fa.accepted {
    color: #1ca58b;
}
.table-inbox tr td .fa.declined {
    color: #ff8a84;
}
.table-inbox tr td .fa-star {
    color: #d5d5d5;
}
.table-inbox tr td .fa-star:hover {

}
.label-primary{
background: #7aa7d6;
}
.label-default{
background: #eaeaea;
color: #6b6b6b;
}
.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #fafafa;
    font-weight: 600;
}
ul.inbox-pagination {
    float: right;
}
ul.inbox-pagination li {
    float: left;
}


.clock_small {
font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 0px 0px 0px 0px;
    margin: 0;
    text-align: center;
}
.form-horizontal {
padding: 10px 15px;
}
.form-group{
padding: 0px;
}
label { 
text-align: left!important;
padding: 10px 5px 0px 0px!important;
color: #cdcdcd!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
.input-group-addon {
    background: transparent;
    border: 0;
    color: #464646;
    font-size: 12px;
    outline: 0;
    padding: 15px 0px 0px 0px!important;
    margin: 0;
}


.petit_container_form {
width: 100%;
max-width:500px;
margin: 0;
font-family: 'Source Sans Pro', sans-serif;
} 
.ctag { 
color: #1eab8f; 
background: #303030; 
padding: 0px 5px;
margin: 0px;
display: inline-block;
border-radius:4px; 
-moz-border-radius:4px; 
-webkit-border-radius:4px;
 }
address{ 
	background: #f9f9f9;
	border-left: 2px solid #e3e3e3;
	padding: 5px 10px;
}
.subheader {
padding: 10px;
font-size: 12px;
font-weight: bold;
background: #f1f1f1;
color: #464646;
border-bottom: 4px solid #b4b4b4;
margin: 30px 0px 0px 0px;
} 


ol.breadcrumb{ background: #f3f3f3!important; }
ol.breadcrumb li a, ol.breadcrumb li a i{ color: #9f9f9f!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  }
ol.breadcrumb li a:hover, ol.breadcrumb li a:hover i{ color: #6653ff!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  }
ol.breadcrumb li.active{  }
.mail-option {
    display: block;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
}
#tab {
    display: inline-block;
    margin: 0 auto;
}
.mail-option .chk-all, .mail-option .btn-group {
    margin-right: 5px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #f8f8f8;
    border: 1px solid #f8f8f8;
    color: #5c5c5c;
    display: inline-block;
    padding: 7px 13px;
    font-size: 14px;
    letter-spacing: 0.7px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn.active {
    background: none repeat scroll 0 0 #e9e9e9;
    border: 1px solid #f8f8f8;
    color: #393939;
    display: inline-block;
    padding: 7px 13px;
    font-size: 14px;
    letter-spacing: 0.7px;
	outline: 0;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}
.mail-option .chk-all, .mail-option .btn-group a.btn:hover {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #f8f8f8;
    color: #353535;
    display: inline-block;
    padding: 7px 13px;
}
.mail-option .chk-all, .mail-option .btn-group a.btn.active:hover {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #f8f8f8;
    color: #353535;
    display: inline-block;
    padding: 7px 13px;
}
.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    color: #afafaf;
    display: inline-block;
    padding: 7px 13px;
}
.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}
.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}

img {
    vertical-align: middle;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    background-color: #fff;
    border: 1px solid #ededf0;
    border-radius: 3px;
    display: inline-block;
    height: auto;
    line-height: 1.428571429;
    max-width: 100%;
    moz-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    padding: 2px;
    transition: all .2s ease-in-out;
    webkit-transition: all .2s ease-in-out;
}

.img-circle {
    border-radius: 50%;
}

.timeline-centered {
    position: relative;
    margin: 0px 10px 30px 10px;
}

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before, .timeline-centered:after {
        content: " ";
        display: table;
    }

    .timeline-centered:after {
        clear: both;
    }

    .timeline-centered:before {
        content: '';
        position: absolute;
        display: block;
        width: 4px;
        background: #e3e3e3;
        /*left: 50%;*/
        top: 20px;
        bottom: 20px;
        margin-left: 30px;
    }

    .timeline-centered .timeline-entry {
        position: relative;
        /*width: 50%;
        float: right;*/
        margin-top: 5px;
        margin-left: 30px;
        margin-bottom: 10px;
        padding: 0px!important;
        clear: both;
    }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry:before, .timeline-centered .timeline-entry:after {
            content: " ";
            display: table;
        }

        .timeline-centered .timeline-entry:after {
            clear: both;
        }

        .timeline-centered .timeline-entry.begin {
            margin-bottom: 0;
        }

        .timeline-centered .timeline-entry.left-aligned {
            float: left;
        }

            .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
            }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
                    float: right;
                }

                .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                }

                    .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        -moz-transform: rotate(180deg);
                        -o-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        transform: rotate(180deg);
                    }

        .timeline-centered .timeline-entry .timeline-entry-inner {
            position: relative;
            margin-left: -20px;
        }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:before, .timeline-centered .timeline-entry .timeline-entry-inner:after {
                content: " ";
                display: table;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner:after {
                clear: both;
            }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
                position: absolute;
                left: -100px;
                text-align: right;
                padding: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
                    display: block;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
                        font-size: 15px;
                        font-weight: bold;
                    }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
                        font-size: 12px;
                    }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
                background: #fff;
                color: #737881;
                display: block;
                width: 40px;
                height: 40px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                border-radius: 20px;
                text-align: center;
                -moz-box-shadow: 0 0 0 5px #e3e3e3;
                -webkit-box-shadow: 0 0 0 5px #e3e3e3;
                box-shadow: 0 0 0 5px #e3e3e3;
                line-height: 40px;
                font-size: 15px;
                float: left;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
                    background-color: #2e343f;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-reply {
                    background-color: #f8f8f8;
                    color: #7e7e7e;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-accepted {
                    background-color: #1abc9c;
                    color: #ffffff;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-declined {
                    background-color: #ff3757;
                    color: #ffffff;
                }          
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-thread {
                    background-color: #6653ff;
                    color: #ffffff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-repondre {
                    background-color: #6653ff;
                    color: #fff;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-black {
                    background-color: #f8f8f8;
                    color: #7e7e7e;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
                    background-color: #cc2424;
                    color: #fff;
                }

            .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
                position: relative;
                background: #fdfdfd;
                padding: 1em;
                margin-left: 60px;
                -webkit-background-clip: padding-box;
                -moz-background-clip: padding;
                background-clip: padding-box;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                border: 1px solid #ededed;
            }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 9px 9px 9px 0;
                    border-color: transparent #ededed transparent transparent;
                    left: 0;
                    top: 10px;
                    margin-left: -9px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2, .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
                    color: #464646;
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 12px;
                    margin: 0;
                    line-height: 1.428571429;
                }

                    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
                        margin-top: 15px;
                    }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
                	font-family: 'Source Sans Pro Light', sans-serif;
                    font-size: 18px;
                    color: #1f1f1f;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
					font-family: 'Source Sans Pro Light', sans-serif;
				    font-size: 14px;
				    color: #363636;
				    line-height: 22px;
				    text-align: justify;
                  
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p.small {
                    font-size: 11px;
                  color: #838383;
                }
                .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p.small b {
                    font-size: 12px;
                  color: #363636;
                }


.legendgraph {
font-size: .85em;
padding-top: 5em;
color: #777777;
width: 100%;
}
.legendgraph p:nth-child(1) {
font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 15px!important;
    line-height: 20px!important;
    color: #454545!important;
    padding-bottom: 10px;
    text-align: center;
}
.legendgraph p.details {
font-family: 'Source Sans Pro', sans-serif!important;
    font-size: 12px!important;
    line-height: 14px!important;
    color: #737373!important;
}
.legendgraph .item {
line-height: 1;
padding-left: .5em;
margin-bottom: .5em;
}
.legendgraph .yesyes {
border-left: 1em solid #1abc9c;
}
.legendgraph .yes {
border-left: 1em solid #3498db;
}  
.legendgraph .no {
border-left: 1em solid #f1c40f;
}
.legendgraph .nono {
border-left: 1em solid #fd0080;
} 

p span.yesyes {
color:#1abc9c;
}
p span.yes {
color:#3498db;
}  
p span.no {
color:#f1c40f;
}
p span.nono {
color:#fd0080;
} 

.fleft {
    float:left;
    padding: 0;
    margin: 0;
    border: 0;
}
.fright {
    float:right;
    padding: 0;
    margin: 0;
    border: 0;
}

#texte{
     background: transparent!important;
    font-family: 'Droid Serif', serif;
    font-size: 16px!important;
    font-weight: 400;
    color: #424242;
    line-height: 30px!important;
    text-align: justify;
}












