
.loginbloc{
	display: block;
	margin: 0 auto;
	padding:20px 0;
	max-width: 320px;
	max-height: 320px;
    width: 100%;
    height: 100%;
	text-align: center;
}
.loginbloc p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #3f3f3f;
    text-decoration: none;
    border: 0!important;
    padding: 10px 0px 10px 0px;
    margin: 0;
    text-align: center;
}
.loginbloc p a{
    color: #6653ff;
}
.loginbloc p a:hover{
    color: #1f00ff;
}
p.form-title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    color: #323232;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 0px 0px 20px 0px;
    margin: 0;
    text-align: center;
}
p.form-title span
{
    color: #838383;
    font-size: 12px;
}
form
{
    width: 300px;
    margin: 0 auto;
}

form.login input[type="email"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #989898;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #3e3e3e;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}



/* ==========================================================================
   SMARTPHONES & TABLETS
   ========================================================================== */
.only_smartphones{ display: none; }

@media (min-width: 992px) {/* =============== Laptops ================= */
.loginbloc{ margin: 0 auto; }


}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.loginbloc{ margin: 0 auto; }

}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
.loginbloc{ margin: 0 auto; }

}/* fin max-width: 768px */


