#pricing {
    -webkit-transition-property:opacity;
    -webkit-transition-duration:1s;
    -webkit-transition-timing-function:ease-out;
    -moz-transition-property:opacity;
    -moz-transition-duration:1s;
    -moz-transition-timing-function:ease-out;
    -ms-transition-property:opacity;
    -ms-transition-duration:1s;
    -ms-transition-timing-function:ease-out;
    -o-transition-property:opacity;
    -o-transition-duration:1s;
    -o-transition-timing-function:ease-out;
    transition-property:opacity;
    transition-duration:1s;
    transition-timing-function:ease-out;

}

#pricing .row--pricing {
    position:relative;
    left:1%;
}

#pricing .sqs-col-4 {
    width:100%;
    padding-right:2%
}

#pricing .price-plan .price-plan-intrinsic {
    position:relative;
    width:auto;
    background:#333;
    -o-transition:background-color 1s ease-out;
    -ms-transition:background-color 1s ease-out;
    -moz-transition:background-color 1s ease-out;
    -webkit-transition:background-color 1s ease-out;
    transition:background-color 1s ease-out
}


#pricing a {
    text-decoration: none!important;
    color: #fff!important;
}
#pricing .price-plan {
    margin-right: 10px!important;
}
@media (max-width: 768px) { /* =============== Smartphones ================= */
#pricing .price-plan { margin-right: 0px!important; }
}/* fin max-width: 768px */ 


#pricing .price-plan .price-plan-intrinsic {
    position:relative;
    padding-bottom:280px
}
#pricing .price-plan .price-plan-intrinsic:hover {
    background:#1abc9c;
}
#pricing .price-plan .price-plan-intrinsic:hover .price p {
    color:#f4f4f4;
    -o-transition:all 1s ease-out;
    -ms-transition:all 1s ease-out;
    -moz-transition:all 1s ease-out;
    -webkit-transition:all 1s ease-out;
    transition:all 1s ease-out
}
#pricing .price-plan .price-plan-intrinsic .price-plan-link {
    position:absolute;
    width:100%;
    height:100%;
    cursor:pointer
}

#pricing .price-plan .price-plan-arrow {
    position:absolute;
    display:none
}

#pricing .price-plan h2 {
    font-size:18px;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:6px;
    text-align:center;
    padding:42px 0 0;
    margin:0
}

#pricing .price-plan-business h2:after {
    width:150px;
    position:relative;
    left:-4px
}

#pricing .price-plan-unlimited h2:after {
    width:166px;
    position:relative;
    left:-5px
}

#pricing .price-plan-standard h2:after {
    width:162px;
    position:relative;
    left:-4px
}

#pricing .price-plan .price {
    padding:30px 0 0
}

#pricing .price-plan .price p {
    text-align:center;
    color:#989898;
    font-size:14px;
    margin-top:21px;
    font-family: 'Source Sans Pro', sans-serif;
    font-style:italic;
    padding: 0px 10px;
    -o-transition:all 1s ease-out;
    -ms-transition:all 1s ease-out;
    -moz-transition:all 1s ease-out;
    -webkit-transition:all 1s ease-out;
    transition:all 1s ease-out
}

#pricing .price-plan .price p.price-breakdown.hidden {
    display:none
}

#pricing .price-plan .inside {
    font-weight:100;
    color:#fff;
    text-align:center;
    line-height:100px;
    height:100px
}

#pricing .price-plan .super {
    font-size:24px;
    position:relative;
    top:-56px;
    left:-7px
}

#pricing .price-plan .amt {
    letter-spacing:-4px;
    font-size:104px;
    margin-right:6px;
    font-weight:300;
    margin-left:-5px
}

#pricing .price-plan .sub {
    text-transform:uppercase;
    font-size:14px;
    letter-spacing:2px;
    margin-left:-5px
}

#pricing .price-plan .most-popular {
    position:absolute;
    top:-32px;
    right:0;
    width:100%;
    height:auto;
    background:#60b99a;
    color:#ffffff;
    text-align:center;
    padding:6px 0;
    text-transform:uppercase;
}

#pricing .price-plan .most-popular span {
    position:static
    color:#fff;
    font-family:'Gotham SSm A','Gotham SSm B',sans-serif;
    font-weight:500;
    font-size:12px;
    letter-spacing:1px;
    line-height:15px;
    margin:0;
    font-style:normal;
    text-transform: none;
}

#pricing .price-plan .info {
    text-align:center;
    background-color:#f7f7f7
}

#pricing .price-plan .info p {
    font-size:12px
}

#pricing .price-plan .info ul {
    margin:0;
    padding:0;
    list-style:none;
    text-align:left
}

#pricing .price-plan .info ul li {
    line-height:20px;
    padding:20px 30px;
    background:#f5f5f5;
    border-bottom:solid 1px #ececec;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
    color: #4b4b4b;
    text-align:left;

}

#pricing .price-plan .info ul li .free {
    background:#58cc8e;
    border-radius:3px;
    color:#fff;
    text-transform:uppercase;
    width:55px;
    line-height:0;
    text-align:center;
    font-size:11px;
    font-weight:500;
    letter-spacing:1px;
    position:relative;
    padding:4px 8px;
    top:-1px;
    left:4px
}

#pricing .price-plan .info .info-price-billing {
    display:none;
    font-size:11px;
    font-family:'Chronicle SSm A','Chronicle SSm B',Georgia,serif;
    -webkit-font-smoothing:antialiased;
    font-style:italic;
    color:#aaa;
    padding-top:10px;
    background-color:#fff;
    text-align:left;
    padding-left:21px
}

#pricing .price-plan .info .button {
    display:none
}

#pricing .price-plan.price-plan-standard .feature-limits,#pricing .price-plan.price-plan-standard .feature-ecommerce,#pricing .price-plan.price-plan-standard .feature-one-product {
    font-weight:500;
    color:#222
}

#pricing .price-plan.price-plan-unlimited .feature-nolimits,#pricing .price-plan.price-plan-unlimited .feature-limited-products,#pricing .price-plan.price-plan-unlimited .feature-ecommerce,#pricing .price-plan.price-plan-unlimited .feature-developers {
    font-weight:500;
    color:#222
}

#pricing .price-plan.price-plan-business .feature-nolimits,#pricing .price-plan.price-plan-business .feature-unlimited-products,#pricing .price-plan.price-plan-business .feature-ecommerce,#pricing .price-plan.price-plan-business .feature-carrier-shipping,#pricing .price-plan.price-plan-business .feature-label-printing,#pricing .price-plan.price-plan-business .feature-xero {
    font-weight:500;
    color:#222
}

#pricing .price-plan.price-plan-unlimited .disclaimer, #pricing .price-plan.price-plan-business .disclaimer{
    background-color:#fff;
    font-size:12px;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing:antialiased;
    font-style:italic;
    text-align:left;
    color:#a2a2a2;
    padding-top:10px;
    padding-left:30px;
    padding-right:10%;
    padding-bottom:10px;
}

#pricing .price-plan-standard {
    margin-left:0;
    margin-right:0
}

#pricing .price-plan-standard .inside {
    padding-left:6px
}

#pricing .price-plan-standard .bubble .inside {
    text-indent:12px
}

#pricing .price-plan-standard .bubble .inside .amt {
    margin-left:3px
}

#pricing .price-plan-unlimited {
    margin-left:0;
    margin-right:0
}

#pricing .price-plan-unlimited .inside {
    padding-left:8px
}

#pricing .price-plan-unlimited .bubble .inside {
    text-indent:8px
}

#pricing .price-plan-business {
    margin-left:0;
    margin-right:0
}

#pricing .price-plan-business .inside {
    padding-left:12px
}

#pricing .price-plan-business .bubble .inside {
    text-indent:12px
}

#pricing .price-plan-business .bubble .inside .amt {
    margin-left:3px
}
.containerPricing {
padding: 20px 0px;
width: 100%;
max-width: 700px;
}