article{
padding: 45px 20px;
border-bottom:1px solid #f1f1f1;
}
span.hashtag {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    display: block;
    color: #333333;
    background: transparent!important;
    padding: 0;
    margin: 0;
}
article h1, article h1 a {
    font-size: 22px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    line-height: 28px;
  color: #181818;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 0px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
article h1 a:hover { color: #7866ff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
article h3 {
font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 5px 0px 0px 0px;
    margin: 0;
    text-align: center;
}
article h3 a {
    color: #181818!important;
}
article h3 a:hover {
    color: #7866ff!important;
}
article h4 {
    font-size: 17px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}
article h4 a {
    color: #181818!important;
}
article h4 a:hover {
    color: #7866ff!important;
}
article .post-meta {
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     padding-right: 20px;
}
article .post-meta .post-description {
    font-family: 'Droid Serif', serif;
    font-size: 14px!important;
    font-weight: 400;
    color: #424242;
    line-height: 20px!important;
    padding: 0px;
    margin: 0px;
}
article .post-meta span.date {  font-size: 12px!important; color: #909090; }
article .post-meta span.auteur {  font-size: 12px!important; color: #5d5d5d; }

article .post-meta a {   color: #5d5d5d; font-size: 12px!important;  }
article .post-meta a:hover { color: #7866ff; }

span.divblack {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 14px 0!important;
}
span.divblack2 {
    content: '';
    display: block;
    width: 10px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 4px 0!important;
}
span.divblack3 {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #eaeaea;
    margin: 4px 0!important;
}


.thumbnail {
    position: relative;
    padding: 0px;
    margin: 20px 20px 20px 0px;
    background: #212121;
    border: 0px;
}

.thumbnail img {
    width: 100%;
}

.thumbprod{
   border: 10px solid #f5f5f5;
   margin: 0px;
}

.thumbnail .caption h4 {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    color: #d4d4d4;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 5px 0px 0px 0px;
    margin: 0;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.thumbnail:hover .caption h4 {
    color: #ffffff;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.thumbnail .caption p {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    letter-spacing: 0.7px;
    line-height: 30px;
    color: #747474;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.thumbnail:hover .caption p {
    color: #ffffff;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}


.articlesimple{
     background: transparent!important;
    font-family: 'Droid Serif', serif;
    font-size: 16px!important;
    font-weight: 400;
    color: #424242;
    line-height: 30px!important;
    text-align: justify;
    margin: 0px 0px 30px 0px;
}
.articlesimple p{
    font-size: 16px!important;
    line-height: 30px!important;
}
.articlesimple::first-letter { 
	font-size: 55px!important;
    font-weight: 700!important;
    padding: 10px 10px 10px 10px!important;
    line-height: 30px!important;
    margin: 0px!important;
    float: left;
}

.articlesimple a {
    color: #424242!important;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    line-height: 36px;
    padding: 0!important;
    margin: 0!important;
    text-align: justify;
     background: transparent!important;
border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.articlesimple a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}
p.p-punchline {
    color: #8a8a8a!important;
    font-family: 'Droid Serif', serif;
    font-size: 14px!important;
    line-height: 40px!important;
}
p.p-punchline span {
    font-size: 16px;
    line-height: 40px!important;
        color: #414141!important;
}
div.p-description {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 19px;
    color: #7e82b2;
    text-align: left;
    margin: 0;
    padding: 10px;
    border-left: 4px solid #ccc;
	background: #f6f6f6;
    display: inline-block;
}
div.p-description p {
	color: #7e82b2;
    font-size: 16px;
    line-height: 40px!important;
}
div.p-description p span {
	color: #4f57aa;
}
div.p-description a {
    color: #9c9c9c;
}
div.p-description a:hover {
    color: #6653ff;
}
