
label { color: #939393!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
label:hover { color: #575757!important; 
		-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
label input[type="checkbox"] { margin-top: 6px!important; }

article{
padding: 5px 20px;
border-bottom:1px solid #f1f1f1;
}
span.hashtag {
	font-family: 'Work Sans', sans-serif; 
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: none;
    
    font-weight: 400;
    color: #6b6b6b;
    background: transparent!important;
    padding: 0;
    margin: 0;
}
article h1, article h1 a {
    font-size: 22px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    line-height: 28px;
  color: #181818;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 0px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
article h1 a:hover { color: #7866ff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }
article h3 {
    font-size: 19px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}
article h3 a {
    color: #181818!important;
}
article h3 a:hover {
    color: #7866ff!important;
}
article h4 {
    font-size: 17px!important;
    font-family: 'alte_haas_groteskregular', Arial, serif!important;
    font-weight: bold!important;
    color: #181818!important;
    line-height: 25px;
    border: 0;
    padding: 0;
    margin: 0;
}
article h4 a {
    color: #181818!important;
}
article h4 a:hover {
    color: #7866ff!important;
}
article p.token{
    font-size: 12px!important;
    color: #8a8a8a;
}
article p.token b{
    color: #848484;
}
article .post-meta {
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     padding-right: 20px;
}
article .post-meta span.date {  font-size: 12px!important; color: #bbbbbb; }
article .post-meta span.auteur {  font-size: 12px!important; color: #5d5d5d; }

article .post-meta a {   color: #5d5d5d; font-size: 12px!important;  }
article .post-meta a:hover { color: #7866ff; }


.articlesimple{
     background: transparent!important;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 36px;
    text-align: justify;
    min-height: 200px;
}
.articlesimple p{
    font-size: 1.1em!important;
}

.articlesimple a {
    color: #424242!important;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    line-height: 36px;
    text-align: justify;
     background: transparent!important;
border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.articlesimple a:hover {
    color: #000000!important;
background:#b4e7f8!important;
}
p.legendethumb {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    line-height: 19px;
    color: #474747;
    text-align: left;
    margin: 0;
    margin-top: 100px;
    padding: 10px;
}
.edito{
     border-top: 2px solid #bcbcbc;
     border-bottom: 2px solid #bcbcbc;
    padding: 20px 0px;
    margin-bottom: 20px;
}
.editotxt{
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 36px;
    text-align: justify;
}
.editotxt p::first-letter { 
font-size: 3.5em;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 15px;
    float: left;
}
.editotxt a {
    color: #616161!important;
    font-family: 'Droid Serif', serif;
    font-size: 1.1em!important;
    line-height: 36px;
    text-align: justify;
     background: transparent!important;
     border-bottom: 1px solid #bbbbbb;
}
.editotxt a:hover {
    color: #6653ff!important;
     border-bottom: 1px solid #6653ff;
}
.article-media {
    background: #232323;
    color: #dfdfdf;
    padding: 0!important;
    margin: 0px 0px 20px 0px!important;
    text-align: center;
    display: block;
}
.small {
    font-size: 14px!important;
}
.titlevideo{
font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px!important;
}
parole {
    display: block;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  font-style: italic!important;
}
parole:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
parole p {
  display: inline;
    font-family: 'Droid Serif', serif;
    font-size: 1em!important;
    font-weight: 400;
    color: #424242;
    line-height: 30px;
    text-align: justify;
    font-style: italic!important;
}
#videoform, #youtubeform {
    display: none;
    width: 100%;
}
#videoform p, #youtubeform p {
    color: #707070;
    font-size: 14px;
}
#videoform input[type="text"], #youtubeform input[type="text"]
{
    background: #fff;
    border: 1px solid #c2c2c2;
    color: #3e3e3e;
    outline: 1;
    margin: 10px 0px;
    width: 100%;
    max-width: 120px;
}
#videoform .input-group-addon, #youtubeform .input-group-addon {
    background: transparent;
    border: 0;
    color: #464646;
    font-size: 12px;
    outline: 0;
    margin: 10px 0px!important;
}

#soundcloudform {
    display: none;
    width: 100%;
}
#soundcloudform p {
    color: #707070;
    font-size: 14px;
}
#soundcloudform p:nth-child(2) {
    color: #ababab;
}
#soundcloudform textarea
{
    background: #fff;
    border: 1px solid #c2c2c2;
    color: #3e3e3e;
    outline: 1;
    margin: 10px 0px;
    width: 100%;
    max-width: 300px;
}




div.radio label{
font-size: 16px;
color: #5d5d5d!important;
padding: 10px 20px;
}
div.radio label:hover{
font-size: 16px;
color: #1a1a1a!important;
}

#anonform, #emailform, #loginform {
    display: none;
    width: 100%;
    }
#anonform p {
    font-size: 14px;
    line-height: 20px;
    color: #ff3f28!important;
}
#emailform p, #loginform p {
    color: #707070;
    font-size: 14px;
}
#emailform input[type="text"], #emailform input[type="email"], #loginform input[type="password"], #loginform input[type="email"]
{
    background: #fff;
    border: 1px solid #c2c2c2;
    color: #3e3e3e;
    outline: 1;
    margin: 10px 0px;
    width: 100%;
    max-width: 120px;
}
#emailform .input-group-addon, #loginform .input-group-addon {
    background: transparent;
    border: 0;
    color: #464646;
    font-size: 12px;
    outline: 0;
    margin: 10px 0px!important;
    width: 120px;
}
#emailform .input-group-option {
    background: transparent;
    border: 0;
    color: #666666;
    font-size: 12px;
    outline: 0;
    margin: 10px 5px!important;
    width: 120px;
    float: left;
}


























