/* RADICAL CINEMA Stylesheet */
/**
 * Made By Joseph Paris
 */
 /* ==========================================================================
   TYPO
   ========================================================================== */
@font-face {
font-family: 'AdelleBold';
src: url('../fonts/AdelleBasic_Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
/*
SourceSansPro-Black.otf
SourceSansPro-BlackIt.otf
SourceSansPro-BoldIt.otf
SourceSansPro-ExtraLight.otf
SourceSansPro-ExtraLightIt.otf
SourceSansPro-It.otf
SourceSansPro-LightIt.otf
SourceSansPro-Regular.otf
SourceSansPro-Semibold.otf
SourceSansPro-SemiboldIt.otf
*/
@font-face {
font-family: 'Source Sans Pro Light';
src: url('../fonts/SourceSansPro-Light.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro';
src: url('../fonts/SourceSansPro-Regular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro Bold';
src: url('../fonts/SourceSansPro-Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Fanwood Text';
src: url('../fonts/Fanwood-Text.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Fanwood Text Italic';
src: url('../fonts/Fanwood-Text-Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Montserrat';
src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Montserrat Bold';
src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}


/* ==========================================================================
   GENERAL
   ========================================================================== */
html,
body {
    height: 100%;
}
body{
	background-color: #efeff0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #000;
    padding: 0;
    margin: 0;
-moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #2b2b2b;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #2b2b2b;
    color: #ffffff;
    text-shadow: none;
}
.container-fluid{
  padding: 0!important;
  margin: 0!important;
  width:100%;
  position: relative;
}
.h100per100{
min-height: 100%;
}
.row.no-gutters {
  margin: 0;
  padding: 0;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding: 0;
}


a, a:active, a:link { color: #3498db; text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
a:hover { color: #e8175d; cursor: pointer;  text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }
a:focus, a:active { text-transform: none!important;  }


a.greylink { color: #888888; text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
a.greylink:hover { color: #303030; cursor: pointer; text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
a.blacklink { color: #303030; text-transform: none; border-bottom: 1px solid transparent;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
a.blacklink:hover { color: #000000; cursor: pointer; text-transform: none; border-bottom: 1px solid #000000;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}

.txtcenter { text-align: center!important; }
.txtleft { text-align: left!important; }
.txtright { text-align: right!important; }
.txtjustify { text-align: justify!important; }
.img-th { padding:0px 5px; }
h4.register{
	font-family: 'AdelleBold', sans-serif;
    margin:0px;
    font-size:18px;
    color: #424242;
}
hr {
border-top: 1px solid #eee;
margin: 10px 0px;
 }
/* ==========================================================================
   COLORS
   ========================================================================== */
.cwhite { color: #fff!important; }
.cblack { color: #000!important; }
.cgrey { color: #ccc!important; }
.cgrey2 { color: #b2b2b2!important; }
.cgrey3 { color: #c0c0c0!important; }
.cgrey4 { color: #8a8a8a!important; }
.cgrey5 { color: #686868!important; }
.cdarkgrey { color: #3b3b3b!important; }
.cdarkslategray{ color:#515151!important; }
.cdimgrey { color: #4b6681!important; }
.cgreen { color: #1abc9c!important;  }
.cred { color: #e68282!important; }
.ctomato { color: #ff3757!important; }
.credlight { color: #ff8a84!important; }
.cpurple { color: #e627c6!important; }
.cblue { color: #929bd2!important; }
.cdodgerblue { color: #168dd9!important; }
.steelblue { color: #5399bb!important; }
.lightsteelblue { color: #95b3d8!important; }
.cturquoise { color: #25c6dc!important; }
.ctan { color: #caa58e!important; }
.alert { color: #ff3757!important; }
.cwheat { color:#ebe2da!important; }

#mainContainer{
	min-height:100%;
  	-webkit-min-height: cover; /** older browsers **/ 
	min-height: calc(100% - 100px); /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/
}
#mainContainer2{
	min-height:100%;
  	-webkit-height: cover; /** older browsers **/ 
	min-height: calc(100% - 200px); /** FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers **/
}

.bgwhite { background: #fdfdfd!important; }
.bg_lineactu {
background:#e5e5e5 url('../images/bg_snow.jpg') repeat-x;
padding-bottom: 80px;
}

.bg_loginpage {
background:#1e1e1f;
}
.bg_turquoise {
background:#1ABC9C!important;
}
.bg_greensea {
background:#16A085!important;
}
.bg_alizarin {
background:#E74C3C!important;
}
.bg_lightcoral {
background:#ff8a84!important;
}
.bg_orange {
background:#F39C12!important;
}
.bg_bezilehole {
background:#2980B9!important;
}
.bg_darkslategray {
background:#404043!important;
}
.bg_darkslategrayevent {
background:#2f2f33!important;
}
.bg_almost_white_event {
background:#fbfbfb!important;
}
.bg_darksdark {
background:#1f1f1f!important;
}
.bg_snow {
background:#fcfcfc!important;
}
.bg_snow_home {
background:#f9f9f9!important;
}
.bg_silver {
background:#BDC3C7!important;
}
.bg_asphalt {
background:#34495E!important;
}
.bg_emerald {
background:#2ECC71!important;
}
.bg_browned {
background:#D8C996!important;
}
.bg_indianred {
background:#e94e77!important;
}
.bg_pink {
background:#ff3757!important;
}
.bg_gainsboro {
background:#eeeeee!important;
}

.bg_lightsalmon {
background:#f59f92!important;
}

.bg_blightslategray {
background:#8794a7!important;
}
.bg_black {
background:#030303!important;
}
.bg_jaunepoussin {
background:#ffdd8c!important;
}



div.appeldair {
height:50px;
}

small { font-size: 14px; }
smaller { font-size: 12px; }
.small { font-size: 14px!important; }
.smaller { font-size: 12px!important; }




.center-row {
	display:table;
	padding: 0;
	margin: 0;
}
.center_inner {
	display:table-cell;
    vertical-align:middle;
    float:none;
    text-align: center;
	padding: 0;
	margin: 0;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #fcfcfc;
  }
}

.sidebar .logo {
    padding: 30px 20px;
    height: 110px;
    width: 100%;
    background: #232323;
    color: #fff;
    display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  }
.sidebar .logo a {
	color:#ffffff;
	background: transparent;
	text-decoration:none;
	position:relative;
	white-space:nowrap;
	border: 0!important;
	padding: 5px 20px;
	letter-spacing: 1px;
	font-size: 13.5px;
	float: left;
	display: inline-block;
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		 -o-transition: all 1s ease-out;
			transition: all 1s ease-out; 

}
.sidebar .logo a span {
display: inline-block;
	padding: 5px 9px;
	border: 2px solid #fcfcfc;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
.sidebar .logo a:hover {

	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
.sidebar .logo a:hover span {
	color:#131313;
	border: 2px solid #ffffff;
	background: #ffffff;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}





/* =Header
-------------------------------------------------------------- */

.section_top{
margin: 0;
padding:0;
width: 100%;
height:50px;
background: #2a2a2a;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 12px;
  letter-spacing: 0.7px;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  position: relative;
  z-index: 9;
  text-align: center;
  border: 0;


}
.section_top ul {
  margin: 0;
  display: inline-block;
  padding: 10px 0px;
  height: 30px;
}
.section_top li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.section_top li.introtxt {
display: inline-block;
float: left;
font-size: 13px;
margin: 0px 0px;
padding: 6px 10px;
text-align: center;
  color: #878787;
}
.section_top ul.nav-center li:first-child { 
    border-right: 1px solid #3d3d3d;
}
.section_top li.introtxt a {
	font-size: 13px;
  color: #e0e0e0;
  background: #343434;
  text-decoration: none;
  font-variant: small-caps;
  border:0;
  border-bottom: 1px solid transparent;
  padding: 2px 4px;
  text-align: center;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.section_top li.introtxt a.active {
  color: #e0e0e0;
  background: #343434;
  text-decoration: none;
  border:0;
  border-bottom: 1px solid #9f9f9f;
  padding: 2px 4px;
  text-align: center;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.section_top li.introtxt a:hover {
  color: #ffffff;
  background: #fe504f;
  text-decoration: none;
  border:0;
  border-bottom: 1px solid #fe504f;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  
}
.section_top li.socialrc {
display: inline-block;
float: right;
font-size: 12px;
margin: 0px 0px;
padding: 6px 10px;
text-align: center;
  height: 30px;
}
.section_top li.socialrc i {
font-size: 14px;
}
.section_top li.socialrc a {
  color: #a6a6a6;
  text-decoration: none;
  border:0;

  text-align: center;
  display: block;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  
}
.section_top li.socialrc a:hover {
  color: #fe504f;
  text-decoration: none;
  border:0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  
}

.section_top li.rc {
display: inline-block;
font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.12em;
    text-decoration: none;
    text-transform: uppercase!important;
margin: 0px 0px;
padding: 6px 10px;
text-align: center;
  height: 30px;
}
.section_top li.rc i {
font-size: 12px;
color: #4d4d4d;
}
.section_top li.rc a {
  color: #e0e0e0;
  text-decoration: none;
  border:0;
  text-transform: uppercase!important;
  text-align: center;
  display: block;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  
}
.section_top li.rc a:hover {
  color: #fe504f;
  text-decoration: none;
  border:0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  
}


.section_top ul.nav-right { float: right; position: relative; }
.section_top ul.nav-right li{ float: right; }
.section_top ul.nav-left { float: left; position: relative;  }
.section_top ul.nav-left li{ float: left; }
.section_top ul.nav-center { display: inline-block; margin: 0 auto;  z-index: 99; position: absolute; }
.fleft {
    float:left;
    padding: 0;
    margin: 0;
    border: 0;
}
.fright {
    float:right;
    padding: 0;
    margin: 0;
    border: 0;
}


/* =====
   PRIMARY NAV
   ===== */


/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav.prim {
	height: 40px;
	padding: 0px 0px;
	width: 100%;
	background: #f7f7f7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
	position: relative;
}
nav.prim ul {
	padding: 0 30px;
	margin: 0;
	width: 100%;
	height: 40px;
}
nav.prim li {
	display: inline;
	float: left;
}
nav.prim li.logo a {
	color:#1b1b1b;
	background: transparent;
	text-decoration:none;
	position:relative;
	white-space:nowrap;
	border: 0!important;
	padding: 5px 10px;
	letter-spacing: 1px;
	font-size: 13px;
	float: left;
	display: inline-block;
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		 -o-transition: all 1s ease-out;
			transition: all 1s ease-out; 

}
nav.prim li.logo a span {
	padding: 2px 4px;
	border: 2px solid #343434;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
nav.prim li.logo a:hover {


	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
nav.prim li.logo a:hover span {
	color:#ffffff;
	border: 2px solid #000000;
	background: #000;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
nav.prim li a {
  background: url('../images/navback.png') repeat-x;
  background-position: 0 -64px;
	font-size: 12px;
	letter-spacing: 0.4px;
  padding: 10px 15px!important;
  height: 40px;
  margin: 0!important;
  color: #fafafa;
  text-decoration: none;
  text-transform: uppercase;
  color: #797979;
  display: block;
  text-decoration: none;
  padding: 0px 10px 0px 10px;
  -webkit-transition: background-position 0.2s ease-out;
  -moz-transition: background-position 0.2s ease-out;
  -o-transition: background-position 0.2s ease-out;
  -ms-transition: background-position 0.2s ease-out;
  -webkit-transition-delay: 0.1s;
}

nav.prim li.publish a{
  color: #dfdfdf;
  background: #595151;
}
nav.prim li.active a {
display: inline-block;
  color: #797979;
  background: url('../images/navback.png') repeat-x;
  background-position: 0 0px;
  text-decoration: none;
}

nav.prim li:last-child {
	margin-right: 20px;
}
nav.prim a:hover, nav.prim a:active, nav.prim li.active a:hover, nav.prim li.active a:active {
	color:#ffffff;
	background-position: 0 0;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out; 
}
nav.prim a#pull {
	display: none;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav.prim { 
  		height: auto;
  	}
  	nav.prim ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav.prim li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav.prim li a {
		border-bottom: 1px solid #576979;
		border-right: 1px solid #576979;
	}
  	nav.prim a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav.prim {
		border-bottom: 0;
	}
	nav.prim ul {
		display: none;
		height: auto;
	}
	nav.prim a#pull {
		display: block;
		background-color: #3d3d3d;
		width: 100%;
		position: relative;
	}
	nav.prim a#pull:after {
		content:"";
		background: url('../images/nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav.prim li {
		display: block;
		float: none;
		width: 100%;
	}
	nav.prim li a {
		border-bottom: 1px solid #576979;
	}
}









@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
#primary-container { padding:20px 4%;}
}/* fin max-width: 992px */

@media (max-width: 768px) { /* =============== Smartphones ================= */

.section_top ul.nav-right li.socialrc span { display: none; }
.section_top ul.nav-right li.socialrc .fa-envelope { margin-right: 20px; }

#primary-container { padding:10px 0%;}






}/* fin Smartphones





/* =fixed-header
-------------------------------------------------------------- */


.fixed-header {
    position: fixed;
    overflow: hidden;
    height: 0;
    line-height: 18px;
    transition: all .2s linear;
    top: 0;
    left: 0;
    font-family: helvetica,arial,freeSans,sans-serif;
    font-size: 13px;
    background: #f6f6f6;
    width: 100%;
    box-shadow: 0 0 5px 0 #ccc;
    z-index: 9999!important;
}
.fixed-header-show {
    height: 45px;
}
.fixed-header-content {
    width: 1000px;
    margin: 0 auto;
}
a.fixed-header-logo {
    display: inline-block;
    float: left;
    padding-top: 4px;
    width: 100px;
    height: 45px;
}

a.fixed-header-logo:link img {
opacity: 0.6;
border: 0!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; 
}
a.fixed-header-logo:hover img {
opacity: 1;
border: 0!important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; 
}



.fixed-header-title {
    height: 45px;
    display: inline-block;
    max-width: 500px;
    padding: 14px 0 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-left: 1px solid #f1f5f8;
    color: #747b83;
    cursor: auto;
}
.fixed-header-sharing-buttons {
    float: right;
    margin-top: 6px;
    color: #fff;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=facebook], .fixed-header-sharing-buttons [data-sharewith][data-sharewith=twitter], .fixed-header-sharing-buttons [data-sharewith][data-sharewith=subscribe] {
    width: auto;
    padding-top: 0px;
}
.fixed-header-sharing-buttons div {
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 13px;
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-left: 6px;
    margin-top: 0px;
    padding: 6px 12px 0;
    cursor: pointer;
    border: 1px solid #d2d6db;
    border-radius: 2px!important;
    font-weight: bold;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=facebook] {
    background: #3b5998;
    border-color: #355089;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=facebook]:hover {
    background: #4c70bc;
    border-color: #4065b5;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=twitter] {
    background: #4ec7fa;
    border-color: #51bcdf;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=twitter]:hover {
    background: #6ebcff;
    border-color: #62b4f3;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=subscribe] {
    background: #f6f6f6;
    border-color: #e6e6e6;
    color: #787878;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=subscribe]:hover {
    background: #ffffff;
    border-color: #e6e6e6;
    color: #4f4f4f;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.fixed-header-sharing-buttons [data-sharewith][data-sharewith=facebook], .fixed-header-sharing-buttons [data-sharewith][data-sharewith=twitter], .fixed-header-sharing-buttons [data-sharewith][data-sharewith=subscribe] {
    width: auto;
    padding-top: 6px;
}
















/* =====
   MAIN PAGE
   ===== */

.bgrow{
background: #f9f9f9;
}
.mainframe {
padding: 0!important;
margin: 0!important;
}




.sidebar-contentWrapper {
    padding:30px 20px;

}
.heading-title {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 2px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
}

.taglink{
font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgba(0,0,0,0.44);
    font-size: 13.5px;
    letter-spacing: 0;
    text-decoration: none;
    background: #fafafa;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    margin: 0px 10px 10px 0px;
        color: rgba(0,0,0,0.6);
    background: rgba(255,255,255,0.97);
    display: inline-block;
}
a.taglink:link{
        color: rgba(0,0,0,0.6)!important;
    background: rgba(255,255,255,0.97);
}
a.taglink:hover{
        color: rgba(0,0,0,1)!important;
    background: rgba(255,255,255,1);
}



/* ============================================================================================================================
== Twiiiiiiit
** ============================================================================================================================ */

.twiiiiiiit {
font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
  position:relative;
  padding:15px 30px;
  margin:10px 10px 0px 10px;
  color:#434343;
  background:#ebe2da;
  border: 0; 
  border-bottom: 4px solid #ebe2da;
}
.twiiiiiiit a { color: #ffffff!important;
    background: #515151; display: inline-block;
    padding: 4px 6px; font-size: 12.5px; margin: 5px 0px; }
.twiiiiiiit a.hashtag { color: #595959!important; background: #ffffff; font-size: 12.5px; }
.twiiiiiiit a:hover { color: #fff!important; background: #ffa289; }
.twiiiiiiit a i { color: #a3a3a3!important; margin-right: 3px; }
.twiiiiiiit a.hashtag i { color: #444444!important; margin: 0px; }
.twiiiiiiit a:hover i { color: #fff!important; }

img.avatar {
	width: 30px;
	height: 30px;
	-webkit-border-radius: 15px;
	   -moz-border-radius: 15px;
	  	 -o-border-radius: 15px;
			border-radius: 15px;
			margin-right: 5px;
}
/* display of quote author (alternatively use a class on the element following the blockquote) */
.twiiiiiiit + p {margin:3px 0 1.5em 90px; line-height: 15px; display: block; font-size: 14px;}
.twiiiiiiit + p a span {display: inline-block; float: left;}
.twiiiiiiit + p a span span.username {font-style: normal; color: #848484;  }

.twiiiiiiit + p a { color: #656565!important; font-weight: bold; font-size: 12px; 
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
 }
.twiiiiiiit + p a:hover { color: #f47264!important;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
 }

.twiiiiiiit + p a img.avatar { 	float: left;
	opacity: 0.9;
	filter: Alpha(opacity=90);
		-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.twiiiiiiit + p a:hover img.avatar { 	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out; }


/* creates the triangle */
.twiiiiiiit:after {
  content:"";
  position:absolute;
  bottom:-20px;
  left:50px;
  border-width:0 25px 20px 0px;
  border-style:solid;
  border-color:transparent #ebe2da;
  /* reduce the damage in FF3.0 */
  display:block;
  width:0;
}
















/* =Menu Edition
-------------------------------------------------------------- */

ul#menu_edition {  
width : auto;
height : 25px;
list-style-type : none; /* Car sinon les puces se placent n'importe où */
margin: 30px auto 0px auto;
padding: 0px 11px;
text-align: center;
float: none;
position: relative;
}
ul#menu_edition li {
padding : 0; /* Pour espacer les boutons entre eux */
display: inline-block;
}
ul#menu_edition li:first-child { 
    margin: 0;
}
ul#menu_edition li a {
  border: 0;
  margin-right: 0;
  color: #737373;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}
ul#menu_edition li a:hover {
  border: 0;
  margin-right: 0;
  color: #fe504f;
  border-bottom: 1px solid #fe504f;
}
ul#menu_edition li.active a {
  border: 0;
  margin-right: 0;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding: 5px;
}
ul#menu_edition li.active a:hover {
  border: 0;
  margin-right: 0;
  color: #fe504f;
  border-bottom: 1px solid #fe504f;
}




/* ====== STICKER ALERT OU INFO ======= */

#sticker-info {
background: #595959;
	/*
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868; 
     box-shadow:        inset  0  8px 8px -8px #696868; 
	 */
text-align:center;
display: none;
margin: 0px;
padding: 0;
color: #ffffff;
    font-family: 'AdelleBold', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
height: 75px;
}
#sticker-info a {
padding: 25px;
display: block;
color: #f9f9f9;
background: #595959;
text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-info a i {
color: #ff8c66;
margin-right: 10px;
margin-left: 10px;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-info a:hover {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-info a:hover i {
color: #ff8c66;

	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}





#sticker-alert {
background: #ff6b6b;
	/*
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868; 
     box-shadow:        inset  0  8px 8px -8px #696868; 
	 */
text-align:center;
display: none;
margin: 0px;
padding: 0;
color: #ffffff;
    font-family: 'AdelleBold', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
height: 75px;
}
#sticker-alert a {
padding: 25px;
display: block;
color: #f5f5f5;
background: #ff6b6b;
text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-alert a i {
color: #f5f5f5;
margin-right: 10px;
margin-left: 10px;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-alert a:hover {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-alert a:hover i {
color: #ffffff;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}

#sticker-live {
background: #3d3d3d;
	/*
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868; 
     box-shadow:        inset  0  8px 8px -8px #696868; 
	 */
text-align:center;
display: none;
margin: 0px;
padding: 0;
color: #ffffff;
    font-family: 'AdelleBold', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
height: 75px;
}
#sticker-live a {
padding: 25px;
display: block;
color: #bcbcbc;
background: #3d3d3d;
text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-live a span {
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
letter-spacing: 0.6px;
font-family: 'Source Sans Pro', sans-serif;
}
#sticker-live a i, #sticker-live a span {
color: #ff5a5a;
margin-right: 5px;
margin-left: 5px;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-live a:hover {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-live a:hover i, #sticker-live a:hover span {
color: #5ec79e;

	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}



#sticker-livetweet {
background: #595959;
	/*
    -moz-box-shadow:    inset  0  8px 8px -8px #696868;
    -webkit-box-shadow: inset  0  8px 8px -8px #696868; 
     box-shadow:        inset  0  8px 8px -8px #696868; 
	 */
text-align:center;
display: none;
margin: 0px;
padding: 0;
color: #ffffff;
    font-family: 'AdelleBold', sans-serif;
    font-size: 18px;
    letter-spacing: 0.5px;
height: 75px;
}
#sticker-livetweet a {
padding: 25px;
display: block;
color: #bcbcbc;
background: #3d3d3d;
text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-livetweet a span {
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
letter-spacing: 0.6px;
font-family: 'Source Sans Pro', sans-serif;
}
#sticker-livetweet a i, #sticker-livetweet a span {
color: #1b95e0;
margin-right: 5px;
margin-left: 5px;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-livetweet a:hover {
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}
#sticker-livetweet a:hover i, #sticker-live a:hover span {
color: #1b95e0;

	-webkit-transition: all 1s ease-in-out;
	   -moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		 -o-transition: all 1s ease-in-out;
			transition: all 1s ease-in-out;
}




/* =====
   BRIEFS
   ===== */
.briefbox {
position: relative;
padding: 20px 30px;
font-family: 'Source Sans Pro', sans-serif; 
font-size: 19px; 
line-height: 30px;
color: #454545; 
background: #f9f9f9;
border: 1px solid #ccc;
text-align: justify; 
text-justify: inter-word; 
}
.briefbox b {
font-family: 'AdelleBold', sans-serif;  
font-size: 18px; 
letter-spacing: 0.5px;

}


.briefbox a, .briefbox a:active, .briefbox a:link { color: #4a4a4a; text-transform: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			background: transparent!important;
			border-bottom: 1px solid #b3b3b3;
}
.briefbox a:hover { color: #f7635c; cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
			border-bottom: 1px solid #b3b3b3;
 }
.briefbox a i { color: #e8175d; cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
 }
.briefbox a:hover i { color: #e8175d; cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
 }
#briefbuttons {
margin: 0 auto;
width:100%;
padding:0px 0px 0px 0px;
margin-bottom: 10px;
border-bottom: 1px solid #f3f3f3;
}
#briefbuttons a {
margin:0px 10px 0px 0px;
font-size: 12px;
color: #9d9d9d!important;
border: 0!important;
}
#briefbuttons a.sLink i { color: #747474; }
#briefbuttons a.sTwitter i { color: #747474; }
#briefbuttons a.sFacebook i { color: #747474; }


#briefbuttons a.sLink:hover { color: #000000!important; }
#briefbuttons a.sTwitter:hover { color: #00aced!important; }
#briefbuttons a.sFacebook:hover { color: #3b5998!important; }
#briefbuttons a.sLink:hover i { color: #000000!important; }
#briefbuttons a.sTwitter:hover i { color: #00aced!important; }
#briefbuttons a.sFacebook:hover i { color: #3b5998!important; }



a.previous{
display: block;
float: right;
color: #bfbfbf;
background: transparent;

font-size: 15px;
padding: 10px;
margin:0px 20px;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
}
a.next{
display: block;
float: left;
color: #bfbfbf;
background: transparent;
font-size: 15px;
padding: 10px;
margin:0px 20px;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
}
a.previous i {
margin-left:10px;
}
a.next i {
margin-right:10px;
}

a.previous:hover{
color: #494745;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
}
a.previous:hover i {
color: #494745;
}
a.next:hover{
color: #494745;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out
}
a.next:hover i {
color: #494745;
}

/* ######## BOX BRIEF ######## */


.unebreve{
background: #f9f9f9;
width:100%; 
display: block;
	padding: 0px;
	margin: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;

}



/* ######## BOX ARTICLE LARGE ######## */
.article_boxlarge{

width:100%; 
display: block;
	padding: 30px 50px;
	margin: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;

}
.article_boxlarge h1, .article_boxlarge h1 a {
font-family: "Montserrat",sans-serif;
    font-weight: bold;
  font-size: 3.3rem;
  line-height: 1.1;
  color: #454545;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 5px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.article_boxlarge h1 a:hover { color: #ff8c66; }
.article_boxlarge .post-meta {
    border-top: none;
    font-family: "Montserrat",sans-serif;
    font-size: 1.2rem;
    color: #888;
     padding-right: 20px;
}
.article_boxlarge .post-auteur {
    border-top: none;
    font-family: "Montserrat",sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    color: #6e6e6e;
     padding-right: 20px;
}
.article_boxlarge .post-auteur a {   color: #2b2b2b; }
.article_boxlarge .post-auteur a:hover { color: #ff8c66; }
.article_boxlarge .post-excerpt {
font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    color: #636363;
    line-height: 1.3;
    text-align: justify;
    padding-right: 20px;
}



/* ######## BOX ARTICLE SMALL ######## */
a.articlebox{
padding: 20px 0px;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;

}
a.articlebox h1 {
font-family: "Montserrat",sans-serif;
    font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #454545;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 5px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
a.articlebox:hover h1 { color: #ff8c66; }

.articlebox .post-meta {
    border-top: none;
    font-family: "Montserrat",sans-serif;
    font-size: 1.2rem;
    color: #1e1e1e;
     padding-right: 20px;
}
.articlebox .post-auteur {
    border-top: none;
    font-family: "Montserrat",sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.4px;
    color: #6e6e6e;
     padding-right: 20px;
}
.articlebox .post-auteur a {   color: #2b2b2b; }
.articlebox .post-auteur a:hover { color: #ff8c66; }
.articlebox .post-excerpt {
font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    color: #636363;
    line-height: 1.3;
    text-align: justify;
    padding-right: 20px;
}


.casededroite{
border-left: 1px solid #e7e7e7;
border-bottom: 1px solid #e7e7e7;
padding-bottom: 10px!important;
}
/* ######## BOX FRAME PUBLISH ######## */
.frame_publish{
margin: 0px 20px;
padding: 24px 25px 0px 25px;
background: #f9f9f9;
text-align: center;
height: 100%;
}
.frame_publish h2{
font-family: "Montserrat",sans-serif;
    font-weight: bold;
  font-size: 2rem;
  line-height: 1.1;
  color: #454545;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0; 
}
.frame_publish p{
margin: 10px 20px;
color: #646464;
font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    line-height: 1.4;
}
.frame_publish hr{
margin: 10px 30px 5px 30px;
border: 0;
border-bottom: 1px solid #e5e5e5;
}

/* ######## BOX BRIEFS LIST ######## */
.briefslist{
width:100%; 
display: block;
	padding: 30px 30px;
	margin: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;

}
.briefslist h2, .briefslist h2 a {
font-family: "Montserrat",sans-serif;
    font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.4;
  color: #454545;
  -webkit-font-smoothing: antialiased;
  padding: 0px;
  margin: 0px 5px 15px 0px;  
  display: inline-block;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.briefslist h2 a:hover { color: #ff8c66; }

.briefslist .post-meta {
    border-top: none;
    font-family: "Montserrat",sans-serif;
    font-size: 1.2rem;
    color: #1e1e1e;
     padding-right: 20px;
}










.linkarticlebox{
display: inline-block;
	padding: 0px;
	margin: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;

}
.linkarticlebox h1 {
font-family: 'AdelleBold', sans-serif;
font-weight: bold;
  font-size: 1.4em;
  line-height: 28px;
  color: #3d3d3d;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 0px 5px 5px 5px;
                margin: 0; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
p.post-descr {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
    letter-spacing: .03em;
    line-height: 1.42857;
    color: #888;
}
.linkarticlebox:hover {
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.linkarticlebox:hover h1, .linkarticlebox:hover p.post-descr{
	color: #fb9274;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}











.tag{
display: inline-block;
    background: #594f4f;
    color: #fdfdfd;
    padding: 0.5rem 1.0rem;
    font-family: "Montserrat",sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.4px;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.tag i{
margin-right: 5px;
font-size: 11px;
font-weight: normal!important;
color: #ece5ce;
}
.tagtribune{  background: #dfdfdf; color: #535353;  } .tagtribune i { color: #a2a2a2;   }
.taganalyse{  background: #d2d6d5; color: #515151; }
.tagalert{  background: #df4b59; }
.tagplanet{  background: #1eab8f; }
.tagactu{  background: #3b5998; }
.tagpapillon{  background: #95907f; }
.tagaction{  background: #313131; }
.tagattentat{  background: #373737; }
.unarticle:hover div img {
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.unarticle h1 { font-size: 22px;}
p.soustitre { font-size: 14px;}
}/* fin max-width: 992px */

@media (max-width: 768px) { /* =============== Smartphones ================= */
.unarticle h1 { font-size: 22px;}
p.soustitre { font-size: 12px;}
}/* fin max-width: 768px */


.unarticle:hover div h1 {
	color: #000000;
	
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.unarticle:hover div .tag {
	color: #fff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.unarticle:hover div p.soustitre{
	color: #454545;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}

.unarticle:focus { background:#f8f8f8; text-decoration: none; }
.unarticle:focus h1 { color: #000000; text-decoration: none; }
.unarticle:focus p { color: #000000; text-decoration: none; }

.unarticle:active { background:#f8f8f8; text-decoration: none; }
.unarticle:active h1 { color: #000000; text-decoration: none; }
.unarticle:active p { color: #000000; text-decoration: none; }





.date_box{
	background: #343434;
	min-height: 350px;
	position: relative;
}
.author {
font-size: 12px!important;
    font-weight: 100!important;
    line-height: 15px;
    color: #383838;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    padding: 0px 0px 0px 0px;
}
.author span.title {
font-size: 17px!important;
    color: #191919;
    font-weight: bold;
    display: inline-block;
    padding-top: 20px;
    margin: 0;
}
div.descript {
font-size: 12px!important;
    font-weight: 100!important;
    line-height: 16px;
    color: #383838;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0;
    padding: 10px 20px;
}
p.author .u-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0px 5px;
    border-radius: 50%;
}
p.author a { color: #2c2c2c!important; text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
			background: transparent!important;
			border-bottom: 1px dotted #e7e7e7;
}
p.author a:hover { color: #000000!important; cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
			background: transparent!important;
			border-bottom: 1px solid #000;
 }
 
/* =====
   PRESENTATION RC
   ===== */
#radicalcinema_tagline {
  background: #f9f2e7;
  width: 100%;
padding: 140px 0px;
}
#radicalcinema_tagline blockquote {
  max-width: 540px;
  margin: 0px 0 50px 0;
  border-color: #faeacf;
  color: #b8a895;
}
#radicalcinema_tagline img {
	opacity: 0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
#radicalcinema_tagline blockquote p {
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.4;
}
#radicalcinema_tagline blockquote p a {
	color: #424242;
	text-decoration: none;
	border-bottom:2px solid #faeacf;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
#radicalcinema_tagline blockquote p a:hover {
	color: #000000;
  text-decoration: none;
  border-bottom:2px solid #ff8c66;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}



/* ==========================================================================
   FOOTER
   ========================================================================== */



#footerwrap {
	position: absolute;
	background-color: #202021;
	margin: 0px;
	padding: 20px 60px;
	height:100px;
	width: 100%;
	border-top: 1px solid #4b4b4b;
	color: #999999;
	z-index: 300!important;
}

#socialfooter {
display: block;
float: left;
}
#socialfooter a {
margin:0px 0px 0px 10px;
font-size: 16px;
color: #5b5b5b;
}
#socialfooter a:hover {
color: #ffffff;
}
#socialfooter span {
color: #afafaf;
font-size: 12px;
}
#socialfooter span a {
margin: 0;
color: #929292;
font-size: 12px;
text-decoration: none;
}
#socialfooter span a:hover {
color: #ffffff;
font-size: 12px;
text-decoration: underline;
}


#socialfooter2 {
display: block;
float: left;
}
#socialfooter2 a {
margin:0px 0px 0px 10px;
font-size: 16px;
color: #000000;
}
#socialfooter2 a:hover {
color: #ffffff;
}
#socialfooter2 span {
color: #afafaf;
font-size: 12px;
}
#socialfooter2 span a {
margin: 0;
color: #929292;
font-size: 12px;
text-decoration: none;
}
#socialfooter2 span a:hover {
color: #ffffff;
font-size: 12px;
text-decoration: underline;
}


#backtotop {
	margin-top: 0px;
	float: right;
	z-index: 14;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #6f6f6f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;

}

#backtotop a img {
opacity: 0.3;
	-webkit-transition: opacity 0.5s ease-out;
	   -moz-transition: opacity 0.5s ease-out;
		-ms-transition: opacity 0.5s ease-out;
		 -o-transition: opacity 0.5s ease-out;
			transition: opacity 0.5s ease-out;
}
#backtotop a:hover img {
opacity: 0.9;
	-webkit-transition: opacity 0.5s ease-out;
	   -moz-transition: opacity 0.5s ease-out;
		-ms-transition: opacity 0.5s ease-out;
		 -o-transition: opacity 0.5s ease-out;
			transition: opacity 0.5s ease-out;
}






























/* ==========================================================================
   FLEX VIDEOS
   ========================================================================== */



article .content_video{
    padding: 0px;
    margin: 0px;
}
article .content_video p.txtcenter{
font-family: 'Source Sans Pro', sans-serif; 
font-size: 12px;
color: #747474;
margin: 0;
padding: 0;
text-align: center;
}
div.titlevideo{
background:#494949;display:block;color:#ffffff;
font-family: 'Source Sans Pro', sans-serif; 
font-size: 13px;
margin: 0;
padding: 5px 0px;
text-align: center;
}
#youtubediv {
background:transparent!important;
padding: 0px 0px 0px 0px;
}
.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 0px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 56.3%;  }
.flex-video.widescreen2 { padding-bottom: 40%;   }

.flex-video.vimeo { padding-top: 0;  }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

audio, canvas, video {
display: inline-block;
}







/* ######## PROMO ######## */



#promo {
text-align: center;
min-height:20px;
padding:0px 20px;
}
@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
#promo { padding: 20px; }
}/* fin max-width: 992px */

@media (max-width: 768px) { /* =============== Smartphones ================= */
#promo { padding: 40px 20px; }


}/* fin max-width: 768px */

#promo h4 {
font-family: 'AdelleBold', sans-serif;
font-size: 20px;
margin: 0;
padding:0px 0px 10px 3px;
text-align: center;
color: #9a9a9a;
}
#promo h4 span {
color: #595151;
}
#promo p {
text-align: center;
padding: 10px 0px;
}
.btn-clean {
  display: inline-block;
  padding: 8px 10px;
  margin: 0px 5px;
  background: transparent;
  border: 2px solid #454545;
  border-radius: 0px;
  text-decoration: none;
  color: #454545!important;
  font-family: 'Open Sans Condensed', sans-serif!important;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn-clean i {
  position: relative;
  top: 1px;
  margin-left: 7px;
  font-size: 1.15em;
  color: #454545;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}


.btn-clean:hover,
.btn-clean:focus,
.btn-clean:active,
.clean.button-group.open .button {
  border-color: #323232;
  color: #fafafa!important;
  text-decoration: none;
  background: #323232;
}
.btn-clean:hover i,
.btn-clean:focus i,
.btn-clean:active i {
  color: #fafafa!important;
}



/* ######## TWEETS ######## */


.twitter-comment::before,
.twitter-comment::after,
.twitter-comment-form::before,
.twitter-comment-form::after{
    content: "";
	display: table;
	clear: both;
}

.twitter-comment{
    padding-left: 15%;
	padding-right: 15%;
}

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.twitter-comment{ padding-left: 5%; padding-right: 5%;}
}/* fin max-width: 992px */

@media (max-width: 768px) { /* =============== Smartphones ================= */
.twitter-comment{ padding-left: 1%; padding-right: 1%; }
}/* fin max-width: 768px */


.twitter-comment h3{
    text-align: center;
    font-size: 25px!important;
    color: #3a89c9;
    padding: 10px 0px;
}
.twitter-comment ul{
	list-style-type: none;
	padding: 0;
	
}

.twitter-comment img{
	opacity: 1;
	filter: Alpha(opacity=100);
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	  	 -o-border-radius: 50%;
			border-radius: 50%;
	border: 1px solid #cbcbcb;
}

.twitter-comment img.avatar {
	position: relative;
	float: left;
	margin-left: 0;
	margin-top: 0;
	width: 65px;
	height: 65px;
}

.twitter-comment .post-comments{
	border: 1px solid #eee;
    margin-bottom: 20px;
    margin-left: 85px;
	margin-right: 0px;
    padding: 10px 20px;
    position: relative;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       	 -o-border-radius: 4px;
    		border-radius: 4px;
	background: #fff;
	color: #5d5d5d;
	position: relative;
}

.twitter-comment .meta {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px!important;
	color: #aaaaaa;
	padding-bottom: 8px;
}
.twitter-comment .meta a {
margin: 0px 5px;
color: #898989!important;
background: transparent!important;
font-weight: 400;
letter-spacing: 0.6px;
border: 0!important;
text-decoration: none!important;
}
.twitter-comment .meta a:hover {
color: #4c7fb8!important;
}
.twitter-comment .meta .twauteur a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 13px;
	color: #191919!important;
	padding: 2px 4px;
	border: 0;
	text-decoration: none;
}
.twitter-comment .meta .twauteur a:hover {
	color: #ffffff;
	background: #4c7fb8;
}
.twitter-comment .post-comments .txtweet{
font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 10px 0px;
}
.twitter-comment .post-comments .txtweet a, .twitter-comment .post-comments .txtweet a:active, .twitter-comment .post-comments .txtweet a:link { color: #ffffff;
background: #3a89c9;
padding: 0px 5px;
 text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.twitter-comment .post-comments .txtweet a:hover { 
color: #ffffff; 
background: #2cffbc;
cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }


.twitter-comment ul.comments ul{
	list-style-type: none;
	padding: 0;
	margin-left: 85px;
}

.twitter-comment-form{
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 40px;
}

.twitter-comment h3,
.twitter-comment-form h3{
	margin-bottom: 40px;
	font-size: 26px;
	line-height: 30px;
	font-weight: 800;
}













/* ######## ARTICLES LIST ######## */


.post {
	display: block;
    padding: 20px;
    border-bottom: solid 1px #f5f5f5;
}
.post h2{
	font-family: 'Open Sans Condensed', sans-serif!important;
    font-size: 24px!important;
    font-weight: 700!important;
    line-height: 26px;
    color: #000000;
    text-transform: none;
    margin: 0;
    padding: 0;
}
.post h2 a, .post h2 a:active, .post h2 a:link { color: #2c2c2c; text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.post h2 a:hover { color: #168dd9; cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }

.meta {
    font-size: 12px!important;
    font-weight: 100!important;
    line-height: 15px;
    color: #383838;
    letter-spacing: 0.7px;
    text-align: left;
    margin: 0;
    padding: 0;
}
.meta a, .meta a:active, .meta a:link { color: #ffffff; text-transform: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
			text-decoration: none;
			background: #3a89c9;
			padding: 2px 3px;
			display: inline-block;
}
.meta a:hover { color: #ffffff; cursor: pointer; text-transform: none; text-decoration: none;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
			background: #56aaee;
 }
.user-icon {
    width: 50px;
    height: 50px;
    padding: 0;
    float: right;
    border-radius: 50%;
}














.imagepetite {padding:0px;background: none; text-align: left;margin: 0; }
.imagepetite img {padding:10px; margin: 0 auto;}
.imagepetite p {
font-family: 'Helvetica Neue', sans-serif; font-weight: normal; font-size: 14px!important; letter-spacing: 0.5px; line-height:25px;
color:#000;  padding-left:40px; padding-right: 40px;  text-align: left; }
.image-caption { text-align: center!important; margin: 5px 0px 5px 0px;  }

@media (max-width: 768px) { /* =============== Smartphones ================= */
.imagepetite img {padding:0px;}

}/* fin max-width: 768px */


.toutpeti { font-size:12px; line-height: 16px; color: #6c6c6c; }
.toutpeti a, .toutpeti a:active, .toutpeti a:link { color: #86a1b8; text-transform: none;}
.toutpeti a:hover { color: #57a8f0; cursor: pointer; text-transform: none; text-decoration: none; }

/* ==
   galerie
   == */
.my-simple-gallery {
  width: 100%;
  float: right;
}
.my-simple-gallery div img {
  width: 100%;
  height: auto;
}
.my-simple-gallery div figure {
  display: block;
  
  margin: 0 15px 15px 0;
  width: 100%;
}
.my-simple-gallery div figcaption {
  display: none;
}

@media (max-width: 768px) { /* =============== Smartphones ================= */
.my-simple-gallery div figure {  margin: 0; }
}/* fin max-width: 768px */




















/* ==========================================================================
   SIGN UP - REGISTER
   ========================================================================== */


.registration-form input[type="text"], 
.registration-form input[type="password"],
.registration-form textarea, 
.registration-form textarea.form-control {
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #3b3b3b;
    border: 3px solid #222222;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    line-height: 50px;
    color: #f2f2f2;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.registration-form textarea, 
.registration-form textarea.form-control {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 30px;
}

.registration-form input[type="text"]:focus, 
.registration-form input[type="password"]:focus,
.registration-form textarea:focus, 
.registration-form textarea.form-control:focus {
	outline: 0;
	background: #e1e1e1;
	color: #1a1a1a;
    border: 3px solid #3a89c9;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

.registration-form input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
.registration-form input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
.registration-form input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

.registration-form input[type="password"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }
.registration-form input[type="password"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }
.registration-form input[type="password"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }




.inner-bg {
    padding: 100px 0 250px 0;
}
.inner-bg-sm {
    padding: 40px 0 40px 0;
}

.top-content {
	background: url('https://radicalcinema.org/public/images/v.jpg');
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;

	position: relative;
	z-index:11;
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}
.top-content .text {
	padding-top: 40px;
	color: #fff;

}

.top-content .text h1 { color: #fbfbfb; text-transform: uppercase;     font-family: 'Source Sans Pro Bold', sans-serif; }
.top-content .text h1 strong { color: #272727; background: #fbfbfb; padding: 5px;  }

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; color: #000;font-family: 'Source Sans Pro', sans-serif; font-size: 16px; font-weight: bold;  }

.top-content .description a {
	color: #000000;
	background: #ffffff;
	padding: 2px 4px;
}
.top-content .description a:hover, 
.top-content .description a:focus { background: #2c2c2c; color: #fff; }

.top-content .top-big-link {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #1b1b1b;
	color: #fafafa;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }
.form-top-left p a { color: #fafafa; border-bottom: 1px solid #7d7d7d; }
.form-top-left p a:hover { color: #ffffff; border-bottom: 1px solid #e3e3e3; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #282828;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.inner-bg { padding: 60px 0 110px 0; }
	.top-content .text { padding-top: 0; padding-bottom: 60px; }
	.top-content .top-big-link { margin-top: 25px; }
	.top-content .top-big-link a.btn { margin-top: 10px; }

}



/* ==========================================================================
   SEPARATEURS
   ========================================================================== */
	/* Separators - Parallax Section */
.sep {
	background: #ededed;
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 350px;
	position: relative;
	z-index:11;
	margin: 0;
	padding: 0;
	width: 100%;
}
.skysep {
	background-image: url('../images/skynight.jpg');
	height: 450px;
	 -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.8);
}




/* ==========================================================================
   BUTTONS
   ========================================================================== */
.btn-black {
background: #1a1a1a;
color: #fff!important;
max-width: 270px;
margin-left: auto;
margin-right: auto;
padding: 1.5em 3em;
font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
font-weight: 500;
font-style: normal;
font-size: 12px;
letter-spacing: 0.15em;
text-transform: uppercase;
display: inline-block;
width: auto;
border: 0px none;
border-radius: 0;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-black:hover {
background: #000000;
color: #fff!important;
text-decoration: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-black:active,.btn-black:focus,.btn-black:visited {
text-decoration: none!important;
}

.btn-transparent {
background: transparent;
color: #b7b7b7!important;
max-width: 270px;
margin-left: auto;
margin-right: auto;
padding: 1.5em 3em;
font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
font-weight: 500;
font-style: normal;
font-size: 12px;
letter-spacing: 0.15em;
text-transform: uppercase;
display: inline-block;
width: auto;
border: 0px none;
border-radius: 0;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-transparent:hover {
background: transparent;
color: #fff!important;
text-decoration: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-transparent:active,.btn-transparent:focus,.btn-transparent:visited {
text-decoration: none!important;
}


.btn-darkgrey {
background: #323232;
color: #fff!important;
max-width: 270px;
margin-left: auto;
margin-right: auto;
padding: 1.5em 3em;
font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
font-weight: 500;
font-style: normal;
font-size: 12px;
letter-spacing: 0.15em;
text-transform: uppercase;
display: inline-block;
width: auto;
border: 0px none;
border-radius: 0;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-darkgrey:hover {
background: #474747;
color: #fff!important;
text-decoration: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-darkgrey:active,.btn-darkgrey:focus,.btn-darkgrey:visited {
text-decoration: none!important;
}

.btn-green {
background: #1eac90;
color: #fff!important;
max-width: 270px;
margin-left: auto;
margin-right: auto;
padding: 1.5em 3em;
font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
font-weight: 500;
font-style: normal;
font-size: 12px;
letter-spacing: 0.15em;
text-transform: uppercase;
display: inline-block;
width: auto;
border: 0px none;
border-radius: 0;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-green:hover {
background: #23e4bd;
color: #fff!important;
text-decoration: none;
	-webkit-transition: background 0.5s ease-out;
	   -moz-transition: background 0.5s ease-out;
		-ms-transition: background 0.5s ease-out;
		 -o-transition: background 0.5s ease-out;
			transition: background 0.5s ease-out;
}
.btn-green:active,.btn-green:focus,.btn-green:visited {
text-decoration: none!important;
}

.btn-facebook {
background: #f8f8f8;
color: #3a3a3a!important;

max-width: 240px;
margin-left: auto;
margin-right: auto;
padding: 15px 10px;
font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
font-weight: 500;
font-style: normal;
font-size: 11.5px;
letter-spacing: 0.15em;
text-transform: uppercase;
display: inline-block;
width: auto;
border-radius: 0;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.btn-facebook i {
color: #2d4c8f;
}
.btn-facebook:hover {
background: #2d4c8f;
color: #ffffff!important;
text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.btn-facebook:hover i {
color: #ffffff;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.btn-facebook:active {
text-decoration: none!important;
}
.btn-facebook:visited {
text-decoration: none!important;
}
.btn-facebook i {
font-size: 18px;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}


.btn-twitter {
background: #f8f8f8;
color: #3a3a3a!important;
max-width: 230px;
margin-left: auto;
margin-right: auto;
padding: 15px 10px;
font-family: 'proxima_nova_ltsemibold', Helvetica, Arial;
font-weight: 500;
font-style: normal;
font-size: 11.5px;
letter-spacing: 0.15em;
text-transform: uppercase;
display: inline-block;
width: auto;
border: 0px none;
border-radius: 0;
text-align: center;
cursor: pointer;
-webkit-appearance: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.btn-twitter i {
color: #0086b7;
}
.btn-twitter:hover {
background: #0086b7;
color: #fff!important;
text-decoration: none;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.btn-twitter:hover i {
color: #ffffff;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}
.btn-twitter:active {
text-decoration: none!important;
}
.btn-twitter:visited {
text-decoration: none!important;
}
.btn-twitter i {
font-size: 18px;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;
}



 /* ==========================================================================
   SEARCH
   ========================================================================== */
.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
width: 348px;
margin: 45px auto 50px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Form text input */
 
.search-wrapper input {
width: 248px;
height: 40px;
padding: 10px 5px!important;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #cacaca;
border-radius: 3px 0 0 3px;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 0;
padding: 0;
cursor: pointer;
height: 40px;
width: 100px;
font: bold 14px/40px 'Source Sans Pro';
color: white;
text-transform: none;
letter-spacing: 0.7px;
background: #f47264;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
   
.search-wrapper button:hover{     
    background: #f7635c;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #c42f2f;
    outline: 0;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #f47264 transparent;
    top: 12px;
    left: -6px;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper button:hover:before{
    border-right-color: #f7635c;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #c42f2f;
}      
 
.search-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}    

/* ######## ARCHIVES ######## */
h4.petit_titre{
	font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    letter-spacing: 0.4px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border: 0!important;
    
}

p.lignearchive{ padding: 20px 5px!important; border: 0!important; }
.toutpeti {font-size:11px; display: block;  }
.toutpeti i { margin-right: 7px;  }
.toutpeti a, .toutpeti a:active, .toutpeti a:link { color: #515151!important; text-decoration: none;}
.toutpeti a:hover { color: #141414!important; cursor: pointer; text-transform: none; text-decoration: underline; }
.menulien {line-height: 1;font-size:18px!important; line-height: 25px; font-family: 'Source Sans Pro', sans-serif; font-weight: bold; text-transform: none; }
.menulien a:link {color:#434343!important;text-decoration:none;border-bottom: 0px; display: inline-block;}
.menulien a:visited {color:#434343!important;text-decoration:none;border-bottom: 0px;} /* visited link */
.menulien a:hover {color:#f47264!important;text-decoration:none;}   /* mouse over link */
.menulien a:active {color:#434343!important;text-decoration:none;border-bottom: 0px;}  /* selected link */
p.lignearchive span.texte{ font-family: 'Source Sans Pro', sans-serif; font-size: 14px; color: #5d5d5d; display: block; }
p.lignearchive span.texte mark{ background: #ff6b6b; padding: 0px 2px; color: #fcfcfc; }


div.lignearchive{ padding: 0px 60px 30px 60px!important; border: 0!important; }
div.lignearchive span.toutpeti { padding-top: 10px; }
div.lignearchive a span.menulien { 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }
div.lignearchive a:hover span.menulien { 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
 }
div.lignearchive a:link span.menulien { color:#434343!important; }
div.lignearchive a:visited span.menulien { color:#434343!important; }
div.lignearchive a:hover span.menulien { color:#f47264!important; }
div.lignearchive a:active span.menulien { color:#434343!important; }





















/* ==========================================================================
   SMARTPHONES & TABLETS
   ========================================================================== */
.only_smartphones{ display: none; }

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */

	/* --- pricing ---*/	
	.containerPricing { padding: 20px 10px 50px 60px; }
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
	/* --- navigation ---*/
	.logo { }
	.nav-white li.socialrc { display: none; }
	.nav-white li.archivesrc { display: none; }
	/* --- head_article_s ---*/	
	#container_heads{ display: none; }
	#singlearticle{ display: none; }
	.dualitymobile{ display: block; }
	.singlemobile{ display: block; }
	/* --- footer ---*/
	#footerwrap { padding: 20px 20px; }
	.only_smartphones{ display: block; }
	#youtubediv { padding: 0px; }

	/* --- pricing ---*/	
	.containerPricing { padding: 0px 20px; }
	.price-plan{ margin-bottom: 50px; }
	.most-popular { display: none; }

	/* --- briefs ---*/
	a.previous{ margin:20px 0px 20px 0px; }
	a.next{ margin:20px 0px 20px 0px; }


}/* fin max-width: 768px */






