/* RADICAL CINEMA Stylesheet */
/**
 * Made By Joseph Paris
 */
@font-face {
font-family: 'Source Sans Pro Light';
src: url('../fonts/SourceSansPro-Light.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro';
src: url('../fonts/SourceSansPro-Regular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro Bold';
src: url('../fonts/SourceSansPro-Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Fanwood Text';
src: url('../fonts/Fanwood-Text.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Fanwood Text Italic';
src: url('../fonts/Fanwood-Text-Italic.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Montserrat';
src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Montserrat Bold';
src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,100,600");

/* ------------------------------------------------------------------
General Styles
------------------------------------------------------------------ */

body {
	background: #f0f0f0;
	font: 400 14px/1.8 "Source Sans Pro", sans-serif;
	color: #777;
	overflow-x: hidden;
	-ms-overflow-style: scrollbar;
}

img {
	max-width: 100%;
	height: auto;
}

iframe {
	border: 0;
}
.container-fluid{
  padding: 0!important;
  margin: 0!important;
  width:100%;
  position: relative;
}
.row.no-gutters {
  margin: 0;
  padding: 0;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------------------------
Selection
------------------------------------------------------------------ */

::-moz-selection {
	background: #6653ff;
	color: #fff;
}

::-webkit-selection {
	background: #6653ff;
	color: #fff;
}

::selection {
	background: #6653ff;
	color: #fff;
}

/* ------------------------------------------------------------------
Transition elsements
------------------------------------------------------------------- */

a,
.btn,
.navbar a {
	-webkit-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	   -moz-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	     -o-transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
	        transition: all 0.3s cubic-bezier(0.300, 0.100, 0.580, 1.000);
}


/* ------------------------------------------------------------------
Reset box-shadow
------------------------------------------------------------------- */

.btn,
.well,
.panel,
.progress,
.form-control, .form-control:hover, .form-control:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
}

/* ------------------------------------------------------------------
Reset border-radius
------------------------------------------------------------------- */

.well, .label, .alert,
.modal-content {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
}

/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

a {
	color: rgba(17, 17, 17, 0.55);
}

a:hover, a:focus {
	text-decoration: none;
	color: #111;
	outline: 0;
}

.bg-dark a {
	color: #aaa;
}

.bg-dark a:hover,
.bg-dark a:focus {
	color: #fff;
}

.text-light {
	color: rgba(255, 255, 255, 0.7);
}

.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6,
.text-light .h1, .text-light .h2, .text-light .h3, .text-light .h4, .text-light .h5, .text-light .h6 {
	color: #fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	line-height: 1.4;
	font-weight: 400;
	color: #111;
}

h1, .h1 {
	font-size: 28px;
}

h2, .h2 {
	font-size: 24px;
}

h3, .h3 {
	font-size: 18px;
}

h4, .h4 {
	font-size: 16px;
}

h5, .h5 {
	font-size: 14px;
}

h6, .h6 {
	font-size: 12px;
}

p, ol, ul, blockquote {
	margin: 0 0 20px;
}

blockquote {
	border-color: #f7f7f7;
}

blockquote.serif-quote {
	border: 0;
	padding-left: 0;
	padding-right: 0;
}



.rotate {
	text-shadow: none !important;
}



/* ------------------------------------------------------------------
Overlays
------------------------------------------------------------------- */

.bg-light {
	background-color: #f7f7f7;
	height: 100%;
	width: 100%;
}

.bg-dark {
	background-color: #111;
	height: 100%;
	width: 100%;
}

.bg-dark,
.bg-dark-30,
.bg-dark-60,
.bg-dark-90,
.bg-dark h1, .bg-dark h2, .bg-dark h3, .bg-dark h4, .bg-dark h5, .bg-dark h6,
.bg-dark-30 h1, .bg-dark-30 h2, .bg-dark-30 h3, .bg-dark-30 h4, .bg-dark-30 h5, .bg-dark-30 h6,
.bg-dark-60 h1, .bg-dark-60 h2, .bg-dark-60 h3, .bg-dark-60 h4, .bg-dark-60 h5, .bg-dark-60 h6,
.bg-dark-90 h1, .bg-dark-90 h2, .bg-dark-90 h3, .bg-dark-90 h4, .bg-dark-90 h5, .bg-dark-90 h6 {
	color: #fff;
}

.bg-film:before,
.bg-dark-30:before,
.bg-dark-60:before,
.bg-dark-90:before,
.bg-light-30:before,
.bg-light-60:before,
.bg-light-90:before {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;
}

.bg-dark-30:before {
	background: rgba(34, 34, 34, 0.3);
	content: "";
	left: 0;
	top: 0;
}

.bg-dark-60:before {
	background: rgba(34, 34, 34, 0.6);
	content: "";
	left: 0;
	top: 0;
}

.bg-dark-90:before {
	background: rgba(34, 34, 34, 0.9);
	content: "";
	left: 0;
	top: 0;
}

.bg-light-30:before {
	background: rgba(255, 255, 255, 0.3);
	content: "";
	left: 0;
	top: 0;
}

.bg-light-60:before {
	background: rgba(255, 255, 255, 0.6);
	content: "";
	left: 0;
	top: 0;
}

.bg-light-90:before {
	background: rgba(255, 255, 255, 0.9);
	content: "";
	left: 0;
	top: 0;
}

.bg-film:before {
	background: url(../images/dot.gif);
	opacity: 0.06;
	content: "";
	left: 0;
	top: 0;
}

/* ------------------------------------------------------------------
Navigation
------------------------------------------------------------------- */
.logofixed {
	
	position: fixed;
	top:0px;
	left:0px;
	width: 200px;
	height: 70px;
	z-index: 999;
	-webkit-transition: width 2s ease, height 2s ease;
	-moz-transition: width 2s ease, height 2s ease;
	-o-transition: width 2s ease, height 2s ease;
	transition: width 2s ease, height 2s ease;
}
.logofixed img {
margin: 15px 30px;
}
.blackbg {
background: #212121;
	-webkit-transition: width 2s ease, height 2s ease;
	-moz-transition: width 2s ease, height 2s ease;
	-o-transition: width 2s ease, height 2s ease;
	transition: width 2s ease, height 2s ease;
}
#sidebar {
padding: 15px 30px;
margin: 0;
width: 200px;
}
ul#menuprincipal {
margin: 0;
padding: 0;
list-style-type: none;
font-family: 'Dosis', sans-serif; 
font-size: 11px; 
line-height: 15px;
text-transform: uppercase;
letter-spacing: 0.6px;
display:block;
}
ul#menuprincipal li {
margin: 0px 0px;
padding: 0px 0px;
display:block;
}
ul#menuprincipal li a {
display:block;
border: 0;
margin: 0;
padding: 7px 5px;
color: #aaa!important;
background: transparent!important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
border-left: 2px solid transparent;
}

ul#menuprincipal li a.active {
margin: 0;
padding: 7px 5px;
color: #373737!important;
border-left: 2px solid #000;
}
ul#menuprincipal li.login  {
margin: 0px 0px;
padding: 0px 0px;
display:block;
}
ul#menuprincipal li.tiret  {
margin: 0px 0px;
padding: 0px 5px;
display:block;
color: #ebebeb;
}
ul#menuprincipal li.login  a{
border: 0;
margin: 0;
padding: 2px 5px;
font-family: 'Work Sans', sans-serif; 
color: #aaa!important;
text-transform: none!important;
letter-spacing: 0.7px;
font-weight: normal;
font-size: 12px;
background: transparent!important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
border-left: 2px solid transparent;
}
ul#menuprincipal li a:hover {
margin: 0;
color: #101010!important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
border-left: 2px solid #c2c2c2;
}
/* Hero caption sizes*/

.mh-line-size-1,
.mh-line-size-2,
.mh-line-size-3,
.mh-line-size-4,
.mh-line-size-5,
.mh-line-size-6 {
	font-weight: 400;
	margin: 0;
}

.mh-line-size-1 {
	letter-spacing: 10px;
	font-size: 30px;
	opacity: 0.9;
}

.mh-line-size-2 {
	letter-spacing: 40px;
	font-size: 26px;
	opacity: 0.9;
}

.mh-line-size-3 {
	letter-spacing: 24px;
	font-size: 26px;
	opacity: 0.8;
}

.mh-line-size-4 {
	letter-spacing: 5px;
	font-size: 16px;
	opacity: 0.6;
}

.mh-line-size-5 {
	letter-spacing: 3px;
	font-size: 14px;
	opacity: 0.6;
}

.mh-line-size-6 {
	font-size: 15px;
	opacity: 0.6;
}

/* ------------------------------------------------------------------
Hero
------------------------------------------------------------------- */

.module-hero {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.hero-caption {
	display: table;
	height: 100%;
	width: 100%;
	text-align: center;
}

.hero-text {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

/* ------------------------------------------------------------------
BOX ARTICLE LARGE
------------------------------------------------------------------- */

.wrapper_article_box{
padding: 20px;
}
.article_boxlarge{
background: #fff;
width:100%; 
display: block;
	padding: 20px 30px;
	margin: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
border:1px solid #ededed;

}
span.divblack {
    content: '';
    display: block;
    width: 30px;
    height: 1px;
    background-color: #c2c2c2;
    position: relative;
    margin: 24px 0!important;
}
span.hashtag {
	font-family: 'Work Sans', sans-serif; 
    letter-spacing: 5px;
    font-size: 13px;
    text-transform: uppercase;
    display: block;
    font-weight: 400;
    color: #939393;
    background: transparent!important;
    
}
.article_boxlarge h1, .article_boxlarge h1 a {
font-family: "Work Sans",sans-serif!important;
  font-weight: bolder;
    font-size: 20px;
    line-height: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #454545;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 5px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.article_boxlarge h2, .article_boxlarge h2 a {
font-family: "Work Sans",sans-serif!important;
  font-weight: bolder;
    font-size: 16px;
    line-height: 30px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #454545;
                -webkit-font-smoothing: antialiased;
                text-align: left;
                padding: 5px 10px 5px 0px!important;
                margin: 0!important; 
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;
}
.article_boxlarge h1 a:hover, .article_boxlarge h2 a:hover { color: #7866ff;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out; }

.article_boxlarge .post-meta {
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 14px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     padding-right: 20px;
}
.article_boxlarge .post-meta span.date {  font-size: 12px!important; color: #bbbbbb; }
.article_boxlarge .post-meta span.auteur {  font-size: 12px!important; color: #5d5d5d; }

.article_boxlarge .post-meta a {   color: #5d5d5d; font-size: 12px!important;  }
.article_boxlarge .post-meta a:hover { color: #7866ff; }

.image-holder {
    display:inline-block;
    position: relative;
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: #000;
    opacity: 0.1;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.image-holder:hover:after {
    opacity: 0;    
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
  
.tagtribune{  background: #dfdfdf; color: #535353;  } .tagtribune i { color: #a2a2a2;   }
.taganalyse{  background: #d2d6d5; color: #515151; }
.tagalert{  background: #df4b59; }
.tagplanet{  background: #1eab8f; }
.tagactu{  background: #3b5998; }
.tagpapillon{  background: #95907f; }
.tagaction{  background: #313131; }
.tagattentat{  background: #373737; }

.article_boxlarge div.sec { padding: 0px 0px 0px 20px!important; }




/* ------------------------------------------------------------------
BOX BRIEF LONG
------------------------------------------------------------------- */


.brieflong {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    text-align: justify;
     font-family: "Source Sans Pro", sans-serif;
     font-size: 16px;
     background: transparent!important;
}
.brieflong a {
    color: #6653ff;
     font-family: "Source Sans Pro", sans-serif;
     font-size: 16px;
     background: transparent!important;
}
/* ------------------------------------------------------------------
BOX BRIEF SHORT
------------------------------------------------------------------- */
.article_boxbrief{

}
.simplebrief{
    text-align: justify;
     font-family: "Source Sans Pro", sans-serif;
     font-size: 16px;
     background: transparent!important;
}
.simplebrief a {
    color: #6653ff;
     font-family: "Source Sans Pro", sans-serif;
     font-size: 16px;
     background: transparent!important;
}
