
@font-face {
font-family: 'Source Sans Pro Light';
src: url('../fonts/SourceSansPro-Light.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro';
src: url('../fonts/SourceSansPro-Regular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro Bold';
src: url('../fonts/SourceSansPro-Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,100,600");
@import url('https://fonts.googleapis.com/css?family=Bentham');
/* ==========================================================================
   GENERAL
   ========================================================================== */
@charset "utf-8";

html,
body {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    color: #333;
    font-family: 'AvenirLTStd-Roman', Arial, serif;
    font-size: 14px;
    line-height: 25px;
    -webkit-font-smoothing: antialiased;
    background: #f8f8f8;
    margin: 0;
	height: 100%;
}


/* ------------------------------------------------------------------
Reset box-shadow
------------------------------------------------------------------- */

.btn,
.well,
.panel,
.progress,
.form-control, .form-control:hover, .form-control:focus {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	    -ms-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
}

/* ------------------------------------------------------------------
Reset border-radius
------------------------------------------------------------------- */

.well, .label, .alert,
.modal-content {
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
}

/* ------------------------------------------------------------------
Typography
------------------------------------------------------------------- */

a {
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  
    color: #6653ff;
    text-decoration: none;
   }

a:hover, a:focus {
	outline: 0;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
		-ms-transition: all 0.25s ease-out;
		 -o-transition: all 0.25s ease-out;
			transition: all 0.25s ease-out;  
    color: #402ae4;
    text-decoration: none;
}

::-moz-selection {
    background: #f73f70;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #f73f70;
    color: #ffffff;
    text-shadow: none;
}
/* ==========================================================================
   COLORS
   ========================================================================== */
.cwhite { color: #fff!important; }
.cblack { color: #000!important; }
.cgrey { color: #ccc!important; }
.cgrey2 { color: #b2b2b2!important; }
.cgrey3 { color: #c0c0c0!important; }
.cgrey4 { color: #8a8a8a!important; }
.cgrey5 { color: #686868!important; }
.cdarkgrey { color: #3b3b3b!important; }
.cdimgrey { color: #4b6681!important; }
.cgreen { color: #1abc9c!important;  }
.cred { color: #e68282!important; }
.ctomato { color: #ff3757!important; }
.credlight { color: #ff8a84!important; }
.cpurple { color: #6653ff!important; }
.cblue { color: #929bd2!important; }
.cdodgerblue { color: #168dd9!important; }
.steelblue { color: #5399bb!important; }
.lightsteelblue { color: #95b3d8!important; }
.cturquoise { color: #25c6dc!important; }
.ctan { color: #caa58e!important; }
.alertr { color: #ff3757!important; }
a.greylink { color: #ccc!important; border: 0!important; }
a.greylink:hover { color: #1abc9c!important; border: 0!important; }

a.whitelink { color: #fff!important; }
a.whitelink:hover { color: #000!important; text-decoration: none; }

.small{ font-size: 12px!important; }
.small a{ font-size: 12px!important; }
a.grey2link { color: #848484!important; text-decoration: none;border: 0!important; }
a.grey2link:hover { color: #000000!important; text-decoration: none;border: 0!important; }

a.grey3link { color: #4e4e4e!important; }
a.grey3link:hover { color: #000000!important; }

a.grey3link { color: #6e6e6e!important; }
a.grey3link:hover { color: #6653ff!important; }
/* ------------------------------------------------------------------
General divs
------------------------------------------------------------------- */


#toptop {
background: #2f3034;
height: 5px;
width: 100%;
position: fixed;
top:0;
left: 0;
z-index: 10000;
display: block;
margin: 0;
padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}
.container-fluid{
  padding: 0;
  margin: 0;
  width:100%;
}





.row.no-gutters {
  margin: 0!important;
  padding: 0!important;
}
.row.no-gutters [class^="col-"],
.row.no-gutters [class*=" col-"]{
  margin: 0!important;
  padding: 0!important;
}
p {
  margin:0;
  text-align: justify;
  line-height: 30px;
}


.txtcenter { text-align: center!important; }
.txtleft { text-align: left!important; }
.txtright { text-align: right!important; }
.txtjustify { text-align: justify!important; }
.paraph_left{ text-align:justify;padding-right:10px; }
.paraph_right{ text-align:justify;padding-left:10px; }

.appeldair { width: 100%; height: 50px; }

#menuzonewrap{
position: fixed;
}
#menuzone{
    padding: 30px 0px;
    margin: 0;
    text-align: center;
    z-index: 99!important;
}



.col-offset-280{
    padding-left:280px;
}


/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}




.textesimple{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px!important;
line-height: 30px!important;
}
.textesimple p{
    color: #424242!important;
    font-family: 'Droid Serif', serif;
    font-size: 14px!important;
    line-height: 30px;
    padding: 0;
    margin: 0;
    text-align: justify;
}
.textesimple a, .textesimple p a{
    color: #424242!important;
    font-family: 'Droid Serif', serif;
    font-size: 14px!important;
    line-height: 30px;
    padding: 0;
    margin: 0;
     background: transparent;
border-bottom: 3px solid #b4e7f8;
    box-shadow: inset 0 -5px 0 #b4e7f8;
}
.textesimple a:hover{
     background: #b4e7f8;
}






h6 {
    font-family: 'Source Sans Pro Bold', sans-serif;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 5px 0px 10px 0px;
    margin: 0;
}



/* ------------------------------------------------------------------
TITRELEFT
------------------------------------------------------------------- */

.titreleft{
padding: 40px 10px 0px 0px;
    border-top: none;
    font-family: "Open Sans",sans-serif!important;
    font-size: 12px!important;
    color: #888;
    letter-spacing: 0.5px!important;
     text-align: left;
}
.contentsection{ padding: 40px 10px 0px 0px; color: #3e3e3e; }
.contentsection p{ color: #3e3e3e; }
h3.titresection{
    font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 5px 0px 0px 0px;
    margin: 0;
}
.titreleft p{
    color: #424242!important;
    font-family: 'Droid Serif', serif;
    font-size: 12px!important;
    line-height: 20px;
    padding: 10px 0px;;
    margin: 0;
    text-align: left;
}

/* ------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------- */
@media (min-width: 992px) {/* =============== Laptops ================= */
.titreleft{ padding: 40px 10px 0px 0px; text-align: left; }
.contentsection{ padding: 40px 10px 0px 0px; }
}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.titreleft{ padding: 40px 10px 0px 10px; text-align: left; }
.contentsection{ padding: 40px 10px 0px 0px; }
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
.titreleft{ padding: 30px 10px 0px 10px; text-align: left; }
.contentsection{ padding: 0px 10px 0px 0px; }
}/* fin max-width: 768px */









/*
 * Block Header
 * Used for Heading outside the Cards.
 */
#block-header-wrap {
  display: block;
  width: 100%;
  height:50px;
  background: rgba(248,248,248,1);
  z-index: 1000;
}
#block-header {
  margin-bottom: 10px;
  position: relative;
}



.logo {
display:inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0!important;
  padding: 0!important;
line-height: 20px!important;
margin-top: 15px!important;
}
.logo a {
	color:#444444;
	background: transparent;
	text-decoration:none;
	position:relative;
	white-space:nowrap;
	border: 0!important;
	padding: 0!important;
	margin: 0!important;
	letter-spacing: 1px;
	font-size: 13px;
	float: left;
	display: inline-block;
	-webkit-transition: all 1s ease-out;
	   -moz-transition: all 1s ease-out;
		-ms-transition: all 1s ease-out;
		 -o-transition: all 1s ease-out;
			transition: all 1s ease-out; 

}
.logo a span {
	padding: 7px 10px;
	margin: 0!important;
	border: 2px solid #626262;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
.logo a:hover {


	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}
.logo a:hover span {
	color:#000000;
	border: 2px solid #000000;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out;  

}

#actions {
  position: relative;

  list-style: none;
  padding: 0;
  z-index: 3;
  margin: 0;
}

#actions > li {
  display: inline-block;
  vertical-align: baseline;
}

#actions > li > a,
#actions > a {
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  padding-top: 5px;
}

#actions > li > a > i,
#actions > a > i {
  color: #adadad;
  font-size: 15px;
}

#actions > li > a:hover > i,
#actions > a:hover > i {
  color: #000;
}

@media (min-width: 768px) {
  #actions > li > a,
  #actions > a {
    position: relative;
  }

  #actions > li > a:before,
  #actions > a:before {
    left: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0,0,0,0.1);
    
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  #actions > li > a:hover:before,
  #actions > a:hover:before,
  #actions > li > a.open:before,
  #actions > a.open:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}

#actions > li.open > a > i,
#actions.open > a > i {
  color: #000;
}

#actions > li.open > a:before,
#actions.open > a:before {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  filter: alpha(opacity=100);
}

#actions#actions-alt > li > a > i {
  color: #fff;
}

#actions#actions-alt > li > a > i:hover {
  color: #fff;
}

#actions#actions-alt > li.open > a > i {
  color: #fff;
}
#actions.open {
  z-index: 3;
}
.dropdown-menu {
	background: #303030;
    color: #f0f0f0;
    z-index: 99;
}
.dropdown-menu input[type="text"] {
	background: #202020!important;
    color: #f0f0f0!important;
    border: 0!important;
    margin: 0 5px!important;
}
.dropdown-menu button {
	background: #121212!important;
    color: #ababab!important;
    border: 0!important;
    margin: 0 5px!important;
    height: 34px!important;
}
.dropdown-menu>li>a {
	background: #303030;
    color: #c2c2c2;
    font-size: 14px;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out; 
}
.dropdown-menu>li>a i {
    color: #707070;
    font-size: 12px;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out; 
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:hover i {
	background: #303030;
    color: #e9e9e9;
	-webkit-transition: all 0.5s ease-out;
	   -moz-transition: all 0.5s ease-out;
		-ms-transition: all 0.5s ease-out;
		 -o-transition: all 0.5s ease-out;
			transition: all 0.5s ease-out; 
}
.dropdown-menu>li.social {
display: block;
text-align: center!important;
}
.dropdown-menu>li.divider {
background-color: transparent;
margin: 2px 0;
}
.dropdown-menu>li.dividerblack {
background-color: #262626!important;
height: 1px;
margin: 2px 0;
}
#socialmenu {
display: inline-block;
margin: 0 auto;
text-align: center;
}
#socialmenu a {
padding:0px 7px;
margin: 0!important;
font-size: 14px;
color: #7a7a7a;
border: 0;
}
#socialmenu a:hover {
color: #c9c9c9;
border: 0;
}


/**
 * Tooltip Styles
 */









a#scroll-to-top{
color: #c9c9c9;
font-size: 30px;
}

a#scroll-to-top:hover{
color: #000000;
font-size: 30px;
}






















/* ------------------------------------------------------------------
Footer
------------------------------------------------------------------- */

#footer{
width: 100%;
padding: 30px 0px;
text-align: center;
}




/* ------------------------------------------------------------------
CONTENT PAGE
------------------------------------------------------------------- */

.contentPage {
text-align:justify;
padding: 50px 10px;
}
.contentPage h3 {
    font-family: 'Source Sans Pro Light', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #3f3f3f;
    text-decoration: none;
    text-transform: uppercase;
    border: 0!important;
    padding: 5px 0px 0px 0px;
    margin: 0;
}
.contentPage p {
     background: transparent;
     text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: #454545;
}
.contentPage p.legalinfo {
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #676767;
    padding:10px 0px;
}
.contentPage .twocolumns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    line-height: 25px!important;
}
.contentPage .twocolumns p {
    line-height: 25px!important;
}


.legal-info{
    font-family: 'Helvetica', sans-serif;
    font-size: 11px;
    color: #757575;
    padding:5px 10px;
    text-align: right;
}
.legal-info a{ color: #757575; }
.legal-info a:hover{ color: #2e2e2e; }

input[type="text"], input[type="password"], input[type="email"]
{
    background: #fff;
    border: 2px solid #ededed;
    color: #3e3e3e;
    outline: 0;
    margin: 10px 0px;
    width: 100%;
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	     -o-border-radius: 2px;
	        border-radius: 2px;
}
.padd10{ padding: 10px 0px!important; }
.padd100{ padding:0px 100px 0px 100px; }
.padd100bis{ padding:100px 10px; }
.petit_titre {
    font-family: 'Source Sans Pro Light', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    margin: 5px 0px 0px 0px!important;
    padding: 0!important;
    line-height: 20px!important;
    font-size: 12px!important;
    letter-spacing: 1.5px;
    display: block;
    border-bottom: 0px solid #e9e9e9;
    text-align: left!important;
}

.petit_titre span {
    background: #343434;
    color: #fafafa;
    display: inline-block;
    margin: 0 auto;
    padding: 4px 8px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}


















	/* Responsive video */

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 0px;
}
 
.flex-video.widescreen { padding-bottom: 56.3%; }
.flex-video.widescreen2 { padding-bottom: 40%; }

.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

.result
{
  text-align:left;
  background-color:grey;
  width:100%;
  padding:10px;
  box-sizing:border-box;
  color:#F2F2F2;
  border-radius:3px;
  border:1px solid #424242;
  font-style:italic;
}

#load {
  padding: 10px 15px!important;
  margin: 40px auto;

}


.error{
  color:#ff2466!important;
}


/* ==========================================================================
   SMARTPHONES & TABLETS
   ========================================================================== */
.only_smartphones{ display: none; }

@media (min-width: 992px) {/* =============== Laptops ================= */
.only_smartphones{ display: none; }
	.sidebar { display: block;  }
	#thenavbar { display: none;  }

}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.only_smartphones{ display: none; }
	.sidebar { display: block; padding-left: 20px!important;  }
	#thenavbar { display: none;  }
.padd100{ padding:0px 20px 0px 20px!important; }
padd100bis{ padding:50px 10px!important; }
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
	.only_smartphones{ display: inline-block; }
	.sidebar{ display: none;  }
	#toptop { display: none;  }
	#thenavbar{ display: none!important;  }
.contentPage  { padding: 20px 10px 50px 10px;}
.contentPage .twocolumns {
    -webkit-column-count: 1; /* Chrome, Safari, Opera */
    -moz-column-count: 1; /* Firefox */
    column-count: 1;
}
.padd100{ padding:0px!important; }
padd100bis{ padding:30px 10px!important; }


}/* fin max-width: 768px */




@media (min-width: 992px) {/* =============== Laptops ================= */
.visible-xs-only { display: none;  }

}/* fin max-width: 992px */

@media (min-width: 768px) and (max-width: 992px) {/* =============== Tablets ================= */
.visible-xs-only { display: none;  }
}/* fin max-width: 992px */


@media (max-width: 768px) { /* =============== Smartphones ================= */
.visible-xs-only { display: inline-block;  }

}/* fin max-width: 768px */



