 /* ==========================================================================
   TYPO
   ========================================================================== */
@font-face {
font-family: 'AdelleBold';
src: url('../fonts/AdelleBasic_Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
/*
SourceSansPro-Black.otf
SourceSansPro-BlackIt.otf
SourceSansPro-BoldIt.otf
SourceSansPro-ExtraLight.otf
SourceSansPro-ExtraLightIt.otf
SourceSansPro-It.otf
SourceSansPro-LightIt.otf
SourceSansPro-Regular.otf
SourceSansPro-Semibold.otf
SourceSansPro-SemiboldIt.otf
*/
@font-face {
font-family: 'Source Sans Pro Light';
src: url('../fonts/SourceSansPro-Light.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro';
src: url('../fonts/SourceSansPro-Regular.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'Source Sans Pro Bold';
src: url('../fonts/SourceSansPro-Bold.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
/* CSS Document */
img  {
	border:none;
}

#loading-container {
	padding:16px 0px 16px 0px;
	text-align:center;	
}

#twitter-feed {
	width:100%;
	margin:0;
	padding: 0px 0px 30px 40px;
	font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #666;
	overflow:auto;
	float:right;
	margin-top:-10px;
}

#twitter-feed h1 {
	color:#5F5F5F;
	margin:0px;
	padding:9px 0px 9px 0px;
	font-size:18px;
	font-weight:lighter;	
}

.twitter-article, #loading-container {
	width:100%;
	border-bottom:0px dotted #ccc;
	float:left;	
	padding:8px 0px 8px 0px;
}

.twitter-pic {
	float:left;
	width:60px;

}

.twitter-pic img {
	float:left;
	border-radius:30px;	
	border:none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  /*filter: gray;  IE 6-9 */
}
.twitter-pic a:hover img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}




/* -------- TEXT STYLING ------*/
.twitter-text {
	width:80%;
	float:left;
	padding-left: 8px;
	font-size: 13px;
}
.twitter-text p {
font-family: 'Source Sans Pro', sans-serif;
line-height: 1.5;
	margin:0px;
	font-size:18px;
	line-height:25px;	
}
.twitter-text p a {
	color: #ff3757;
	font-size: 17px;
	text-decoration: none !important;
	border-bottom:0px !important;
}
.twitter-text p a:hover {
	text-decoration: underline!important;
	color: #ff3757;
}
h1 a {
	font-family: 'Source Sans Pro', sans-serif;
	color: #428bca;
	font-size:14px;
	text-decoration: none !important;
	border-bottom:0px !important;
}
h1 a:hover {
	text-decoration: underline;
	color: #57a8f0;
}


.tweet-time {
	font-size:12px!important;
	color:#a5a5a5!important;
	float:right;
}
.tweet-time a {
	color:#a5a5a5!important;
	font-size:12px!important;
}
.tweet-time a:hover {
	color:#000000!important;text-decoration:none;background-color:transparent;
}

.tweetprofilelink a {
	color:#6a6a6a!important;
	padding: 10px 0px;
	font-size: 14px;
}
.tweetprofilelink a:hover {
	color:#000000!important;text-decoration:none;background-color:transparent;
}

/* -------- FEED  ACTIONS ------*/
#twitter-actions {
	width:75px;
	float:right;
	margin-right:5px;	
	margin-top:3px;	
}
.intent {
	width:25px;
	height:16px;
	float:left;	
}
.intent a{
	width:25px;
	height:16px;
	display:block;
	background-image:url(../images/tweet-actions.png);
	float:left;	
filter: alpha(opacity=30);
-moz-opacity: 0.30;
-khtml-opacity: 0.30;
opacity: 0.30;
} 
.intent a:hover{
	background-position:-25px 0px;
filter: alpha(opacity=70);
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
} 

#intent-retweet a{
	background-position:0px -17px;
} 
#intent-retweet a:hover{
	background-position:-25px -17px;
} 
#intent-fave a{
	background-position:0px -36px;
} 
#intent-fave a:hover{
	background-position:-25px -36px;
} 

/* -------- RETWEET INDICATOR ------*/
#retweet-indicator {
	width:14px;
	height:10px;
	background-image:url(../images/tweet-actions.png);
	background-position:-5px -54px;
	margin-top:7px;
	margin-right: 5px;
	float:left;
filter: alpha(opacity=70);
-moz-opacity: 0.70;
-khtml-opacity: 0.70;
opacity: 0.70;
}

.backlink {
	font-size:11px;
	text-align:center;
}

.backlink a {
	color:#aaa;
}




@media (max-width: 768px) {
	#twitter-feed {
		padding: 0px 10px 30px 10px;
	}
}/* fin max-width: 768px */


@media (min-width: 768px) and (max-width: 992px) {
	#twitter-feed {
		padding: 0px 10px 30px 10px;
	}
}/* fin max-width: 992px */
