<section class="article-media" style="border-bottom:1px solid #e8e8e8;">
	<div class="container-fluid"><!-- container-fluid -->
  <div class="my-simple-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {% for image in page.images %}
    {% if image.file_name != "head.jpg" and image.file_name != "thumb-medium.jpg"  %}



		
{% if image.width == 561 %}<!-- section_gallery_half -->
	
			{% if double == "" %}
	<div class="row no-gutters"><!-- row -->
	<div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>
	  {% set double = 'first' %}
	  <div class="col-md-4 col-sm-5 col-xs-12 imagepetite" style="padding:0px 0px 60px 0px;"><!-- half -->
	    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	      <a href="{{ image.url }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
	          <img src="{{ image.url }}" itemprop="thumbnail" style="max-width:{{ image.width }}px;"/>
	      </a>
	       {% if image.description %}<figcaption itemprop="caption description">{{ image.description }}</figcaption>{% endif %}
	       {% if image.description %} <p class="txtcenter" style="font-size: 12px!important;color:#dfdfdf!important;">{{ image.description }}
				{% if page.galerieauteur %}<br /><span>&copy; {{ page.galerieauteur }} - 
					{% if page.galeriecopyright == 'by' %}
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Licence Creative Commons BY</a>
					{% elseif page.galeriecopyright == 'by-sa' %}
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licence Creative Commons BY-SA</a>
					{% elseif page.galeriecopyright == 'by-nc' %}
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Licence Creative Commons BY-NC</a>
					{% elseif page.galeriecopyright == 'by-nc-sa' %}
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Licence Creative Commons BY-NC-SA</a>
					{% elseif page.galeriecopyright == 'by-nc-nd' %}
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Licence Creative Commons BY-NC-ND</a>
					{% elseif page.galeriecopyright == 'artlibre' %}
					<a href="http://artlibre.org/lal" target="_blank">Licence Art-Libre</a>
					{% else %}
					Tous droits réservés.
					{% endif %}</span>
				{% endif %}
	       </p>{% endif %} 
	    </figure>
	  </div><!-- #half -->
			{% else %}
	  {% set double = '' %}
	  <div class="col-md-4 col-sm-5 col-xs-12 imagepetite" style="padding:0px 0px 60px 0px;"><!-- half -->
	    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	      <a href="{{ image.url }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
	          <img src="{{ image.url }}" itemprop="thumbnail" style="max-width:{{ image.width }}px;"/>
	      </a>
	       {% if image.description %}<figcaption itemprop="caption description">{{ image.description }}</figcaption>{% endif %}
	       {% if image.description %} <p class="txtcenter" style="font-size: 12px!important;color:#dfdfdf!important;">{{ image.description }}
				{% if page.galerieauteur %}<br /><span>&copy; {{ page.galerieauteur }} - 
					{% if page.galeriecopyright == 'by' %}
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Licence Creative Commons BY</a>
					{% elseif page.galeriecopyright == 'by-sa' %}
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licence Creative Commons BY-SA</a>
					{% elseif page.galeriecopyright == 'by-nc' %}
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Licence Creative Commons BY-NC</a>
					{% elseif page.galeriecopyright == 'by-nc-sa' %}
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Licence Creative Commons BY-NC-SA</a>
					{% elseif page.galeriecopyright == 'by-nc-nd' %}
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Licence Creative Commons BY-NC-ND</a>
					{% elseif page.galeriecopyright == 'artlibre' %}
					<a href="http://artlibre.org/lal" target="_blank">Licence Art-Libre</a>
					{% else %}
					Tous droits réservés.
					{% endif %}</span>
				{% endif %}
	       </p>{% endif %} 
	    </figure>
	  </div><!-- #half -->
	  <div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>
	</div><!-- #row -->
			{% endif %}


<!-- #section_gallery_half --> {% else %}<!-- section_gallery_normal -->
		 


	<div class="row no-gutters"><!-- row -->
	<div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>

{% if image.description %}	
	<div class="col-md-2 col-sm-2 hidden-xs" style="padding:100px 0px 30px 0px;"><!-- col gauche -->
       <p class="legendethumb">{{ image.description }}
				{% if page.galerieauteur %}<br /><span>&copy; {{ page.galerieauteur }} - 
					{% if page.galeriecopyright == 'by' %}
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Licence Creative Commons BY</a>
					{% elseif page.galeriecopyright == 'by-sa' %}
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licence Creative Commons BY-SA</a>
					{% elseif page.galeriecopyright == 'by-nc' %}
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Licence Creative Commons BY-NC</a>
					{% elseif page.galeriecopyright == 'by-nc-sa' %}
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Licence Creative Commons BY-NC-SA</a>
					{% elseif page.galeriecopyright == 'by-nc-nd' %}
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Licence Creative Commons BY-NC-ND</a>
					{% elseif page.galeriecopyright == 'artlibre' %}
					<a href="http://artlibre.org/lal" target="_blank">Licence Art-Libre</a>
					{% else %}
					Tous droits réservés.
					{% endif %}</span>
				{% endif %}	       
       </p>                                  
	<!-- #col gauche --></div>
{% endif %} 
	  <div class="col-md-6 col-sm-8 col-xs-12 imagepetite" style="padding:30px 0px 30px 0px;"><!-- center -->
	    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
	      <a href="{{ image.url }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
	          <img src="{{ image.url }}" itemprop="thumbnail" style="max-width:{{ image.width }}px;"/>
	      </a>
	       {% if image.description %}<figcaption itemprop="caption description">{{ image.description }}</figcaption>{% endif %}
	    </figure>
	  </div><!-- #center -->
	  
	  <div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>

{% if image.description %}	
	<div class="col-xs-12 visible-xs-block"><!-- col gauche -->
       <h3 class="double-bordered txtleft hidden-xs"><i class="fa fa-camera"></i> </h3><p class="legendethumb">{{ image.description }}
				{% if page.galerieauteur %}<br /><span>&copy; {{ page.galerieauteur }} - 
					{% if page.galeriecopyright == 'by' %}
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Licence Creative Commons BY</a>
					{% elseif page.galeriecopyright == 'by-sa' %}
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licence Creative Commons BY-SA</a>
					{% elseif page.galeriecopyright == 'by-nc' %}
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Licence Creative Commons BY-NC</a>
					{% elseif page.galeriecopyright == 'by-nc-sa' %}
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Licence Creative Commons BY-NC-SA</a>
					{% elseif page.galeriecopyright == 'by-nc-nd' %}
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Licence Creative Commons BY-NC-ND</a>
					{% elseif page.galeriecopyright == 'artlibre' %}
					<a href="http://artlibre.org/lal" target="_blank">Licence Art-Libre</a>
					{% else %}
					Tous droits réservés.
					{% endif %}</span>
				{% endif %}	       
       </p>                                  
	<!-- #col gauche --></div>
{% endif %} 


	</div><!-- #row -->



<!-- #section_gallery_normal --> {% endif %}


	{% endif %}
    {% endfor %}
  </div>
	</div><!-- #container-fluid --> 
</section>











<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <!-- don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>

</div>