
{% for html in page.html %}
	{% if html.file_name == 'vimeo-embed.html' %}
<section class="article-media">
	<div class="container-fluid"><!-- container-fluid -->
  {{ html.content }}
	</div><!-- #container-fluid --> 
</section>
	{% endif %}
{% endfor %}



