<section class="article-media">
	<div class="container-fluid" id="youtubediv"><!-- container-fluid -->

	

{% if page.youtube1 and page.youtube2 %}
	<div class="row no-gutters"><!-- row -->
	<div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
	<div class="col-md-5 col-sm-6 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube1 }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-5 col-sm-6 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube2 }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
	</div><!-- #row -->
{% endif %}
{% if page.youtube3 and page.youtube4 %}
	<div class="row no-gutters"><!-- row -->
	<div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
	<div class="col-md-5 col-sm-6 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube3 }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-5 col-sm-6 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube4 }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
	</div><!-- #row -->
{% endif %}
{% if page.youtube5 and page.youtube6 %}
	<div class="row no-gutters"><!-- row -->
	<div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
	<div class="col-md-5 col-sm-6 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube5 }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-5 col-sm-6 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube6 }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-1 hidden-sm hidden-xs">&nbsp;</div>
	</div><!-- #row -->
{% endif %}

{% if page.youtube %}
	<div class="row no-gutters"><!-- row -->
	<div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>
	<div class="col-md-8 col-sm-10 col-xs-12"><!-- col -->
		<div class="flex-video">
		    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-2 col-sm-1 hidden-xs">&nbsp;</div>
	</div><!-- #row -->
{% endif %}


	</div><!-- #container-fluid --> 
</section>
