{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% else %}
			{% set langue = "en" %}
		{% endif %}
	<!DOCTYPE html>
<html lang="{{ langue }}" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
{% if langue == "en" %}
		<meta name="description" content="Radical Cinema is a collective of artists and activists associated to counter the narrative.">
{% else %}
		<meta name="description" content="Radical Cinema est un collectif d'artistes et d'activistes associé.e.s pour contrer le récit.">
{% endif %}		<meta name="author" content="Radical Cinema">
		<title>Radical Cinema | {{ page.title }}</title>

		{% include 'partials/headers.html'%}

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="http://radicalcinema.org/about/">
{% else %}
  <meta property="og:url" content="http://radicalcinema.org/about/fr/">
{% endif %}
  <meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">



	</head>
  <body id="home">
{% include 'partials/menu.html' %}

<div class="container"><!-- container -->


<div class="row no-gutters"><!-- row -->

    <div class="col-sm-2 col-xs-12"><!-- col gauche -->
<div class="titreleft"><h3 class="titresection">{% if langue == "en" %}About us{% else %}À propos{% endif %}</h3></div>
   </div><!-- #col gauche -->


    <div class="col-sm-10 col-xs-12"><!-- col droite -->
<div class="contentsection"><!-- content section -->
{% if langue == "en" %}
<p class=""><b>Radical Cinema</b> is a collective of artists and activists associated to <b>counter the narrative.</b>.</p>
<p class="">In our publications, our shows and our movies, we seek a line of rightness.</p>
<p class="">We operate by consensus.</p>
<p class="">We occupy the unknown.</p>
{% else %}
<p class=""><b>Radical Cinema</b> est un collectif d'artistes et d'activistes associé.e.s pour <b>contrer le récit</b>.</p>
<p class="">Dans nos publications, nos spectacles et nos films, nous cherchons une ligne de justesse.</p>
<p class="">Nous fonctionnons au consensus.</p>
<p class="">Nous occupons l'inconnu.</p>
{% endif %}

{% if langue == "fr" %}
<div class="legal-info"><a href="{{ page.root_path }}legal/fr/">Mentions légales</a></div>
{% else %}
<div class="legal-info"><a href="{{ page.root_path }}legal/">Legal mentions</a></div>
{% endif %}

</div><!-- #content section -->
    </div><!-- #col droite -->

</div><!-- #row -->




</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>