{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
			{% set arlang = "ArticlesFR" %}
		{% else %}
			{% set langue = "en" %}
			{% set arlang = "ArticlesEN" %}
		{% endif %}
	<!DOCTYPE html>
<html lang="{{ langue }}" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
{% if langue == "en" %}
		<meta name="description" content="Radical Cinema is a collective of artists and activists associated to counter the narrative.">
{% else %}
		<meta name="description" content="Radical Cinema est un collectif d'artistes et d'activistes associé.e.s pour contrer le récit.">
{% endif %}		<meta name="author" content="Radical Cinema">
		<title>Radical Cinema | {{ page.title }}</title>

		{% include 'partials/headers.html'%}

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="http://radicalcinema.org/archives/">
{% else %}
  <meta property="og:url" content="http://radicalcinema.org/archives/fr/">
{% endif %}
  <meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">



	</head>
  <body id="home">

{% include 'partials/menu.html' %}

<div class="container"><!-- container -->


<div class="row no-gutters"><!-- row -->

    <div class="col-sm-2 col-xs-12"><!-- col gauche -->
<div class="titreleft"><h3 class="titresection">Archives</h3></div>
   </div><!-- #col gauche -->


    <div class="col-sm-10 col-xs-12"><!-- col droite -->
<div class="contentsection"><!-- content section -->







          {% set results = search(page.query.q) %}

{% if results %}
	{% if langue == "fr" %}
	  	<h4 class="petit_titre">Résultats de recherche</h4>
	{% else %}
	  	<h4 class="petit_titre">Search results</h4>
	{% endif %}
{% endif %}



          {% for result in results %}
			<p class="lignearchive">
			<span class="toutpeti"> 
			{{ result.date | date("d M Y") }}
			</span>
			<span class="menulien">
			<a href="{{ result.url }}">{{ result.title }}</a>
			</span>
			<span class="texte">{{ result.search_match }}</span>
			</p>
 
		  {% else %}

{% for child in page.root %}
	{% if child.title == arlang %}<!-- if Articles -->
		{% if child.children %}

<ul class="nav nav-tabs">
{% if langue == "fr" %}
  <li role="presentation" class="active"><a href="{{ child.root_path }}archives/fr/">Archives en français</a></li>
  <li role="presentation"><a href="{{ child.root_path }}archives/">Archives in english</a></li>
{% else %}
  <li role="presentation"><a href="{{ child.root_path }}archives/fr/">Archives en français</a></li>
  <li role="presentation" class="active"><a href="{{ child.root_path }}archives/">Archives in english</a></li>
{% endif %}
</ul>

			<div class="table-responsive">		  
			 <table class="table table-striped">		
			{% for child in child.children|reverse %}

			<tr><td><a href="{{ child.root_path }}{{child.permalink}}" class="grey3link">{{ child.title }}</a></td><td>
		{% if child.slug|cutmethatshit(0, 4) == "2015" or child.slug|cutmethatshit(0, 4) == "2016" or child.slug|cutmethatshit(0, 4) == "2017" %}
		<span class="small cgrey2"><time datetime="{{ child.slug|cutmethatshit(0, 4) }}-{{ child.slug|cutmethatshit(4, 2) }}-{{ child.slug|cutmethatshit(6, 2) }}T{{ child.slug|cutmethatshit(8, 2) }}:{{ child.slug|cutmethatshit(10, 2) }}:{{ child.slug|cutmethatshit(12, 2) }}+02:00" class="age">{{ child.slug|cutmethatshit(6, 2) }}/{{ child.slug|cutmethatshit(4, 2) }}/{{ child.slug|cutmethatshit(0, 4) }} - {{ child.slug|cutmethatshit(8, 2) }}:{{ child.slug|cutmethatshit(10, 2) }}:{{ child.slug|cutmethatshit(12, 2) }}</time></span>
		{% else %}
		{% if child.date %}<span class="small cgrey2">{{ child.date }}</span>{% endif %}
		{% endif %}				
			</td></tr>
 
			{% endfor %}
			 </table>
			</div>		
		{% endif %}
	{% endif %}<!-- #if Articles -->
{% endfor %}


 
          {% endfor %}



{% if results %}
{% endif %}






<script type="text/javascript">
  $('.age').age();
</script>


</div><!-- #content section -->
    </div><!-- #col droite -->

</div><!-- #row -->




</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>