{# initialisation de la langue #}
{% set langue = "" %}
	{% for page in page.parent %}		  
	
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
			{% set brlang = "BriefFR" %}
			{% set arlang = "ArticlesFR" %}
			{% set titreed = "Édition française" %}
		{% endif %}
		{% if page.slug == "en" %}
			{% set langue = "en" %}
			{% set brlang = "BriefEN" %}
			{% set arlang = "ArticlesEN" %}
			{% set titreed = "English edition" %}
		{% endif %}
	
	{% endfor %}
<!DOCTYPE html>
<html lang="{{ langue }}" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

{% if page.description %}
	{% if langue == "fr" %}
			<meta name="description" content="{{ page.description|striptags }}">
			<meta name="twitter:description" content="{{ page.description|striptags }}">
	{% else %}
			<meta name="description" content="{{ page.description|striptags }}">
			<meta name="twitter:description" content="{{ page.description|striptags }}">
	{% endif %}	
{% else %}	
			<meta name="description" content="{{ page.content|striptags|cutmethatshit(0,250) }}..">
			<meta name="twitter:description" content="{{ page.content|striptags|cutmethatshit(0,250) }}..">
{% endif %}	
		<meta name="author" content="Radical Cinema">
		<link rel="shortcut icon" href="{{ page.root_path }}public/images/favicon.ico">
		<title>{{ page.title }}</title>

		{% include 'partials/headers.html'%}
    <link href="{{ page.root_path }}public/css/article.css" rel="stylesheet">
	<script type="text/javascript" src="{{ page.root_path }}public/js/chart.js"></script>
  



<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@radicalcinema">
{% if page.twauteur != "" %}
<meta name="twitter:creator" content="@{{ page.twauteur }}">
{% else %}
<meta name="twitter:creator" content="@radicalcinema">
{% endif %}
<meta name="twitter:title" content="{{ page.title }}">
<meta name="twitter:url" content="https://radicalcinema.org/{{ page.permalink }}" />

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://radicalcinema.org/{{ page.permalink }}">

            	<!-- thumb -->
				  	{% if page.thumb %}
<meta name="twitter:image" content="https://radicalcinema.org/{{ page.file_path }}/thumb.jpg">
<meta property="og:image" content="https://radicalcinema.org/{{ page.file_path }}/thumb.jpg">
				{% else %}
<meta name="twitter:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">
<meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">
				  	{% endif %}
	            <!-- #thumb -->






	</head>
  <body id="home">


{% include 'partials/menu.html' %}

<div class="container"><!-- container -->

<div class="row no-gutters"><!-- row -->

    <div class="col-sm-2 hidden-xs"><!-- col gauche -->

<div class="dateleft">
		{% if page.slug|cutmethatshit(0, 4) == "2015" or page.slug|cutmethatshit(0, 4) == "2016" or page.slug|cutmethatshit(0, 4) == "2017" %}<time datetime="{{ page.slug|cutmethatshit(0, 4) }}-{{ page.slug|cutmethatshit(4, 2) }}-{{ page.slug|cutmethatshit(6, 2) }}T{{ page.slug|cutmethatshit(8, 2) }}:{{ page.slug|cutmethatshit(10, 2) }}:{{ page.slug|cutmethatshit(12, 2) }}+02:00" class="age">{{ page.slug|cutmethatshit(6, 2) }}/{{ page.slug|cutmethatshit(4, 2) }}/{{ page.slug|cutmethatshit(0, 4) }} - {{ page.slug|cutmethatshit(8, 2) }}:{{ page.slug|cutmethatshit(10, 2) }}:{{ page.slug|cutmethatshit(12, 2) }}</time>
		{% else %}
		{% if page.date %}{{ page.date }}{% endif %}
		{% endif %}

	    {% if page.twauteur %}<br class="hidden-xs" /><span class="visible-xs-only">&nbsp;|&nbsp;</span><a href="https://twitter.com/{{ page.twauteur }}" target="_blank" class="auteur"><i class="fa fa-twitter"></i>{% else %}<br class="hidden-xs" /><span class="visible-xs-only">&nbsp;|&nbsp;</span><span class="auteur">{% endif %}
			{% if page.auteur == "Anonymous" %}{% if langue == "fr" %}Anonyme{% else %}Anonymous{% endif %}{% elseif page.auteur != "" %}{{ page.auteur }}{% endif %}
	    {% if page.twauteur %}</a>{% else %}</span>{% endif %}

{% if page.token %}<!-- token -->


		<span class="divblack3"></span>
		<canvas id="avis" height="50" width="50" style="margin:0px!important;padding:0px!important;"></canvas>
		<canvas id="votes" height="50" width="50" style="margin:0px!important;padding:0px!important;"></canvas>
		<br />
		<a href="https://radicalcinema.org/article.php?tk={{ page.token }}" class="sLink" style="display:inline-block;"><i class="fa fa-list"></i> {% if langue == "en" %}Vote details{% else %}Détails du vote{% endif %}</a>

	<script>
	var percent;
	percentyesyes2 = {{ page.avisyesyes }};
	percentyes2 = {{ page.avisyes }};
	percentno2 = {{ page.avisno }};
	percentnono2 = {{ page.avisnono }};
	percentDiff2 = 100-{{ page.avisyesyes }}-{{ page.avisyes }}-{{ page.avisno }}-{{ page.avisnono }};
		var doughnutData2 = [
				{
			        value: percentnono2,
			        color:"#fd0080", 
			        label: "Pas du tout d'accord"
			    },
			    {
			        value: percentno2,
			        color: "#f1c40f",
			        label: "Moyennement d'accord"
			    },
			    {
			        value: percentyes2,
			        color: "#3498db",
			        label: "Plutôt d'accord"
			    },
			    {
			        value: percentyesyes2,
			        color: "#1abc9c",
			        label: "Tout à fait d'accord"
			    },
			    {
			        value: percentDiff2,
			        color: "#ccc",
			        label: "vide"
			    }
			];
			var myDoughnut2 = new Chart(document.getElementById("avis").getContext("2d")).Doughnut(doughnutData2,{segmentShowStroke : false, percentageInnerCutout : 60, animationSteps : 100, animationEasing : "easeOutBounce", animateRotate : true, animateScale : true});
    
   	</script>
	<script>
	var percent;
	percentyesyes = {{ page.voteyesyes }};
	percentyes = {{ page.voteyes }};
	percentno = {{ page.voteno }};
	percentnono = {{ page.votenono }};
	percentDiff = 100-{{ page.voteyesyes }}-{{ page.voteyes }}-{{ page.voteno }}-{{ page.votenono }};
		var doughnutData = [
				{
			        value: percentnono,
			        color:"#fd0080", 
			        label: "Pas du tout d'accord"
			    },
			    {
			        value: percentno,
			        color: "#f1c40f",
			        label: "Moyennement d'accord"
			    },
			    {
			        value: percentyes,
			        color: "#3498db",
			        label: "Plutôt d'accord"
			    },
			    {
			        value: percentyesyes,
			        color: "#1abc9c",
			        label: "Tout à fait d'accord"
			    },
			    {
			        value: percentDiff,
			        color: "#ccc",
			        label: "vide"
			    }
			];
			var myDoughnut = new Chart(document.getElementById("votes").getContext("2d")).Doughnut(doughnutData,{segmentShowStroke : false, percentageInnerCutout : 60, animationSteps : 100, animationEasing : "easeOutBounce", animateRotate : true, animateScale : true});
    
   	</script>


{% endif %}<!-- #token -->


</div>

    </div><!-- #col gauche -->


    <div class="col-sm-10 col-xs-12"><!-- col droite -->

	<article><!-- article -->


			{% if page.tag %}<span class="hashtag">#{{ page.tag }}</span>{% endif %}

						{% if page.content|striptags|length <= 700  %}<!-- box brève courte -->
						<h3>{{ page.title }}</h3>
						{% endif %} <!-- #box brève courte -->
						{% if page.content|striptags|length >= 701 and page.content|striptags|length <= 1000  %}<!-- box brève longue -->
						<h3>{{ page.title }}</h3>
						{% endif %} <!-- #box brève longue -->
						{% if page.content|striptags|length >= 1001  %}<!-- box article -->
						<h1>{{ page.title }}</h1>
						{% endif %} <!-- #box article -->


<!-- description -->
{% if page.description %}<p class="post-meta">{{ page.description }}</p>{% endif %}
<!-- #description -->
<span class="divblack2"></span>










<!-- soundcloud -->
{% if page.soundcloud %}{{ page.soundcloud }}{% endif %}
<!-- #soundcloud -->

<!-- EDITO -->
{% if page.edito %}


		  <div class="edito"><!-- center -->
{% if page.auteuredito != "" and page.auteuredito != "non" %}
						<tagedito>
						<span>Edito</span>
						{% if page.twauteuredito != "" %}<a href="https://twitter.com/{{ page.twauteuredito }}" target="_blank"><i class="fa fa-twitter"></i>{% else %}<span2>{% endif %}{{ page.auteuredito }}{% if page.twauteuredito != "" %}</a>{% else %}</span2>{% endif %}
						</tagedito>
{% endif %}	
			<div class="editotxt">{{ page.edito }}</div>
		  </div><!-- #center -->

{% endif %}
<!-- #EDITO -->





<!-- PAGE THUMB -->
{% if page.thumb and page.thumblegende %}
	
		<div class="row no-gutters"><!-- row -->
		  <div class="col-md-8 col-sm-8 col-xs-12"><!-- image -->
			<img src="{{ page.thumb.url }}" alt="{{ image.name }}" class="img-responsive">
		  </div><!-- #image -->
		  <div class="col-md-4 col-sm-4 col-xs-12"><!-- legende -->
			<!-- #LEGENDE -->
			{% if page.thumblegende %}
			<p class="legendethumb"><i class="fa fa-camera"></i> {{ page.thumblegende }}
				{% if page.auteurthumb %}<br /><span>&copy; {{ page.auteurthumb }} - 
					{% if page.copyrightthumb == 'by' %}
					<a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">Licence Creative Commons BY</a>
					{% elseif page.copyrightthumb == 'by-sa' %}
					<a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Licence Creative Commons BY-SA</a>
					{% elseif page.copyrightthumb == 'by-nc' %}
					<a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">Licence Creative Commons BY-NC</a>
					{% elseif page.copyrightthumb == 'by-nc-sa' %}
					<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Licence Creative Commons BY-NC-SA</a>
					{% elseif page.copyrightthumb == 'by-nc-nd' %}
					<a href="https://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">Licence Creative Commons BY-NC-ND</a>
					{% elseif page.copyrightthumb == 'artlibre' %}
					<a href="http://artlibre.org/lal" target="_blank">Licence Art-Libre</a>
					{% else %}
					Tous droits réservés.
					{% endif %}</span>
				{% endif %}</p>{% else %}
				{% if image.description %}<p class="legendethumb"><i class="fa fa-camera"></i> {{ image.description }}</p>{% endif %}
				{% endif %}
			<!-- #LEGENDE -->
		  </div><!-- #legende -->
		</div><!-- #row -->
<span class="divblack"></span>
{% endif %}
<!-- #PAGE THUMB -->





<!-- VIMEO TOP -->
{% if page.vimeo1 != "" and  page.vimeo2 == "" %}
<section class="article-onevideo">
			<div class="flex-video widescreen vimeo">
			<iframe src="https://player.vimeo.com/video/{{ page.vimeo1 }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
</section>
<span class="divblack"></span>
{% endif %}
{% if page.vimeo1 != "" and  page.vimeo2 != "" %}
<section class="article-media">
<div class="container-fluid"><!-- container-fluid -->
	<div class="row no-gutters"><!-- row -->
		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="flex-video widescreen vimeo">
			<iframe src="https://player.vimeo.com/video/{{ page.vimeo1 }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
			<div class="flex-video widescreen vimeo">
			<iframe src="https://player.vimeo.com/video/{{ page.vimeo2 }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
		</div>
	</div><!-- #row -->
</div><!-- #container-fluid --> 
</section>
<span class="divblack"></span>
{% endif %}
<!-- #VIMEO TOP -->


<!-- YOUTUBE 1 & 2 -->
{% if page.youtube1 != "" and  page.youtube2 == "" %}
<section class="article-onevideo">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube1 }}" frameborder="0" allowfullscreen></iframe>
				</div>
</section>
<span class="divblack"></span>
{% endif %}
{% if page.youtube1 != "" and  page.youtube2 != "" %}
<section class="article-media">
<div class="container-fluid"><!-- container-fluid -->
	<div class="row no-gutters"><!-- row -->
		<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube1 }}" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube2 }}" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
	</div><!-- #row -->
</div><!-- #container-fluid --> 
</section>
{% if page.youtube3 == "" and  page.youtube4 == "" %}<span class="divblack"></span>{% endif %}
{% endif %}
<!-- #YOUTUBE 1 & 2 -->




<!-- YOUTUBE 3 & 4 -->
{% if page.youtube3 != "" and  page.youtube4 == "" %}
<section class="article-onevideo">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube3 }}" frameborder="0" allowfullscreen></iframe>
				</div>
</section>
<span class="divblack"></span>
{% endif %}
{% if page.youtube3 != "" and  page.youtube4 != "" %}
<section class="article-media">
<div class="container-fluid"><!-- container-fluid -->
	<div class="row no-gutters"><!-- row -->
		<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube3 }}" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="flex-video">
				    <iframe width="420" height="315" src="https://www.youtube.com/embed/{{ page.youtube4 }}" frameborder="0" allowfullscreen></iframe>
				</div>
		</div>
	</div><!-- #row -->
</div><!-- #container-fluid --> 
</section>
<span class="divblack"></span>
{% endif %}
<!-- #YOUTUBE 3 & 4 -->




						{% if page.content|striptags|length <= 1000  %}<!-- box brève courte -->
<div class="simplebrief">
{{ page.content }}
</div>						{% endif %} <!-- #box brève courte -->
						{% if page.content|striptags|length >= 1001  %}<!-- box article -->
<div class="articlesimple">
{{ page.content }}
</div>
						{% endif %} <!-- #box article -->














   <div class="col-xs-12 visible-xs-block"><!-- col auteur+vote Mobile -->
<div class="dateleft" style="text-align:left!important;padding:20px 0px;">
		{% if page.slug|cutmethatshit(0, 4) == "2015" or page.slug|cutmethatshit(0, 4) == "2016" or page.slug|cutmethatshit(0, 4) == "2017" %}<time datetime="{{ page.slug|cutmethatshit(0, 4) }}-{{ page.slug|cutmethatshit(4, 2) }}-{{ page.slug|cutmethatshit(6, 2) }}T{{ page.slug|cutmethatshit(8, 2) }}:{{ page.slug|cutmethatshit(10, 2) }}:{{ page.slug|cutmethatshit(12, 2) }}+02:00" class="age">{{ page.slug|cutmethatshit(6, 2) }}/{{ page.slug|cutmethatshit(4, 2) }}/{{ page.slug|cutmethatshit(0, 4) }} - {{ page.slug|cutmethatshit(8, 2) }}:{{ page.slug|cutmethatshit(10, 2) }}:{{ page.slug|cutmethatshit(12, 2) }}</time>
		{% else %}
		{% if page.date %}{{ page.date }}{% else %}{% if langue == "en" %}Display{% else %}Afficher{% endif %}{% endif %}
		{% endif %}

	    {% if page.twauteur %}<br class="hidden-xs" /><span class="visible-xs-only">&nbsp;|&nbsp;</span><a href="https://twitter.com/{{ page.twauteur }}" target="_blank" class="auteur"><i class="fa fa-twitter"></i>{% else %}<br class="hidden-xs" /><span class="visible-xs-only">&nbsp;|&nbsp;</span><span class="auteur">{% endif %}
			{% if page.auteur == "Anonymous" %}{% if langue == "fr" %}Anonyme{% else %}Anonymous{% endif %}{% elseif page.auteur != "" %}{{ page.auteur }}{% endif %}
	    {% if page.twauteur %}</a>{% else %}</span>{% endif %}

{% if page.token %}<!-- token -->
<span class="divblack2"></span>


		<p class="txtleft">
		<canvas id="avis2" height="50" width="50" style="margin:0px!important;padding:0px!important;"></canvas>
		<canvas id="votes2" height="50" width="50" style="margin:0px!important;padding:0px!important;"></canvas>
		</p>
		<a href="https://radicalcinema.org/article.php?tk={{ page.token }}" class="sLink" style="display:inline-block;"><i class="fa fa-list"></i> {% if langue == "en" %}Vote details{% else %}Détails du vote{% endif %}</a>

	<script>
	var percent;
	percentyesyes2 = {{ page.avisyesyes }};
	percentyes2 = {{ page.avisyes }};
	percentno2 = {{ page.avisno }};
	percentnono2 = {{ page.avisnono }};
	percentDiff2 = 100-{{ page.avisyesyes }}-{{ page.avisyes }}-{{ page.avisno }}-{{ page.avisnono }};
		var doughnutData2 = [
				{
			        value: percentnono2,
			        color:"#fd0080", 
			        label: "Pas du tout d'accord"
			    },
			    {
			        value: percentno2,
			        color: "#f1c40f",
			        label: "Moyennement d'accord"
			    },
			    {
			        value: percentyes2,
			        color: "#3498db",
			        label: "Plutôt d'accord"
			    },
			    {
			        value: percentyesyes2,
			        color: "#1abc9c",
			        label: "Tout à fait d'accord"
			    },
			    {
			        value: percentDiff2,
			        color: "#ccc",
			        label: "vide"
			    }
			];
			var myDoughnut4 = new Chart(document.getElementById("avis2").getContext("2d")).Doughnut(doughnutData2,{segmentShowStroke : false, percentageInnerCutout : 60, animationSteps : 100, animationEasing : "easeOutBounce", animateRotate : true, animateScale : true});
    
   	</script>
	<script>
	var percent;
	percentyesyes = {{ page.voteyesyes }};
	percentyes = {{ page.voteyes }};
	percentno = {{ page.voteno }};
	percentnono = {{ page.votenono }};
	percentDiff = 100-{{ page.voteyesyes }}-{{ page.voteyes }}-{{ page.voteno }}-{{ page.votenono }};
		var doughnutData = [
				{
			        value: percentnono,
			        color:"#fd0080", 
			        label: "Pas du tout d'accord"
			    },
			    {
			        value: percentno,
			        color: "#f1c40f",
			        label: "Moyennement d'accord"
			    },
			    {
			        value: percentyes,
			        color: "#3498db",
			        label: "Plutôt d'accord"
			    },
			    {
			        value: percentyesyes,
			        color: "#1abc9c",
			        label: "Tout à fait d'accord"
			    },
			    {
			        value: percentDiff,
			        color: "#ccc",
			        label: "vide"
			    }
			];
			var myDoughnut3 = new Chart(document.getElementById("votes2").getContext("2d")).Doughnut(doughnutData,{segmentShowStroke : false, percentageInnerCutout : 60, animationSteps : 100, animationEasing : "easeOutBounce", animateRotate : true, animateScale : true});
    
   	</script>

<span class="divblack2"></span>
{% endif %}<!-- #token -->


</div>

    </div><!-- #col auteur+vote Mobile -->








	<span class="divblack"></span>
	<div id="briefbuttons">
	<a href="https://twitter.com/share?text={{ page.title|striptags }}&url=https://radicalcinema.org/{{page.permalink}}&via=radicalcinema" target="_blank" class="sTwitter"><i class="fa fa-twitter"></i>{% if langue == "en" %} Tweet!{% else %} Tweeter {% endif %}</a>
	<a href="https://www.facebook.com/sharer.php?u=https://radicalcinema.org/{{page.permalink}}" target="_blank" class="sFacebook"><i class="fa fa-facebook-square"></i>{% if langue == "en" %} Share{% else %} Partager{% endif %}</a>
	</div>

	</article><!-- #article -->

    </div><!-- #col droite -->

</div><!-- #row -->



</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>