
<!DOCTYPE html>
<html class="full" lang="en">
<!-- Make sure the <html> tag is set to the .full CSS class. Change the background image in the full.css file. -->

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Radical Cinema est un collectif d'artistes et d'activistes, associé.e.s pour contrer le récit. // Radical Cinema is a collective of artists and activists, associated to counter the narrative.">
		<meta name="author" content="Radical Cinema">

    <title>Radical Cinema</title>

		{% include 'partials/headers.html'%}
    <link href="{{ page.root_path }}public/css/homepage.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://radicalcinema.org/">
  <meta property="og:image" content="https://radicalcinema.org/public/images/v_small.jpg">

<script type="text/javascript">
<!-- Debut
// JavaScript pris sur le site: "http://www.java.scripts-fr.com"

if (navigator.browserLanguage)
var language = navigator.browserLanguage;

/*
Bon pour commencer on va faire une petite détection de la propriété browserLanguage de l'objet navigator et voir si le visiteur ne viens pas avec Internet Explorer.
Pourquoi ? Parce que tout simplement les développeur de chez Micro$oft ont "oubliés" d'implanter une propriété (language pour ne pas la citer) de l'objet navigator pour mettre la leur (qui n'existe donc pas en javascript). Donc il faut (encore) prévoir un cas spécial.
*/

else
var language = navigator.language;

/*
Donc si le visiteur a un navigateur intelligent qui comprend un minimum javascript, on va mettre dans la variable language la valeur retournée par la propriété language de l'objet navigator.
*/

if (language.indexOf('fr') > -1) document.location.href = '{{ page.root_path }}fr/';
// Bon on parle français hein donc c'est le premier test.
if (language.indexOf('fr') > -1) document.location.href = '{{ page.root_path }}fr/';
/* else if (language.indexOf('nl') > -1) document.location.href = 'neerlandais.html';
else if (language.indexOf('en') > -1) document.location.href = 'anglais.html';
else if (language.indexOf('de') > -1) document.location.href = 'allemand.html';
else if (language.indexOf('ja') > -1) document.location.href = 'japonais.html';
else if (language.indexOf('it') > -1) document.location.href = 'italien.html';
else if (language.indexOf('pt') > -1) document.location.href = 'portugais.html';
else if (language.indexOf('es') > -1) document.location.href = 'espagnol.html';
else if (language.indexOf('sv') > -1) document.location.href = 'suedois.html';
else if (language.indexOf('zh') > -1) document.location.href = 'chinois.html';*/
else
document.location.href = '{{ page.root_path }}en/';
// Ici la page par défaut si la langue n'est pas dans la liste

// fin du script -->
</script>

</head>

<body>


<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-4 col-md-offset-4">
	        

	        <div class="sidebarLogo2">
			<div class="logo2"><span>Radical Cinema</span></div>

<div class="padd10">
	<a href="{{ page.root_path }}fr/" class="btn-clean">Édition française</a>
	<a href="{{ page.root_path }}en/" class="btn-clean">English edition</a>

</div>	        
	        
        </div>
    </div>
</div>	

		{% include 'partials/footer.html'%}

</body>

</html>
