{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "en" %}
			{% set langue = "en" %}
			{% set arlang = "ArticlesEN" %}
			{% set titreed = "English edition" %}
		{% else %}
			{% set langue = "fr" %}
			{% set arlang = "ArticlesFR" %}
			{% set titreed = "Édition française" %}
		{% endif %}

{% set head1 = "" %}		
{% set head2 = "" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% if langue == "fr" %}
		<meta name="description" content="Radical Cinema est un collectif d'artistes et d'activistes, associé.e.s pour contrer le récit.">
{% else %}
		<meta name="description" content="Radical Cinema is a collective of artists and activists, associated to counter the narrative.">
{% endif %}    <meta name="author" content="Radical Cinema">
    <title>Radical Cinema</title>
	<link rel="shortcut icon" href="{{ page.root_path }}public/images/favicon.ico">

		{% include 'partials/headers.html'%}
    <link href="{{ page.root_path }}public/css/box.css" rel="stylesheet">
    <link href="{{ page.root_path }}public/css/bigpicture.css" rel="stylesheet">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@radicalcinema">
<meta name="twitter:creator" content="@radicalcinema">
<meta name="twitter:title" content="Radical Cinema">
<meta name="twitter:url" content="https://radicalcinema.org/{{ langue }}/" />
<meta property="og:site_name" content="Radical Cinema">
<meta property="og:type" content="website">
<meta property="og:url" content="https://radicalcinema.org/{{ langue }}/">

{%  block bigpicture_a %}
{% set page = get(page.bigpicture_url) %}
{% if page.featured != "none" %}
	{% if page.thumb %}
	<meta name="twitter:image" content="https://radicalcinema.org/{{ page.file_path }}/thumb.jpg">
	<meta property="og:image" content="https://radicalcinema.org/{{ page.file_path }}/thumb.jpg">
	{% else %}
	<meta name="twitter:image" content="https://radicalcinema.org/public/images/v_small.jpg">
	<meta property="og:image" content="https://radicalcinema.org/public/images/v_small.jpg">
	{% endif %}
{% else %}
	<meta name="twitter:image" content="https://radicalcinema.org/public/images/v_small.jpg">
	<meta property="og:image" content="https://radicalcinema.org/public/images/v_small.jpg">
{% endif %}
{%  endblock %}

		<style>

video { 
  background: #000;
  border: 20px solid #000;
  cursor: pointer;
}

		</style>
  </head>
  <body id="home">

{% if page.featured == "bigpicture" %}
{% include 'partials/bigpicture.html'%}
{% endif %}

{% include 'partials/menu.html' %}  

<div class="container">



	{% set antiDoublons = [] %} 
	{% if page.featured=="bigpicture" %}
	{% set antiDoublons = antiDoublons|merge([page.bigpicture_url]) %}
	{% endif %}
	{% include 'partials/last-stories.html'%}

<div id="footer">
<a id="scroll-to-top" href="#home"><i class="fa fa-chevron-circle-up"></i></a>
</div>


</div> <!-- #container -->




{% include 'partials/footer.html'%}
</body>
</html>
