{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% else %}
			{% set langue = "en" %}
		{% endif %}
<!DOCTYPE html>
<html lang="{{ langue }}" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
{% if langue == "en" %}
		<meta name="description" content="Join Radical Cinema, a collective of artists and activists, associated to counter the narrative.">
{% else %}
		<meta name="description" content="Rejoignez Radical Cinema, un collectif d'artistes et d'activistes, associé.e.s pour contrer le récit.">
{% endif %}
		<meta name="author" content="Radical Cinema">
		<link rel="shortcut icon" href="{{ page.root_path }}public/images/favicon.ico">
		<title>{% if langue == "en" %}Join Radical Cinema{% else %}Adhérer à Radical Cinema{% endif %}</title>

		{% include 'partials/headers.html'%}
    <link href="{{ page.root_path }}public/css/pricing.css" rel="stylesheet">


  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="https://radicalcinema.org/join/">
{% else %}
  <meta property="og:url" content="https://radicalcinema.org/join/fr/">
{% endif %}
<meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">


	</head>
  <body id="home">
{% include 'partials/menu.html' %}

<div class="container"><!-- container -->


<div class="row no-gutters"><!-- row -->

    <div class="col-sm-3 col-xs-12"><!-- col gauche -->
<div class="titreleft"><h3 class="titresection">{% if langue == "en" %}Join us{% else %}Adhérer{% endif %}</h3>
{% if langue == "en" %}
<p>Take a stand, join Radical Cinema to participate in our activities or to support us <i class="fa fa-arrow-circle-right hidden-xs"></i> <i class="fa fa-arrow-circle-down visible-xs-only"></i></p>
{% else %}
<p>Prenez position, adhérez à Radical Cinema pour participer à nos activités ou les soutenir <i class="fa fa-arrow-circle-right hidden-xs"></i> <i class="fa fa-arrow-circle-down visible-xs-only"></i></p>
{% endif %}

</div>
   </div><!-- #col gauche -->


    <div class="col-sm-9 col-xs-12"><!-- col droite -->

	 {% include 'partials/pricing-table.html' with {'langue': langue} %}
    </div><!-- #col droite -->

</div><!-- #row -->



</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>