{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% else %}
			{% set langue = "en" %}
		{% endif %}
	<!DOCTYPE html>
<html lang="{{ langue }}" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
{% if langue == "en" %}
		<meta name="description" content="Mentions légales">
{% else %}
		<meta name="description" content="Legal mentions">
{% endif %}		<meta name="author" content="Radical Cinema">
		<title>Radical Cinema | Mentions légales</title>

		{% include 'partials/headers.html'%}

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="http://radicalcinema.org/legal/">
{% else %}
  <meta property="og:url" content="http://radicalcinema.org/legal/fr/">
{% endif %}
<meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">



	</head>
  <body id="home">


{% include 'partials/menu.html' %}

<div class="container"><!-- container -->


<div class="row no-gutters"><!-- row -->

    <div class="col-sm-2 col-xs-12"><!-- col gauche -->
<div class="titreleft"><h3 class="titresection">{% if langue == "en" %}Legal mentions{% else %}Mentions légales{% endif %}</h3></div>
   </div><!-- #col gauche -->


    <div class="col-sm-10 col-xs-12"><!-- col droite -->
<div class="contentsection"><!-- content section -->
					<p><em>Radical Cinema</em> est une association loi 1901, domiciliée à Paris.
					<br />Ce site web fonctionne avec <a href="http://www.staceyapp.com/" target="'_blank">Stacey 3.0</a> et <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, merci aux auteurs, on kiffe !
					<p>&nbsp;</p>
					<p class="petit_titre">Droits d’auteurs</p>
					<p style="text-align:justify;">Lorsqu'ils publient sur <em>Radical Cinema</em>, nous encourageons le plus possible nos auteurs à diffuser leur oeuvre ou contribution sous <a href="https://fr.wikipedia.org/wiki/%C5%92uvre_libre" target="_blank">licence libre</a>. Néanmoins ils sont libres de leur choix, il vous appartient donc de vérifier sur la page de l'article ou du projet la licence associée pour connaître les conditions de ré-utilisation.
					<br /> Le reste du site <em>Radical Cinema</em> est sous <a href="http://artlibre.org" target="_blank">licence Art-Libre</a>.</p>
					<p>&nbsp;</p>
					<p class="petit_titre">Données personnelles</p>
					<p><em>Radical Cinema</em> est en cours d'enregistrement auprès de la <em>CNIL</em>.
					<br />En application des articles 39 et suivants de la loi du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez nous contacter.</p>
					<p>&nbsp;</p>
					<p class="petit_titre">Cookies</p>					
					<p>Nous utilisons Google Analytics, c'est mal. <br />Vous aussi, utilisez <a href="https://www.ghostery.com/try-us/download-browser-extension/" target="_blank">Ghostery</a> pour voir qui vous espionne ! <br />(Puis comparez Radical Cinema avec <a href="http://canalplus.fr" target="_blank">canalplus.fr</a> par exemple)</p>
					<p class="petit_titre">Hébergeur</p>
					<p><i class="fa fa-cloud"></i> OVH
					<br />SAS au capital de 10 000 000 €
					<br />RCS Roubaix – Tourcoing 424 761 419 00045
					<br />Code APE 6202A
					<br />N° TVA : FR 22 424 761 419
					<br /><i class="fa fa-home"></i> Siège social
					<br />2 rue Kellermann
					<br />59100 ROUBAIX
					<br />FRANCE</p>
					<p>&nbsp;</p>
					<p class="petit_titre">Contact</p>
					<p>Pour toute autre demande d'information veuillez nous contacter à l'adresse : 
					<br /><span class="cgreen"><b>administration @ radicalcinema . org</b></span></p>	  
					<p>&nbsp;</p>	

</div><!-- #content section -->
    </div><!-- #col droite -->

</div><!-- #row -->




</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>