{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% else %}
			{% set langue = "en" %}
		{% endif %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
	{% if langue == "fr" %}
			<meta name="description" content="Radical Cinema | Assemblée Générale Permanente">
			<meta name="twitter:description" content="Radical Cinema | Assemblée Générale Permanente">
	{% else %}
			<meta name="description" content="Radical Cinema | Permanent General Assembly">
			<meta name="twitter:description" content="Radical Cinema | Permanent General Assembly">
	{% endif %}	

		<meta name="author" content="Radical Cinema">
		<link rel="shortcut icon" href="{{ page.root_path }}public/images/favicon.ico">
		<title>Radical Cinema | Assemblée Générale</title>

		{% include 'partials/headers.html'%}
  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="http://radicalcinema.org/login/">
{% else %}
  <meta property="og:url" content="http://radicalcinema.org/login/fr/">
{% endif %}

    <link href="{{ page.root_path }}public/css/login.css" rel="stylesheet">
  <meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">


	</head>
  <body id="home">


{% include 'partials/menu.html' %}

<div class="container txtcenter"><!-- container -->





            <div class="loginbloc">
                {% if langue == "en" %}
                <p class="form-title"><span>Permanent</span><br /> General Assembly</p>
                <form class="login" method="post" action="https://radicalcinema.org/kitchen/index.php">
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />
                <input type="hidden" name="lang" value="en">
                <input type="submit" value="Sign In" name="login" class="btn-dark-small" />
                <p>Not yet member? <a href="{{ page.root_path }}join/">Join-us</a></p>
                </form>
				{% else %}
                <p class="form-title">Assemblée Générale<bt /> <span>Permanente</span></p>
                <form class="login" method="post" action="https://radicalcinema.org/kitchen/index.php">
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Mot de passe" name="password" />
                <input type="hidden" name="lang" value="fr">
                <input type="submit" value="Connexion" name="login" class="btn-dark-small" />				
                </form>
                <p>Pas encore membre ? <a href="{{ page.root_path }}join/fr/">Rejoignez-nous</a></p>
				{% endif %}
            </div>





</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>