{# initialisation de la langue #}
{% set langue = "" %}
	{% for page in page.parent %}		  
	
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% endif %}
		{% if page.slug == "prod" %}
			{% set langue = "en" %}
		{% endif %}
	
	{% endfor %}
<!DOCTYPE html>
<html lang="{{ langue }}" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

{% if langue == "fr" %}
		<meta name="description" content="{{ page.punchline|striptags }} - Production Radical Cinema.">
		<meta name="twitter:description" content="{{ page.punchline|striptags }} - Production Radical Cinema.">
{% else %}
		<meta name="description" content="{{ page.punchline|striptags }} - Produced by Radical Cinema.">
		<meta name="twitter:description" content="{{ page.punchline|striptags }} - Produced by Radical Cinema.">
{% endif %}		

		<meta name="author" content="Radical Cinema">
		<link rel="shortcut icon" href="{{ page.root_path }}public/images/favicon.ico">
		<title>{{ page.title }}</title>

		{% include 'partials/headers.html'%}
    <link href="{{ page.root_path }}public/css/prod.css" rel="stylesheet">



<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@radicalcinema">
{% if page.twauteur != "" %}
<meta name="twitter:creator" content="@{{ page.twauteur }}">
{% else %}
<meta name="twitter:creator" content="@radicalcinema">
{% endif %}
<meta name="twitter:title" content="{{ page.title|striptags }}">
<meta name="twitter:url" content="https://radicalcinema.org/{{ page.permalink }}" />

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://radicalcinema.org/{{ page.permalink }}">

            	<!-- thumb -->
				  	{% if page.thumb %}
<meta name="twitter:image" content="https://radicalcinema.org/{{ page.file_path }}/thumb.jpg">
<meta property="og:image" content="https://radicalcinema.org/{{ page.file_path }}/thumb.jpg">
				{% else %}
<meta name="twitter:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">
<meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">
				  	{% endif %}
	            <!-- #thumb -->




<!-- Core CSS file -->
<link rel="stylesheet" href="{{ page.root_path }}public/dist-photoswipe/photoswipe.css"> 

<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite, 
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ page.root_path }}public/dist-photoswipe/default-skin/default-skin.css"> 

<!-- Core JS file -->
<script src="{{ page.root_path }}public/dist-photoswipe/photoswipe.min.js"></script> 

<!-- UI JS file -->
<script src="{{ page.root_path }}public/dist-photoswipe/photoswipe-ui-default.min.js"></script> 


	</head>
  <body id="home">


{% include 'partials/menu.html' %}

<div class="container"><!-- container -->


<div class="row no-gutters"><!-- row -->


    <div class="col-sm-12 col-xs-12"><!-- col droite -->
<article>
<h3>{{ page.title }}</h3>
{% if page.punchline %}<p class="post-meta txtcenter">{{ page.punchline }}</p>{% endif %}
<img src="{{ page.thumb.url }}" alt="{{ image.name }}" class="img-responsive col-xs-12 thumbprod">	
{% if page.description %}<div class="post-meta">{{ page.description }}</div>{% endif %}


{% if page.vimeo %}
<section class="article-onevideo">
			<div class="flex-video widescreen vimeo">
			<iframe src="https://player.vimeo.com/video/{{ page.vimeo }}?title=0&amp;amp;color=ffffff&amp;amp;byline=0&amp;amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
			</div>
</section>
<span class="divblack"></span>
{% endif %}


<div class="articlesimple">
{{ page.content }}
</div>


	<span class="divblack"></span>
	<div id="briefbuttons">
	<a href="https://twitter.com/share?text={{ page.title|striptags }}&url=https://radicalcinema.org/{{page.permalink}}&via=radicalcinema" target="_blank" class="sTwitter"><i class="fa fa-twitter"></i>{% if langue == "en" %} Tweet!{% else %} Tweeter {% endif %}</a>
	<a href="https://www.facebook.com/sharer.php?u=https://radicalcinema.org/{{page.permalink}}" target="_blank" class="sFacebook"><i class="fa fa-facebook-square"></i>{% if langue == "en" %} Share{% else %} Partager{% endif %}</a>
	</div>


</article>



    </div><!-- #col droite -->

</div><!-- #row -->




</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>