{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% else %}
			{% set langue = "en" %}
		{% endif %}
<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Radical Cinema | Productions</title>


		{% include 'partials/headers.html'%}

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="http://radicalcinema.org/prod/">
{% else %}
  <meta property="og:url" content="http://radicalcinema.org/prod/fr/">
{% endif %}
  <meta property="og:image" content="https://radicalcinema.org/public/images/thumb-default-rc.jpg">



	<link rel="stylesheet" href="{{ page.root_path }}public/css/prod.css"> <!-- Resource style -->


</head>
  <body id="home">


{% include 'partials/menu.html' %}

<div class="container"><!-- container -->


<div class="row no-gutters"><!-- row -->

    <div class="col-sm-3 col-xs-12"><!-- col gauche -->
<div class="titreleft"><h3 class="titresection">Productions</h3>
{% if langue == "en" %}
<p>TIn addition to his editorial activity, Radical Cinema produces movies and shows <i class="fa fa-arrow-circle-right hidden-xs"></i> <i class="fa fa-arrow-circle-down visible-xs-only"></i></p>
{% else %}
<p>En plus de son activité éditoriale, Radical Cinema produit des films et des spectacles <i class="fa fa-arrow-circle-right hidden-xs"></i> <i class="fa fa-arrow-circle-down visible-xs-only"></i></p>
{% endif %}
</div>
   </div><!-- #col gauche -->


    <div class="col-sm-9 col-xs-12"><!-- col droite -->
<div class="contentsection"><!-- content section -->


    <div class="container-fluid" id="tourpackages-carousel">
		<div class="row no-gutters"><!-- row -->
		{% for page in page.children %}
		        <div class="col-xs-12 col-md-6">
		          <div class="thumbnail">
		            <a href="{{ page.root_path }}{{page.permalink}}"><img src="{{ page.thumb.url }}" alt=""></a>
		              <div class="caption">
		                <h4>{{ page.title }}</h4>
		                <p>{{ page.punchline }}</p>
		            </div>
		          </div>
		        </div>
		{% else %}
		<p>Vide ?</p>
		{% endfor %}
		</div><!-- #row -->	
    </div><!-- End container -->


</div><!-- #content section -->
    </div><!-- #col droite -->

</div><!-- #row -->




</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>