{# initialisation de la langue #}
{% set langue = "" %}
		{% if page.slug == "fr" %}
			{% set langue = "fr" %}
		{% else %}
			{% set langue = "en" %}
		{% endif %}

<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1">
{% if langue == "en" %}
		<meta name="description" content="To publish on Radical Cinema, this is easy, this is here.">
{% else %}
		<meta name="description" content="Pour publier sur Radical Cinema, c'est simple, c'est ici.">
{% endif %}

		<meta name="author" content="Radical Cinema">
		<link rel="shortcut icon" href="{{ page.root_path }}public/images/favicon.ico">
	{% if langue == "fr" %}
		<title>Radical Cinema | Publier</title>
	{% else %}
		<title>Radical Cinema | Publish</title>
	{% endif %}
		{% include 'partials/headers.html'%}

  <meta property="og:site_name" content="Radical Cinema">
  <meta property="og:type" content="website">
{% if langue == "en" %}
  <meta property="og:url" content="https://radicalcinema.org/publish/">
{% else %}
  <meta property="og:url" content="https://radicalcinema.org/publish/fr/">
{% endif %}
<meta property="og:image" content="https://radicalcinema.org/public/images/thumb-edit-rc.jpg">


    <link href="{{ page.root_path }}public/css/publish.css" rel="stylesheet">

<script src='{{ page.root_path }}public/tinymce/tinymce.min.js'></script>


  <script>
tinymce.init({
  selector: 'span#hashtag',
  inline: true,
  toolbar: false,
  menubar: false,
  plugins: "paste",
  paste_as_text: true
});
tinymce.init({
  selector: 'h3#titre',
  inline: true,
  toolbar: false,
  menubar: false,
  plugins: "paste",
  paste_as_text: true
});
tinymce.init({
  selector: 'p#description',
  inline: true,
  toolbar: false,
  menubar: false,
  plugins: "paste",
  paste_as_text: true
});
tinymce.init({
  selector: 'div#texte',
  inline: true,
  plugins: [
    'link',
    'code',
    'paste'
  ],
  toolbar: 'bold italic link',
  menubar: false,
  paste_as_text: true
});
  </script>


	</head>
  <body id="home">

{% include 'partials/menu.html' %}

<div class="container"><!-- container -->



<form id="publishForm" action="{{ page.root_path }}article.php" method="post">
	<article><!-- article -->

			{% if langue == "fr" %}
	<span class="hashtag">#<span id="hashtag">Hashtag (optionnel)</span></span>
	<h3 id="titre">Commencez ici en indiquant un titre</h3>
	<p class="post-meta" id="description">Sous-titre</p>
	<div class="articlesimple" id="texte">Puis posez votre texte ici.</div>
			{% else %}
	<span class="hashtag">#<span id="hashtag">Hashtag (optional)</span></span>
	<h3 id="titre">Start with a title</h3>
	<p class="post-meta" id="description">Subtitle</p>
	<div class="articlesimple" id="texte">Then write your text here.</div>
			{% endif %}

<!-- VIDEO -->
<div class="checkbox">
<label>
  <input type="checkbox" name="video" id="video" value="yes"> <i class="fa fa-vimeo-square"></i> Vimeo
</label>
</div>
<div id="videoform">
	{% if langue == "fr" %}
	<p>Vous pouvez intégrer une ou deux vidéos à votre article.</p>
	{% else %}
	<p>You can embed one or two videos in your article.</p>
	{% endif %}
	<div class="input-group">
	  <div class="input-group-addon">https://vimeo.com/</div>
	  <input type="text" class="form-control" id="vimeo1" name="vimeo1" value="" placeholder="id vimeo">
	</div>
	<div class="input-group">
	  <div class="input-group-addon">https://vimeo.com/</div>
	  <input type="text" class="form-control" id="vimeo2" name="vimeo2" value="" placeholder="id vimeo">
	</div>
</div><!--#videoform -->
<!-- #VIDEO -->

<!-- SOUNDCLOUD -->
<div class="checkbox">
<label>
  <input type="checkbox" name="soundcloud" id="soundcloud" value="yes"> <i class="fa fa-soundcloud"></i> Soundcloud
</label>
</div>
<div id="soundcloudform">
	{% if langue == "fr" %}
	<p>Vous pouvez intégrer une piste Soundcloud à votre article.</p>
	<p>[ Au format horizontal obligatoirement, parce qu'on n'est pas des gadjés. ]</p>
	{% else %}
	<p>You can embed one track from Soundcloud in your article.</p>
	<p>[ In horizontal format please. ]</p>
	{% endif %}
      <textarea name="soundcloud_code" id="soundcloud_code"></textarea>

</div><!--#videoform -->
<!-- #SOUNDCLOUD -->
<!-- YOUTUBE -->
<div class="checkbox">
<label>
  <input type="checkbox" name="youtube" id="youtube" value="yes"> <i class="fa fa-youtube"></i> Youtube
</label>
</div>
<div id="youtubeform">
	{% if langue == "fr" %}
	<p>Vous pouvez intégrer une ou deux vidéos à votre article.</p>
	{% else %}
	<p>You can embed one or two videos in your article.</p>
	{% endif %}
	<div class="input-group">
	  <div class="input-group-addon">https://www.youtube.com/watch?v=</div>
	  <input type="text" class="form-control" id="youtube1" name="youtube1" value="" placeholder="id youtube">
	</div>
	<div class="input-group">
	  <div class="input-group-addon">https://www.youtube.com/watch?v=</div>
	  <input type="text" class="form-control" id="youtube2" name="youtube2" value="" placeholder="id youtube">
	</div>
</div><!--#videoform -->
<!-- #YOUTUBE -->

<input type="hidden" name="submitform" value="yes" />
<p class="txtcenter">
	{% if langue == "fr" %}
	<input type="hidden" name="edition" value="fr" />
	<button type="submit" id="submit" class="btn-article"><i class="fa fa-location-arrow" id="ibtn"></i> Proposer</button>
	{% else %}
	<input type="hidden" name="edition" value="en" />
	<button type="submit" id="submit" class="btn-article"><i class="fa fa-location-arrow" id="ibtn"></i>  Submit</button>	
	{% endif %}
</p>



	</article><!-- #article -->
	
	

</form>


<div id="preview"></div>
	  


</div><!-- #container -->
{% include 'partials/footer.html'%}
</body>
</html>